[2017-10-14 20:39] vlio20 commented on #163
@Hampfter, why is your solution considered dirty?

The problem is with `ngAfterViewInit`.

Solution example:
https://github.com/angular/material2/pull/6050/files

[2017-10-16 16:18] joakimgk commented on #212
But, the point is to be able to display a picker which shows, say, a 3x4 matrix of years:

` <                           >`
`2017 2018 2019 2020`
`2021 2022 2023 2024`
`2025 2026 2027 2028`

 Setting the options you're suggesting, we're still seeing a _month_ picker. I need a component where the user can click and select 2019, for example. Not some month in 2019, just the year.

[2017-10-16 16:29] vlio20 commented on #212
@joakimgk, I understand your requirement, but I don't want currently change the current implementation.

Do you want to PR? if so, we can add an option to choose between the 2 implementations.

[2017-10-16 16:52] WaterBleu opened #245 "[BUG] value.split is not a function"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2017-10-16 16:58] WaterBleu commented on #245
@vlio20  problem only exist in 2.5 and above, rolled back to 2.4 and was fine

[2017-10-16 17:06] vlio20 commented on #245
Please rovide the component you are using and your configuration

[2017-10-16 18:59] WaterBleu commented on #245
<input #datePicker [(ngModel)]="selectedDate"  [dpDayPicker]="dtPickerConfigWithoutTime" theme="dp-material" attachTo=".page-date-picker">

dtPickerConfigWithoutTime = {
      format: 'YYYY-MM-DD',
      closeOnSelect: true
};

[2017-10-16 21:11] vlio20 commented on #245
Resolved in 94af6c1. Will be available in 2.6.0.

Thanks for raising the issue.

[2017-10-16 21:11] #245 closed

[2017-10-16 21:12] #239 closed

[2017-10-17 11:58] ocassio opened #247 "No provider for UtilsService!"
Hi,

I've just installed your component as it's described in [Installation](https://github.com/vlio20/angular-datepicker#installation) section.

After adding it to my component as `<dp-date-picker></dp-date-picker>` it started to crash with the following error:

`
ERROR Error: No provider for UtilsService!
    at injectionError (core.es5.js:1232)
    at noProviderError (core.es5.js:1270)
    at Re

[2017-10-17 12:16] vlio20 commented on #247
hi, please create a stackblitz.

[2017-10-17 12:35] ocassio commented on #247
Hm... Can't reproduce it on stackblitz with the same dependencies.
Seems to be a problem specific to our project structure.
Closing for now. Will reopen if find anything worth your attention. :)
Thanks.

[2017-10-17 12:35] #247 closed

[2017-10-17 13:07] Daewl opened #248 "min and max selecteble dates"
Hello All,

i am trying to achive, disable past days and allow only selectible 4 days later include today.

thanks for help.

[2017-10-17 14:05] vlio20 commented on #248
You can use the disabled callback. You can find it in the documentation. Would be helpful if you provide a stackblitz

[2017-10-17 14:05] #248 closed

[2017-10-17 14:24] Daewl commented on #248
Sorry, new to angular and typescript.tried to use stackblitz but got some errors so here is my code i used.

--html--
<form action="/" method="post" class="form-login-lc basic-form" #userform="ngForm" (ngSubmit)="complateMyOrder(userform.value)">
<dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig" name="selectedDate" theme="dp-material"></dp-date-picker>
</form>

--component.ts-

[2017-10-17 14:29] Daewl commented on #248
member can only select 17,18,19 and 20th of october, tomorrow it will ve 18,19,20 and 21th of october and so on.

[2017-10-17 14:31] vlio20 commented on #248
`isDayDisabledCallback` is your friend, you can put there any logic that you like

[2017-10-17 15:34] Daewl commented on #248
here is stackblitz:
https://angular-sevzfn.stackblitz.io

[2017-10-18 07:58] Daewl commented on #248
https://stackblitz.com/edit/angular-sevzfn

[2017-10-18 12:23] dgroh opened #249 "ReactiveForms printing out date as string"
I'm using `ReactiveForms`

We introduced the `dpDayPicker` as per docs, like that:

`<input type="text" formControlName="myDate" [dpDayPicker]="datePickerConfig" />`

That is our `datePickerConfig`:

[code]
That is the result once a day is selected:

![image](https://user-images.githubusercontent.com/16785357/31718325-d1e73b5e-b40f-11e7-931a-4eeb17d53e28.png)

Why is it showing as a string and not

[2017-10-18 13:24] dgroh opened #250 "Documentation for max date Moment|String is wrong?"
When trying to set the `max` property of the `IDatePickerConfig` as a string, it does not work.

The documentation says it can be either String or Moment.

![image](https://user-images.githubusercontent.com/16785357/31721016-7a4640e4-b418-11e7-91f6-39919fff9be2.png)

[2017-10-18 13:35] vlio20 commented on #250
Sounds like a bug.
Will take a look.

[2017-10-18 13:37] vlio20 commented on #249
What are you expecting to receive?

[2017-10-18 13:41] dgroh commented on #249
I'll close this issue. I see that the `log` is printing out the correct date as:

`Wed Feb 01 2017 00:00:00 GMT+0100 (Mitteleuropäische Zeit)`

So is something I have to handle in the callback. I think it was a misunderstanding

[2017-10-18 13:41] #249 closed

[2017-10-18 16:12] dgroh opened #251 "How to properly style?"
I'm using the standard theme `dp-material`, it looks odd:

![image](https://user-images.githubusercontent.com/16785357/31729588-b49804b4-b42f-11e7-9dc2-a7800dcc1f7d.png)

How do I set the `width` for the container? Also the circles are way too ovals.

Is there any documentation for styling?

[2017-10-18 17:44] vlio20 commented on #251
this is looking very bad indeed...
Maybe some other styles are effecting your implementation. try to set the `appendTo: 'body'`.

Let me know if it helps, if not please post a stackblitz.

[2017-10-18 19:37] ninethug opened #252 "[New feature] Use table instead of div"
Hi there,

Is it possible to make the calendar responsive ? To take all the width of the parent container ?
It seems that .dp-calendar-day and .dp-calendar-weekday fix the width of every single day and the sum gives the width of the calendar.

I suggest to use a table instead of div inside divs to make it take all the width of the parent container  and also to make it responsive.

[2017-10-18 19:52] vlio20 commented on #252
using table instead of a div is something that I want to do...
PR will be very welcomed!

[2017-10-18 19:58] ninethug commented on #252
PR stands for ? (english is not my principle language)

[2017-10-18 20:14] vlio20 commented on #252
Pull Request.
If you are new to contributing and submitting a PR please see the following: https://help.github.com/articles/creating-a-pull-request/

If you have any question or you need any further help, please let me know - I would be very happy to assist you.

[2017-10-18 20:57] ninethug commented on #252
Pull Request, of course 😄
I'd be glad to contribute to make it responsive but I'm short for now. I'm trying to find a faster alternative, but It would be my pleasure to help you with it once I have more time.

[2017-10-19 03:05] shizhenbin opened #253 "I'm sorry, I can't find how to set the init time, please tell me how to set the init time?"
someome help me please

[2017-10-19 03:22] shizhenbin commented on #253
I have soleved this issue, please ignored

[2017-10-19 03:23] #253 closed

[2017-10-19 03:57] vlio20 commented on #252
So I will keep this one open, until I will get a chance to get to it.

[2017-10-19 07:08] dgroh commented on #251
I created a stackblitz but it looks good there: https://stackblitz.com/edit/angular-trty1e

I'm trying to see what is making this in my environment, but I don#t find any css overriding it, but in any case would be good if we could override the theme, set a width, height and so on?

[2017-10-19 07:23] dgroh commented on #251
just found the place and fixed it, but how can I set the width of the datepicker so that it has the same size of the input?

![image](https://user-images.githubusercontent.com/16785357/31758783-23918208-b4af-11e7-8d0f-2db139b6c539.png)

[2017-10-19 07:41] vlio20 commented on #251
Currently not possible. Will be easier with https://github.com/vlio20/angular-datepicker/issues/252

As a workaround you will have to do the adjustments in your css.

[2017-10-19 07:41] #251 closed

[2017-10-19 12:24] miyolou opened #254 "displayDate on the directive one doesn't work"
Hi there,

I was using the directive datepicker and I couldn't get the displayDate working at all and turns out even on the demo it doesn't work when I populate the display date on the date time picker directive while the date time picker works ok.

Not working:
https://prnt.sc/gzchkx

Working:
https://prnt.sc/gzchyk

[2017-10-19 12:49] vlio20 commented on #254
Hi. It would be great if you will post a stackblitz demo.

[2017-10-19 16:21] dgroh opened #256 "Make min date as default when calendar opens"
Is it possible to make a default date in calendar if I set it to min?

Scenario: The current date is `10-19-2017`, but the min date that the user can select is `12-01-2017`

When the user opens the DatePicker, he is going to see `10-19-2017` and won't understand what is happening. This is a common feature for the most of DatePicker controls.

Using `displayDate` could solve this, but thing is we d

[2017-10-19 16:33] miyolou commented on #254
I'm sorry, been racking my head on this and realised it wasn't a config but an attribute to the component. The question now then is, is displayDate supported for the directive version?

[2017-10-19 16:49] vlio20 commented on #254
yes, it should be. The  `displayDate ` is only for open the calendar on a specific date (default is today)

[2017-10-19 16:51] vlio20 commented on #256
`dislplayDate` is only made to open the calendar on specific date.

[2017-10-19 17:42] miyolou commented on #254
https://stackblitz.com/edit/angular-nf5gyb?file=app%2Fapp.component.html,
Could only think of binding [displayDate] on the input element but it just complains that it is not an attribute.

[2017-10-19 18:10] dgroh commented on #256
That is ok, but what about my question? Does this make sense? I can try a PR if you want I think that is a very useful feature.

[2017-10-19 18:49] vlio20 commented on #256
I don't understand why dispalayDate doesn't solve your case

[2017-10-19 20:55] ninethug opened #257 "Month name format"
Hi vlio,

Do you think it's possible to choose if month's name should be in uppercase or lowercase ? Especially for the first letter (in some locales the first letter is not uppercase).

Cheers

[2017-10-19 21:52] gildebrand opened #258 "Prevent user from editing the text input"
I've run into an issue that I haven't found any information about in this library's documentation.

**Issue**
After the user has selected a date, if they edit the value in the input field the model value is bound to the string value instead of a Moment instance. This can easily be reproduced in the examples (https://vlio20.github.io/angular-datepicker/). Select a date, and remove a character from

[2017-10-20 04:08] vlio20 commented on #257
You could format it in any way you like with monthBtnFormatter

[2017-10-20 04:08] #257 closed

[2017-10-20 04:13] vlio20 commented on #258
Not sure I am understanding your proposed solution.
The reason it is changed to string is because it is invalid input, of the user will set a valid date you will get back a moment object again.

If you want to be updated only when a valid date has been set, than please use onChange output event

[2017-10-20 07:17] dgroh commented on #256
Because we don’t want to display anything until the user picks a day. It doesn’t make sense to show in calendar the current date if the min date is set for later. I’ll create a stackblitz to demonstrate the behavior

[2017-10-20 08:59] gildebrand commented on #258
Sorry for being unclear. I'll try to explain it better 😄
A textfield makes sense to use for *presentation* of the selected date. However, the textfield shouldn't be editable by the user because that causes the ngModel bound value to become a string instead of a Moment instance. This shouldn't be possible.

The solution could simply be to give the input field (`.dp-picker-input`) rendered by the `D

[2017-10-20 09:20] dgroh commented on #256
I'm trying to create a Stackblitz with moment but it does not work: https://stackblitz.com/edit/angular-trty1e

[2017-10-20 09:34] vlio20 commented on #254
this is a bug! will address as soon as possible

[2017-10-20 09:38] vlio20 commented on #256
try this one: https://stackblitz.com/edit/angular-1e7a7vv

[2017-10-20 09:40] vlio20 commented on #258
I hope I understand, does `disableKeypress` solves your problem?

[2017-10-20 09:42] vlio20 opened #259 "Create docs for 2.6.0 version"
There are new screenshots needs to be added to the readme.md file.

[2017-10-20 09:43] dgroh commented on #256
I get:

[2017-10-20 10:01] gildebrand commented on #258
I'm a little bit embarrassed now. That's exactly what I was looking for 😄

[2017-10-20 10:01] #258 closed

[2017-10-20 10:03] vlio20 commented on #258
Np

[2017-10-20 10:17] dgroh commented on #256
Ok I got it to work: https://stackblitz.com/edit/angular-trty1e

Note that although the min date is december, when the picker opens it shows the current month. This does not make sense. If you check other datepickers you will see that the min is always de default date, for example:

https://dojo.telerik.com/IzEfI

[2017-10-20 10:45] vlio20 commented on #256
@dgroh, it make sense. I will implement it in the next version (2.6.0)

[2017-10-20 12:12] miyolou commented on #254
You're the best! Thank you!

[2017-10-20 12:22] dgroh commented on #256
Brilliant much appreciated

[2017-10-20 14:59] vlio20 commented on #250
resolved in ad98d1b

[2017-10-20 14:59] #250 closed

[2017-10-21 19:43] vlio20 commented on #254
resolved in  984aab8

[2017-10-21 19:43] #254 closed

[2017-10-21 20:41] vlio20 commented on #163
resolved in  c2a0c8b

[2017-10-21 20:41] #163 closed

[2017-10-22 10:38] Jaeger87 commented on #113
Same problem for me, this is my package.json:

{
  "name": "OlgiataWebPortalASPNET4",
  "version": "1.0.0",
  "scripts": {},
  "license": "ISC",
  "dependencies": {
    "@angular/common": "~2.2.0",
    "@angular/compiler": "~2.2.0",
    "@angular/core": "~2.2.0",
    "@angular/forms": "~2.2.0",
    "@angular/http": "~2.2.0",
    "@angular/platform-browser": "~2.2.0",
    "@angular/platform-browser

[2017-10-22 12:25] YasserMuhammad commented on #113
@Jaeger87 i think that u need to upgrade to Angular 4
it worked for me when i updated my package.json

[2017-10-22 18:17] vlio20 commented on #256
resolved in 5663b7a

[2017-10-22 18:17] #256 closed

[2017-10-22 18:42] #259 closed

[2017-10-23 05:07] vlio20 commented on #230
will close this for now

[2017-10-23 05:07] #230 closed

[2017-10-23 08:11] Jaeger87 commented on #113
It worked even for me! thank you.

[2017-10-23 12:32] gauravumrani opened #265 "how to change date picker config settings dynamically"
i want to change date picker settings dynamically.
at component loading, allowmultiselect is true, and on click of a button.. i want it to be allowmultiselect false..
i tried this, but didnt worked.
`
datePickerConfig: IDatePickerConfig = {
    firstDayOfWeek: 'mo',
    format: 'DD-MM-YYYY',
    allowMultiSelect:true
  };
`
`
 addToCart()
  {
    this.datePickerConfig.allowMultiSelect=false;
    c

[2017-10-23 12:35] vlio20 commented on #265
please post a stackblitz

[2017-10-24 08:11] dgroh opened #266 "Please consider using Moment instead of String in the ControlValueAccessor"
First I want to give a thumbs up for the new features in `2.6.0`.

Does it make sense to return the value of the selected date as `Moment` date instead of a `String`? To show in the input as a `String` is ok, but for the form result should be a `DateTime` / `Moment` date.

If I use: `{{ this.myForm.value }}` the selected dates are going to be printed out as `String` and this is bad for an api that

[2017-10-24 09:45] miyolou opened #267 "disableKeypress doesn't work on the directive"
<label>Directive Input</label>
<input [dpDayPicker]="directiveConfig" mode="day" [(ngModel)]="date">

<label>Component Input</label>
<dp-date-picker [config]="directiveConfig" mode="day" [(ngModel)]="date2">
</dp-date-picker>

directiveConfig = {
  disableKeypress: true;
}

https://stackblitz.com/edit/angular-pgjndr?file=app%2Fapp.component.html

Browser seems to complain about setAttribute on Ele

[2017-10-24 10:20] vlio20 commented on #267
looks like a bug. will check as soon as possible.

[2017-10-24 10:22] vlio20 commented on #266
The value returned can be modified by the `returnedValueType ` option. let me know if it helps

[2017-10-24 10:32] miyolou commented on #267
Thank you!

[2017-10-24 11:56] dgroh commented on #266
More or less. The most of the backend apis do not understand Moment. I would have to use `toDate()`. Correct?

I cannot submit a form without changing the value type before. Unfortunatelly I cannot create a Stackblitz with an Api call, but imagine that I have a type `DateTime` as parameter and I have to submit a form with this parameter. Until now, for example, with DatePicker of Angular Material

[2017-10-24 12:25] dgroh commented on #266
ok, I think there is no way around it. I'm closing this issue as I think I was misunderstanding things.

[2017-10-24 12:25] #266 closed

[2017-10-24 19:43] jphearse opened #268 "Rounding Time"
Is there a way to have the Day Time picker start at the nearest increment of 15?

Example: If I opened the Day Time picker at 12:27pm, the time would show 12:30pm and I could increment from there.

[2017-10-24 19:59] vlio20 commented on #268
you can pass any `displayDate` that you want. Let me know if it helps.

[2017-10-24 20:11] jphearse commented on #268
Sorry I don't think I explained very well. What I am trying to do is allow users to create meeting without our app. The problem I'm having is when the user opens the dateTime picker it shows the current time, for example if the user opens the datetime picker at 12:27pm the datetime picker shows the current date at 12:27pm. I am wondering if I can have the datetime picker open and show the current

[2017-10-24 20:18] vlio20 commented on #268
so in order to open open it on the rounded date time use `displayDate` and for the interval of 15 min use `minutesInterval`, does it helps?

[2017-10-24 21:55] dgroh opened #269 "Set min property dynamically"
How do I set the `min` property dynamically?

I have a **Date from** and a **Date to** - The `min` of **Date to** must be the selected value of **Date from** I tried to achieve this by setting the `component.config.min` but nothing happens.

This stackblitz demonstrates this: [Change min date dynamically](https://stackblitz.com/edit/angular-trty1e)

[2017-10-25 06:07] vlio20 commented on #269
In order to change the configuration (and min is part of it) you need to pass a new reference to `this.dateToDp.config`:

[code]

here is a working stackblitz: https://stackblitz.com/edit/angular-3h4a7c

[2017-10-25 07:39] dgroh commented on #269
The rule of showing the `min` date when the picker opens should be applied, too. Means, the  picker should start from the `min` date, what is not happening when changing the configuration.

[2017-10-25 08:25] miyolou commented on #269
You can bind the value changes from 'Date from' to the displayDate attr on the 'Date to' input element.

[2017-10-25 08:52] dgroh commented on #269
@miyolou yes, this would be a workaround tho. this feature has been implemented in 2.6.0, so this should work also in this scenario imo, but yes, for now I'm using displayDate as workaorund.

[2017-10-25 09:10] dgroh commented on #269
it's also not working with `displayDate`: https://stackblitz.com/edit/angular-rxrmxw

[2017-10-25 09:26] dgroh commented on #269
@vlio20 using `...this.dateToTop` is overriding the format configuration, note that the format is `DD.MM.YYYY` but fater overriding it it gets `MM-MM-YYYY`

[2017-10-25 13:17] jphearse commented on #268
I can get the `minutesInterval` to work but I cant seem to get the `displayDate` to work properly.

[2017-10-25 14:56] vlio20 commented on #268
please post a stackblitz, I will be happy to help

[2017-10-25 15:08] vlio20 commented on #269
@dgroh, here is a beter configuration: https://stackblitz.com/edit/angular-3h4a7c?file=app%2Fapp.component.ts

There is still some issue with the min date in the "to" calendar.

[2017-10-25 20:35] dgroh commented on #269
Thanks for your help

[2017-10-26 12:42] FlawaCLV commented on #153
@Avishaidev I'm running the same error. What did you do to make it work ?

[2017-10-26 12:46] FlawaCLV commented on #153
Nevemind, the solution `mode` is an attribute.

[2017-10-26 15:31] #268 closed

[2017-10-26 15:33] vlio20 commented on #268
Glad you solved it. Would really appreciate a ⭐️

[2017-10-29 14:44] keshav1007 opened #270 "Date picker popup is buried inside the div"
Hi,

If i place the date picker inside a div which has overflow: auto the date picker is not coming out of the div instead it is coming inside the div itself. I want the date picker to pop outside the div.

https://stackblitz.com/edit/angular-yg84jc?file=app%2Fapp.component.html

Please let me know how can i achieve this.

[2017-10-29 15:22] vlio20 commented on #270
you can find in the documentation `appendTo` configuration, pls let me know if it helps.

[2017-10-29 15:53] keshav1007 commented on #270
No still it is not coming outside the div

https://stackblitz.com/edit/angular-zdkhmw?file=app/app.component.ts - updated the stackblitz

[2017-10-29 15:57] keshav1007 commented on #270
oh i have to map it to the outer most div. It worked thanks :)

[2017-10-29 16:23] vlio20 commented on #270
Great! You could also use body.
It would be great if you can ⭐️ this repo!

[2017-10-29 16:23] #270 closed

[2017-10-29 17:41] keshav1007 commented on #270
I have already ⭐️ this 👍

[2017-10-30 11:46] AdPiotrek opened #272 "V.format is not a function"
I have console error like that
[code]
With configuration
[code]
I don't have idea what i did wrong. Do i have to change some config ?

PS. I want to have monthpicker.

[2017-10-30 11:50] vlio20 commented on #272
Please post a stackblitz

[2017-10-30 12:29] AdPiotrek commented on #272
https://stackblitz.com/edit/angular-xrvmmv

I just add this component, where i use date-picker. Beacuse whole application is too big to post it .

[2017-10-30 16:07] craigbrett17 commented on #147
This issue still seems to be active, even though it's been closed. What's the status with this?

Asking as it's been raised as an issue with an app we're developing.

[2017-10-30 17:18] vlio20 commented on #147
Please post a stackblitz

[2017-10-31 12:24] craigbrett17 commented on #147
To quote @boly38: "I don't need to provide sample as I was able to reproduce with Demo."

* Open up IE 10 on a VM (browser stack is what we have here)
* Browse to the demo page
* Voila!

This isn't a JS error. There is no "stack" to blitz, as far as I could tell.

[2017-10-31 17:21] vlio20 commented on #265
Closing for now

[2017-10-31 17:21] #265 closed

[2017-10-31 18:42] vlio20 commented on #272
your stackblitz isn't working. Try to find one that works in the closed issue of this component.

[2017-10-31 18:49] vlio20 opened #275 "Go to current btn not centered in IE"
Go to current btn not centered in IE

[2017-10-31 18:50] vlio20 commented on #275
resolved in 9b6dc99

[2017-10-31 18:50] #275 closed

[2017-10-31 19:28] vlio20 commented on #267
resolved in 1c00e48

[2017-10-31 19:28] #267 closed

[2017-11-01 10:23] chrxs opened #277 "Browser translate causes interpolates values to NOT update"
We have an issue where the date picker is translated to German
The users browser gives them the option to translate the page (say to English for example)
The user does this and translates the page to English
The interpolated text values (`{{monthName}}` for example) no long update when changing months

![](https://d26dzxoao6i3hh.cloudfront.net/items/321c0Q0c2r3A311T0e3a/Screen%20Recording%202017-1

[2017-11-01 10:26] chrxs commented on #277
...a side note, we've had this problem throughout our entire app, and have gone through changing all
[code]
to:
[code]
It seems to resolve the problem, with no perceived side effects, presumably because it replaces the contents on the HTML element and removing the `<font>` tags generated by the translation.

[2017-11-01 19:05] vlio20 opened #278 "Datetime component not allows to be rest after selecting a date"
There should be a way to rest the date.
clearing the input will remove the selected date.

[2017-11-01 19:06] vlio20 opened #279 "Add configuration which when enabled will unselect the selected date"
Add configuration which when enabled will unselect the selected date by clicking on the selected date.

[2017-11-01 20:49] vlio20 commented on #277
Did you find any mention for this on Angular's site? Seems like something that should happen a lot.

[2017-11-01 21:01] chrxs commented on #277
I know what you mean, but we weren't able to find any information about it, when we search "translate" we just kept getting results about angular's i18n and the translate service, not the browsers translation feature

[2017-11-02 03:12] wangxiaolong100 commented on #272
I face same problem and solve it. In my case this error occur wen I assign new Date() to ngModel. Then I assign string like "2017-11-03" to ngModel, this error gone.

[2017-11-02 06:47] vlio20 commented on #272
the only supported formats are string and Moment

[2017-11-02 06:47] #272 closed

[2017-11-02 20:39] vlio20 commented on #269
resolved in 969eb01

[2017-11-02 20:39] #269 closed

[2017-11-03 06:21] vlio20 commented on #278
resolved in 5bfe724

[2017-11-03 06:21] #278 closed

[2017-11-03 06:43] vlio20 commented on #277
thanks for the PR, fixed in 8f6d69e

[2017-11-03 06:43] #277 closed

[2017-11-03 07:57] vlio20 commented on #176
@ld-gary, this is available in the newer versions. closing for now.

[2017-11-03 07:57] #176 closed

[2017-11-03 08:37] vlio20 commented on #277
@chrxs, the gif you posted, is it this your implementation of this component?

[2017-11-03 09:29] chrxs commented on #277
Yeah, that's right

[2017-11-03 09:31] vlio20 commented on #277
what version are you using? the nav buttons of 2.6.0 are not placed like in the image

[2017-11-03 09:41] chrxs commented on #277
oh i see what you mean, not the latest version, we're using version 2.4.0

[2017-11-03 09:52] vlio20 commented on #277
so be ready to implement some changes if you want to use 2.6.0

[2017-11-03 09:55] chrxs commented on #277
ok will do 😄 thanks

[2017-11-03 10:59] vlio20 opened #283 "Hidden attribute not working on IE10"
On IE10 `[hidden]` not working

[2017-11-03 11:05] vlio20 commented on #283
fixed in e4de3cb by [mrenou](https://github.com/mrenou)

[2017-11-03 11:05] #283 closed

[2017-11-03 22:21] WaterBleu commented on #245
@vlio20 problem persists in 2.6.0 and 2.6.1

[2017-11-04 06:13] vlio20 commented on #245
I can't reproduce it... Can you please provide more details

[2017-11-06 10:24] miyolou opened #285 "displayKeypress with material input still allows key presses"
Using the directive with a config of `disableKeypress` matched with angular material's input form field, it still allows key presses.

[code]
Using:
    Angular v5.0.0
    Material 2.0.0-beta.12
    ng2-date-picker 2.6.1

[2017-11-07 21:59] vlio20 commented on #285
Does it happens with ordinary input?

[2017-11-07 23:07] ninethug opened #287 "format in IDatePickerConfig not working"
Hi,

The format field for IDatePickerConfig is not working, it's always returning a Moment object event if the selectDate ngModel field is a String. I'm using it with an inline day calendar.

PS: For inline day calendar section in the documentation, you maybe should correct IDayPickerConfig to IDatePickerConfig. A little bit confusing for beginners.

Cheers

[2017-11-08 05:58] vlio20 commented on #287
Try to use `returnedValueType` to specify the returned type of the value.

[2017-11-08 05:58] vlio20 commented on #287
@ninethug, please let me know if it worked for you.

[2017-11-09 21:59] jphearse opened #288 "Input and DateTimePicker not synced"
![image](https://user-images.githubusercontent.com/14226072/32631750-c91c0c08-c566-11e7-833f-6174f61e7681.png)

Any idea why the datepicker does not open up to the datetime that is in the input? It just opens to the current time, instead of what is in the input.

[2017-11-10 05:01] vlio20 commented on #288
Can you please post a stackblitz with your config?

[2017-11-10 08:51] deiyanfott opened #289 "Question: max not greying out future dates"
Hi,

I was expecting days from November 11 onwards to be greyed out but they are not. I am not sure if I missed out on some configuration or some other setup.

component.html
`<dp-date-picker [(ngModel)]="auditMapping.dateFrom" [config]="datePickerConfig" placeholder="Select a start date" theme="dp-material" (onChange)="onChangeDate(auditMapping.dateFrom, 'start')"></dp-date-picker>`

component.ts

[2017-11-10 08:54] vlio20 commented on #289
Can you please post a stackblitz?

[2017-11-10 10:39] dgroh opened #290 "moment as peerDependency"
Is there a reason why `moment` is not as `peerDependency`?

[2017-11-10 12:41] dgroh opened #291 "2.6.1 - is month mode broken?"
When setting the `month` mode, I get the following error:

This occurs in:

[code]

I created a stackblitz demonstrating the issue: https://stackblitz.com/edit/ng2-date-picker-bug

It works fine in `day` mode

It also works in the version `2.6.0`

[2017-11-10 13:33] vlio20 commented on #290
Mmmm.... Not sure why it should be. What are the cases for peer dependencies?

[2017-11-10 13:35] vlio20 commented on #269
Please open a new ticket. It should not be changed. Please put a new stackblitz there, with latest version

[2017-11-10 13:35] vlio20 commented on #291
Will take a look asap.

[2017-11-10 14:34] dgroh opened #292 "Performance issue Internet Explorer"
We have a big problem with IE when embedding the DatePicker.

If we remove it everything work fine. We have four of them in our web site.

I could also reproduce it on your your web site: https://vlio20.github.io/angular-datepicker/

Try scrolling open and down several times. Also open the task manager and check that internet explorer is driving crazy.

Is there any event bound to it like onScroll

[2017-11-10 14:40] dgroh commented on #290
it`s a `peerDependency` IMO. We are importing twice in our application, from the DatePicker and already our old moment reference. It's used for development but there is no need to export it together with the DatePicker. Maybe this might be helpful: https://github.com/Hacker0x01/react-datepicker/issues/122

[2017-11-10 14:40] vlio20 commented on #292
Need to check....

[2017-11-10 16:01] dgroh opened #293 "Setting min value dynamically overrides previous properties"
issue was first referenced here: https://github.com/vlio20/angular-datepicker/issues/269#issuecomment-343474730

I created a stackblitz with the new `2.6.1`: https://stackblitz.com/edit/ng2-date-picker

The code below is setting the configuration to its default:

[code]

using `...this.dayPickerConfig` will break the `min` selectable value.

[2017-11-10 16:22] vlio20 commented on #293
What do you mean by breaking the value?

[2017-11-10 17:33] jphearse commented on #288
I got the problem fixed by changing my dateTimeConfig some.

Before:
[code]
After:
[code]

[2017-11-10 17:34] #288 closed

[2017-11-10 20:34] vlio20 commented on #290
I don't want to make users to download moment, it makes them do another step in implementing the component.

I plan to remove this dependency in v3 (it might take a while though...)

[2017-11-10 20:34] #290 closed

[2017-11-10 20:55] vlio20 commented on #291
@dgroh, the stackblitz you provided is broken. pls provide a working one.

[2017-11-10 20:56] vlio20 commented on #285
please provide a stackblitz. I will close this issue until then.

[2017-11-10 20:56] #285 closed

[2017-11-10 20:57] #287 closed

[2017-11-10 21:00] dgroh commented on #293
That is weird, I just tried again with `...this.dayPickerConfig` and it's working.

https://stackblitz.com/edit/ng2-date-picker-cnmlqb

I'll close this issue and hope not to come back here with it :)

On Monday I'll smoke test everything again in our test system!

[2017-11-10 21:00] #293 closed

[2017-11-10 21:01] vlio20 commented on #293
@dgroh, this is not the way you should change the config.. You shouldn't  change the config via `ViewChild`. You should only change the reference to the config attribute object

[2017-11-10 21:07] dgroh commented on #291
I deleted it by mistake. I'll provide a new one by tomorrow. Much appreciated

[2017-11-10 21:18] dgroh commented on #293
Hi @vlio20, so how can I change the min value of the one DatePicker component? If I change the config attribute object this change will propagate for all the components. Should I use then one config for each component?

[2017-11-10 21:25] dgroh commented on #291
I got it https://stackblitz.com/edit/ng2-date-picker

Select a a date for 2020 for example in the Date From

Try to select any month in the in the Date To

You can also not navigate back and forward...

I mentioned before this was not an issue in 2.6.0

[2017-11-10 21:39] vlio20 commented on #293
You could use the same configuration, and use ...this.config when you want to update one of the properties

[2017-11-11 08:01] dgroh commented on #293
Unterstand. Fair enough..thanks

[2017-11-11 08:28] vlio20 commented on #291
when update the config (without accessing it via ViewChild) it seems to be working:
https://stackblitz.com/edit/ng2-date-picker-9xq5gj

[2017-11-11 08:29] vlio20 commented on #291
@dgroh, please close if verified.

[2017-11-11 10:20] vlio20 commented on #292
I added some improvements to listeners in 2.6.2, @dgroh can you pls approve that it helped? (I don't have computer which is running IE).

[2017-11-11 12:09] dgroh commented on #291
ok, the `displayDate` was also a problem I guess

thanks @vlio20

[2017-11-11 12:09] #291 closed

[2017-11-11 18:01] dgroh commented on #292
If you mean that `https://vlio20.github.io/angular-datepicker/` is already in 2.6.2, then unfortunatelly the scroll is still hanging even if the datepicker is closed. I know IE sucks, but unfortunatelly there are a lot of applications running on IE. I few like there is a kind of scroll event attached to the datepicker, because when I scroll with opened datepicker, the datepicker scrolls with the s

[2017-11-11 19:36] vlio20 commented on #292
it is... What version of IE are you using? Could please do some profiling to tell what function make it hangs?

[2017-11-11 19:38] vlio20 commented on #292
BTW, the demo is still with the scrolling listeners but I made it more efficient within the component. Can you tell if you see any difference within your application?

[2017-11-11 20:42] dgroh commented on #292
@vlio20 , i'm using IE11. I'll compare the 2.6.1 and 2.6.2 within my application on Monday. Profiling on IE is hard, so I think the easiest first step for me will be to fork, remove the listener and see what happens. I'll let you know.

[2017-11-13 09:14] dgroh commented on #292
Hi @vlio20 , good news, within the application it's much quickier now. The only problem is when the datepicker is opened. Before this update, the browser was hanging even when the datepicker was closed, now it hangs only when opened. Any chance to fix this also? For usability, I'm not quite sure if it makes sense to still show the datepicker when scrolling. See the datepicker from amterial design:

[2017-11-13 18:43] vlio20 commented on #292
I don't want to do such ux decisions. You can block the scrolling on your side. I can't remove the scrolling listener when the picker is open when the element attached to body or other element that moakes the picker in absolute position.

I saw that you forked the repo, let me know if you find any other options for improvement.

[2017-11-14 23:59] #292 closed

[2017-11-16 15:12] fincha opened #296 "setting the date"
Hi,

I am wondering what is wrong with my code:

my template
[code]

in my controller

[code]

the error message:

[code]

[2017-11-16 15:41] vlio20 commented on #296
Please create stackblitz

[2017-11-16 18:23] fbeauche opened #297 "Carret moved to end of input when date is invalid"
With the day picker directive ( and day time picker directive ), the carret is moved to the end of the input when the date is invalid.

This does not happens with the components.

See this screencast :
![daypickerbug](https://user-images.githubusercontent.com/9794183/32907960-05b6c4e6-cad0-11e7-8c9c-371dc99d21cb.gif)

- [x] Provide a **minimal code snippet**, please make sure it is well formatted.

[2017-11-17 07:02] AntRider opened #298 "If select same date twice it disappear in field.."
If select same date twice it disappears in the field...
If I understand correctly it works like a checkbox. Can we set some configuration for disabled this option?

[2017-11-17 17:17] vlio20 commented on #298
can you please provide a use case? The question is how would the users clear their selection?

[2017-11-19 10:34] AntRider commented on #298
I mean that when we press for example on February 20 one time, then everything works fine, but when we click on it again the chosen day disappears.
In your example, the same situation...

[2017-11-20 09:18] #296 closed

[2017-11-20 09:18] fincha commented on #296
@vlio20  need some time for this, will comeback later

[2017-11-21 14:34] lazysatyr25 commented on #298
any progress on this?

[2017-11-22 00:10] pklein commented on #297
After experiencing this issue as well, I had a quick look at the code and suspect this issue is occurring due to [date-picker.directive.ts:184](https://github.com/vlio20/angular-datepicker/blob/2.6.1/src/app/date-picker/date-picker.directive.ts#L184) and [date-picker.directive.ts:200](https://github.com/vlio20/angular-datepicker/blob/2.6.1/src/app/date-picker/date-picker.directive.ts#L200).

It ap

[2017-11-22 05:58] vlio20 commented on #297
@pklein, good point. Do you want to submit a PR?

[2017-11-22 07:14] AntRider commented on #298
Probably, better will add some icon like '×'  in the text field, then if someone needs to remove date they will push this icon. What do you think about it ?!

[2017-11-22 07:42] vlio20 commented on #298
Sound alright.

[2017-11-22 12:01] naharyd opened #299 "Bug in reactive form - date picker does not navigate to initial date"
Hi,

When we are using reactive form and setting an initial date,
Date picker calendar is not navigating to initial date.
The reason: at `date-picker.component.ts` -> when `onViewDateChange` is being called -> at `set currentDateView` -> `this.dayCalendarRef` is not initialized (undefined).
Using timeout to set initial date will solve it.

*Code Example:*
HTML:
[code]

Component:
[code]

[2017-11-22 12:25] sarates opened #300 "Issue with displayDate"
I want to set initial value for datepicker.

[code]

[code]

Page just stop working. What Im doing wrong? Thx

[2017-11-22 12:31] sarates commented on #300
Problem was with different 'format' : 'YYYY-MM-DD' and moment(new Date()).add(1,'days').format("YYYY-DD-MM"). Need to handle this error

[2017-11-22 12:38] vlio20 commented on #300
I am not sure what you are asking

[2017-11-22 12:39] vlio20 commented on #299
thanks for the issue, could you pls create a stackblitz?

[2017-11-22 12:42] sarates commented on #300
Just need to compare format setting with displayDate date format.

[2017-11-22 12:48] vlio20 commented on #300
if you are providing a string. It has to be in the same format as the format attribute in the configuration

[2017-11-22 14:35] naharyd commented on #299
https://stackblitz.com/edit/angular-hnyvcf?embed=1&file=app/app.component.ts

[2017-11-23 13:27] aditya-padhi-kbl opened #301 "query on date and month translation"
ng2-date-picker version:- 2.3.1
Angular Version:- 4.3.1
Browser:- Google Chrome

Is it possible to translate the days and months ?

[2017-11-23 15:30] vlio20 commented on #301
You can use the locale configuration

[2017-11-23 15:30] #301 closed

[2017-11-23 17:45] 02harleen opened #302 "It is compatible with angular 4 application."
Please tell it is compatible with angular application.

[2017-11-23 17:52] vlio20 commented on #302
Should work with ng4

[2017-11-23 17:52] #302 closed

[2017-11-23 20:15] vlio20 commented on #299
will take a look asap

[2017-11-24 06:08] vlio20 commented on #299
@naharyd , do you want submit a PR?

[2017-11-24 06:09] #300 closed

[2017-11-25 07:31] sasanazizi opened #303 "moment-jalali.js"
hey , can i use moment-jalali library on this datePicker? And how please
thanks for your awesome module

[2017-11-25 11:10] vlio20 commented on #303
What are u trying to achieve? Just put you locale in the configuration

[2017-11-26 05:50] naharyd commented on #299
@vlio20 , Thank, but I don't have a fix.

[2017-11-26 09:21] sasanazizi commented on #303
i'm trying to have a date picker with local calendar without georgian calendar
you can show this fork from your module to pay atention my idea :
[](https://fingerpich.github.io/jalali-angular-datepicker/)

[2017-11-26 09:25] vlio20 commented on #303
Did you try to see how it works in the demo?

[2017-11-27 08:41] AntRider commented on #298
So any progress on this?

[2017-11-27 08:49] vlio20 commented on #298
Not yet. Dont have much time lately...

[2017-11-27 08:54] sasanazizi commented on #303
@vlio20 Yes:
[https://fingerpich.github.io/jalali-angular-datepicker/](url)
that i shared with you in last comment!

[2017-11-28 07:34] vlio20 commented on #303
url is broken

[2017-11-28 13:01] sasanazizi commented on #303
[https://fingerpich.github.io/jalali-angular-datepicker/
](url)

excuse me its fine

[2017-11-28 13:02] sasanazizi commented on #303
excuse me its fine:
https://fingerpich.github.io/jalali-angular-datepicker/

[2017-11-28 13:06] vlio20 commented on #303
I am talking about the demo of this component. Not the one presented in the demo you shared

[2017-11-29 18:48] vlio20 commented on #297
resolved in c96f2a2

[2017-11-29 18:48] #297 closed

[2017-11-29 19:58] WaterBleu commented on #297
@vlio20 is this the same reason why attempting to type in the date would flicker?

[2017-11-29 20:08] vlio20 commented on #297
Might be.

[2017-11-30 13:52] cedricve commented on #219
@vlio20 I would like to have something similar, using min and max properties is not enough for my use case. Any ideas? 👍

[2017-11-30 14:02] vlio20 commented on #219
Please use isDayDisabledCallback

[2017-11-30 16:26] cedricve commented on #219
thanks @vlio20, just curious about the  implementation, if I pass an arrow function with one attribute it stays null.

[2017-11-30 16:36] vlio20 commented on #219
@cedricve, if you will post a stackblitz I will be more than happy to help

[2017-12-02 19:44] nitinsh99 opened #305 "closeOnSelect not working when mode is 'daytime'"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [X] Provide a **minimal code snippet**, please make sure it is well formatted.
Provided below
- [X] What's the **version** of Angular you're using?
4.4.5
- [X] Does this occur on

[2017-12-02 19:53] vlio20 commented on #305
On datetime there is close on select option shouldn't work. It was made by design. If you want to add such behaviour, you will have to listen on change event and then close the picker with the provided api.

[2017-12-03 03:13] nitinsh99 commented on #305
@vlio20
Thanks for replying. I understand it's by design and I already tried the workaround you suggested but it's not working for me since I am using the datepicker with my custom input element.

It looks something like this:

[code]

Is there a way for me to close the calendar the calendar from fromDateTimeSelected() method?
Thanks

[2017-12-03 06:27] vlio20 commented on #305
You can close the datepicker with `api.close` the api should be provided as explained in the docs. Currently, there is no such `fromDateTimeSelected `, but there is `onChange` event. You can use it with the api to achieve your requirements

[2017-12-03 06:28] vlio20 commented on #303
closing for now

[2017-12-03 06:28] #303 closed

[2017-12-03 16:59] nitinsh99 commented on #305
May be I wasn't clear enough. If you look at my code:

[code]

I am calling my own function called "fromDateTimeSelected" on "onChange" event. As you can also see I am not using datepicker directive directly here but using it in conjunction with a button. If I use your library directly like following:

[code]

api.close() works just fine and I can close the calendar without any issue. However if I

[2017-12-03 17:44] vlio20 commented on #305
Mmmm, could you create a stackblitz. It looks like a bug.

[2017-12-05 12:40] cedricve commented on #219
hey @vlio20 not that much to display, I simply pass above parameter to the config.

[2017-12-05 13:02] vlio20 commented on #219
It would be helpful if you could create a demo with the error u r getting.

[2017-12-05 18:29] AhugoA opened #306 "Is it possible to call directly to move month(s)?"
Hi,

I would like to know please if it's possible to call the calendar component directly from the code so the month would change instead of clicking the UI buttons.

Thanks!

[2017-12-06 03:43] lm-ml opened #307 "After manually entering the time in Firefox"
After manually entering the time in Firefox
![bugs](https://user-images.githubusercontent.com/22191670/33643537-b0b56ce4-da7a-11e7-9bae-58567ed9ee5e.png)

[2017-12-06 03:44] vlio20 commented on #307
Please elaborate...

[2017-12-06 03:58] lm-ml commented on #307
When I manually input time 2016-06-06 12:00:00, the time selection part will have a duplicate date, then delete the date of completion, and click on the open window again, it will appear in the image above.I can show it normally in Google browsers.   tks.

[2017-12-06 04:02] vlio20 commented on #307
Please post a stackblitz. I will take a look asap

[2017-12-06 04:13] lm-ml commented on #307
I'm so sorry.After testing several times did not find the same problem,I think it should be my problem,Thank you for providing such a good calendar control

[2017-12-06 04:13] #307 closed

[2017-12-06 04:14] vlio20 commented on #307
Your ⭐️ would be much appreciated

[2017-12-06 18:00] Lazarencjusz opened #308 "How to load styles"
Maybe it is a stupid question, but I can't see any style files inside module and the component is not styled. How I can apply styles?

[2017-12-06 19:03] vlio20 commented on #308
In order to get the material style you will need to add the the material theme. No need to load any css files.

[2017-12-06 19:03] #308 closed

[2017-12-07 15:09] AhugoA opened #309 "Inline - Day Calendar - ngModel does not response to value changed"
Hi,
I'm using your great package and thank you for it!

I have a problem:

		<dp-day-calendar theme="dp-material" [(ngModel)]="selectedDate" [config]="config" (onSelect)="onSelect($event, 'day')"></dp-day-calendar>

and on my component it's:

	selectedDate: Moment = moment();
	config: IDatePickerConfig = {
		enableMonthSelector : false,
		showGoToCurrent: true,
	};
OnInit(){
			this.selectedDate =

[2017-12-07 16:22] vlio20 commented on #309
I would be happy to help, it would be helpful if you will post a stackblitz

[2017-12-07 17:05] AhugoA commented on #309
[here it is](https://stackblitz.com/edit/angular-fpxkbk).

I know that for some reason the moment() is not working but on my app it does, don't want to spent too many time on understanding the mystery of 'moment' package...

Do you see my point?
On the button callback I'm changing the ngModel property but the picker is not affected by it...

[2017-12-07 17:21] vlio20 commented on #309
Thanks, I will take a look

[2017-12-10 16:23] nitinsh99 commented on #305
Ok. I have created stackblitz as you requested.
https://stackblitz.com/edit/angular-dim1tq

Steps to reproduce:
1. First click on default dp-datepicker input, click on any date and you will notice api.close() works as expected and datepicker gets dismissed.
2. Now go to app.component.html file, **comment out default datepicker and uncomment button element.**
3. Click on button, datepicker will be

[2017-12-13 15:59] asherbig opened #310 "Request: Don't outline current day"
I was wondering if there was a way to not outline the current day. It's not useful in my application.

https://i.gyazo.com/999e2e90b4ba9bd7e727db6722f6dd8e.png
Screenshot relevant.

[2017-12-13 16:02] asherbig opened #311 "Request: Format invalid days differently than valid days"
When I use the 'min' and 'max' options in the config, it restricts what days I can choose correctly by not letting me select an invalid day when I try to click on it.

My request is, could there be a visual indicator that the day is invalid? Maybe tint the day red? Could you make this styling configurable?

[2017-12-13 16:10] asherbig opened #312 "Request: Open Inline day calendar to configurable date"
Title says it all. The non-inline calendars have the displayDate attribute that determines what day the calendar opens up on. Can we get similar functionality for the inline calendars? Currently, mine only opens to the current date.

[2017-12-13 16:10] vlio20 commented on #311
Sure there are the minDate and maxDate attributes

[2017-12-13 16:16] asherbig commented on #311
HTML:
`<dp-day-calendar
      [(ngModel)]="curDate"
      (onSelect)="onDateChange($event)"
      [minDate]="minDate"
      [maxDate]="maxDate"
      theme="dp-material"
      [config]="config">
    </dp-day-calendar>`

Component code snippet:
`this.config = {
      min: this.minDate,
      max: this.maxDate,
      format:'MM/DD/YYYY',
      monthFormat: 'MMM YYYY',
      allowMultiSelect: false,

[2017-12-13 17:13] vlio20 commented on #310
Yes. Use your own css. Override the button border.

[2017-12-13 17:13] #310 closed

[2017-12-13 17:14] vlio20 commented on #311
Please provide a stackblitz. It would be much easier for me to help.

[2017-12-13 17:17] vlio20 commented on #311
Providing a stackblitz would be a great. If you only want the form validation, you should use the attributes. It will make your form invalid. You could use this data to put your own logic. You can see how it works in the demo.

[2017-12-13 17:18] vlio20 commented on #312
Stackblitz would be helpful.

[2017-12-13 19:02] asherbig commented on #312
https://angular-yucbd7.stackblitz.io
In this example, I would like to be able to open the calendar, select a date in January, then close the calendar. If I go back to open the calendar again, then it should open on the view with January as the month, not as december.

[2017-12-13 19:13] vlio20 commented on #311
I am not sure what do you mean by saying "invalid days look like".

[2017-12-13 19:13] vlio20 commented on #312
I need to link to the editor pls

[2017-12-13 19:15] vlio20 commented on #310
Put a link to one of your stackblitz demoes editor, I will try to show you there.

[2017-12-13 19:20] asherbig commented on #311
So in the stackblitz, the days that are invalid are days that are after January 13th. Those days look slightly more gray than the valid days. Can they be changed to be a different color? Maybe red? Can the background of them be changed to be a light red tint or something? The more configurable, the better.

[2017-12-13 19:21] vlio20 commented on #311
you can add any class you want with dayBtnCssClassCallback

[2017-12-13 19:21] #311 closed

[2017-12-13 19:21] asherbig commented on #312
https://stackblitz.com/edit/angular-yucbd7?file=app%2Fapp.component.html

[2017-12-13 19:22] asherbig commented on #311
Do you have an example of how to use this? I haven't been successful using it yet, and there aren't any examples or demos I can find.

[2017-12-13 19:24] asherbig commented on #310
https://stackblitz.com/edit/angular-yucbd7?file=app%2Fapp.component.html

[2017-12-13 19:29] vlio20 commented on #312
it is working with displayDate **BUT** there is a bug that locks the navigation when this property is set.

[2017-12-13 19:31] vlio20 commented on #311
[code]

[2017-12-13 19:37] vlio20 commented on #310
https://stackblitz.com/edit/angular-ffjoxw?file=styles.css

[2017-12-13 19:42] vlio20 commented on #309
you need to pass a new date for that, in moment when you do `.add` it is mutating the object that the method applied on. Here is a working example: https://stackblitz.com/edit/angular-7jcy4r?file=app/app.component.ts

[2017-12-13 19:42] #309 closed

[2017-12-14 09:31] vlio20 opened #313 "Option to max selections"
In multi select mode it would be great to have maximum selections.
When selecting more than the allowed number the first selection will be unselected

[2017-12-14 09:37] vlio20 opened #314 "Open on"
Open date components on, options:
1. current date (default)
2. selected -> fallbacks to 1
3. specific date (will lock navigation if set).

[2017-12-14 10:24] vlio20 opened #315 "Upgrade to ng5"
upgrade components to ng 5

[2017-12-14 10:25] vlio20 commented on #314
won't be done. all options will lock the nav. closing

[2017-12-14 10:25] #314 closed

[2017-12-14 10:28] vlio20 commented on #299
I am not sure if it's a bug. why the calendar should be opened on the selected date?

[2017-12-14 10:28] #289 closed

[2017-12-14 10:32] vlio20 commented on #279
already like so

[2017-12-14 10:32] #279 closed

[2017-12-14 11:13] vlio20 commented on #305
I managed to reproduce it, will fix this issue in next version (probably 2.7.0).

[2017-12-14 12:43] asherbig commented on #314
Was there any functionality added to be able to open the calendar to the date associated with ngModel?

[2017-12-14 13:09] vlio20 commented on #314
No. There is an api to (not documented) that can move the calender to any date.

[2017-12-14 13:21] asherbig commented on #314
How can I use this? Could you show in a stackblitz?
https://stackblitz.com/edit/angular-yucbd7?file=app%2Fapp.component.html

[2017-12-14 13:38] vlio20 commented on #314
Use ViewChild and access the api of the calendar component. You will find
there exactly what you need.

On Dec 14, 2017 3:21 PM, "Alex Herbig" <notifications@github.com> wrote:

[2017-12-14 17:50] ld-gary commented on #256
Hey,

Sorry to open this again but I am trying to implement this exact behaviour and have the latest version, but no joy.

Below is my initialisation of the config object, setting a time of 12:30 the next day, followed by the picker instance in the view. Feel free to let me know if I'm being stupid but I can't see what I'm doing wrong?

Thanks!

`let findTomorrow = moment(new Date()).set({'hour':

[2017-12-14 18:50] asherbig opened #317 "dayBtnCssClassCallback performance issues"
I'm using the dayBtnCssClassCallback to change the styling for certain days, however, the callback gets called seemingly infinitely, and causes performance problems with the webpage. Is this normal behavior?

[2017-12-15 08:04] vlio20 commented on #256
pls provide a stackblitz

[2017-12-15 08:06] vlio20 commented on #317
This should be called on each digest cycle, please provide a stackblitz to demonstrate your issue

[2017-12-15 10:14] dgroh commented on #299
you need to use `displayDate`:

[code]

which in my opinion should be automatically updated when setting the input value.

[2017-12-15 15:26] asherbig commented on #317
I can't reproduce the infinite calling bug that I'm getting, but here's an example with the dayBtnCSS method getting called multiple times. You can see in the console, it's getting called 6x84 times. 84 most likely because there's 2 calendars on the page, but really no idea why it's getting called for both calendars every time, or why it's getting called 6 times for each.
https://stackblitz.com/ed

[2017-12-15 15:51] ld-gary commented on #256
https://stackblitz.com/edit/angular-up6aaq?file=app%2Fapp.component.ts

[2017-12-15 15:53] ld-gary commented on #256
So as I understand it, setting the min parameter of the config object to a particular date should select that date if the current date is earlier?

[2017-12-15 17:21] asherbig opened #318 "Dynamically selected day not working (ngModel)"
https://stackblitz.com/edit/angular-yucbd7?file=styles.css

I'm trying to dynamically update the currently selected day. When that stackblitz initializes, you can see the min and max dates on the TO calendar. When you select another date on the FROM calendar such as the 14th (whatever yesterday is). The TO calendar selected date auto-corrects itself to be a date in the selected range (in this case

[2017-12-16 10:46] vlio20 commented on #318
It happens because you are overriding the default styling, the selected date still has the selected date class. You can see it in the link below. You will have to adjust you css.
http://i.prntscr.com/qvesvrv8Quu7nE7dApyJ5g.png

[2017-12-16 10:46] #318 closed

[2017-12-16 11:15] aditya-padhi-kbl commented on #298
Hi @vlio20 ,

This issue is reproducible.  I select a date and click on the date-picker which opens a calendar.  Then I click on the selected date again.  The value in the field disappears.

[2017-12-16 16:37] asherbig commented on #318
It's not that though. The curDate for the class shows the correct value, but if you inspect the calendar, you can see that the selected-day class is applied to the wrong calendar value. It's still on the old value. That's why the style is getting overridden. It's getting overridden because the ngModel didn't update to the actual current date, so what the calendar thinks is the current date is gett

[2017-12-16 19:12] vlio20 commented on #318
Can you please provide steps to reproduce with expected behavior? It's hard for me to follow

[2017-12-17 10:57] naharyd commented on #299
@dgroh , what you did is a WA, as you mention the value of `displayDate` should be set automatically.

[2017-12-17 11:10] naharyd commented on #299
@vlio20 , well, this is deepened on your design.
Usually, if I have selected date by default I expect it will be open on default date.
Anyway, in case it's not your design, then you have different issue, you have race condition issue.
In your example/Demo when setting default date it will be open on default date,
but in my example it won't happen (probably because *ngIf).

[2017-12-17 11:20] vlio20 commented on #299
I will soon ad an api to move the calendar to any date you like programmatically

[2017-12-17 14:26] asherbig commented on #318
In the from calendar, open the calendar and select yesterday's date. Now view the TO calendar. In the code, the current date (which is linked to the ngModel) has been changed to be 4 days from the date selected in the from picker calendar, but the TO calendar displays no changes for the selected day. It status on the day that it was initialized on

[2017-12-18 15:05] infoxicator opened #322 "Block Specific Dates New Feature"
Hi,

Is it possible to pass an array of dates and then disable them from them from the calendar?

thanks

[2017-12-18 18:15] vlio20 commented on #322
No, but you have the isDisabled callback method which you can use to achieve your goal. Let me know...

[2017-12-18 18:15] #322 closed

[2017-12-20 14:07] alikarimii opened #323 "customize theme and input field"
i want customize theme.how do it?

[2017-12-20 14:22] vlio20 commented on #323
You can find this information in the README.md file.

[2017-12-20 14:22] #323 closed

[2017-12-21 21:23] vlio20 commented on #317
I am working on changing the components change detection to `onPush` this should solve this issue.

[2017-12-21 21:24] vlio20 opened #325 "changeDetection onPush"
change the change detection to `onPush`

[2017-12-21 21:24] vlio20 commented on #317
will be added as part of 2.7.0 (#325)

[2017-12-21 21:24] #317 closed

[2017-12-21 21:26] vlio20 commented on #315
will be available in 2.7.0

[2017-12-21 21:26] #315 closed

[2017-12-21 21:26] #299 closed

[2017-12-21 21:27] vlio20 commented on #306
Will add an Api which will move calendars to specific date.

[2017-12-21 22:14] vlio20 commented on #325
resolved in a592932

[2017-12-21 22:14] #325 closed

[2017-12-23 19:23] vlio20 commented on #238
won't do

[2017-12-23 19:23] #238 closed

[2017-12-23 19:49] vlio20 commented on #298
this will be enabled only for non-multiselect.

[2017-12-29 19:12] joakimgk opened #327 "weekdayNames configuration does not work"
For the day calendar, the configuration `weekdayNames` doesn't seem to have any effect on the week day names shown in the calendar.

[2017-12-29 20:27] vlio20 commented on #327
`weekdayNames` was deprecated, please use locale instead. `weekdayNames` not appears in docs for some time now.

[2017-12-29 20:27] #327 closed

[2017-12-31 16:31] ld-gary commented on #256
Hey, just an update/clarification. The above code and the original stackblitz had the date strings formatted in such a way that there was no year present ("DD MMM [at] HH:mm"). I have updated in my code and on the stackblitz which half solves the issue in that the picker opens on the minimum date, but the time is still just set to whatever time it is when the page loads.

I understand that setting

[2018-01-03 15:19] SaraOunissi opened #328 "GoToCurrent should emit event"
Hi everybody,

I'm using ng2-date-picker and I observed that the button goToCurrent only put the focus on the current month. However,  when goToCurrent is clicked I need the date and time to be set to now (select current date and set the time to now).

I started to look at the component to see how it is possible to resolve this issue. There is no accessible event fired when the button is clicked.

[2018-01-03 19:45] vlio20 commented on #328
Hi Sara,
You are correct, by clicking on go to current you are only navigated to the current month (or year, in the month calendar).

I will mark this issue as a feature request to add event when this button is clicked.

[2018-01-03 19:46] vlio20 commented on #328
BTW, you are welcome to PR.

[2018-01-04 09:20] AntRider commented on #298
Happy New Year!))
Any progress with this issue?

[2018-01-04 09:28] vlio20 commented on #298
Unfortunately I don't have time to put my hands on it. PR would help.

[2018-01-04 20:45] justtal commented on #328
On it

[2018-01-04 20:47] vlio20 commented on #328
@justtal, thanks!

[2018-01-06 19:26] vlio20 commented on #298
resolved in 45e15ac

[2018-01-06 19:26] #298 closed

[2018-01-06 19:33] vlio20 opened #329 "Emit events on navigation"
Event should be emitted when clicking on navigation buttons.

[2018-01-06 19:36] vlio20 commented on #312
It is already possible to move calendar to specific date by calling `moveCalendarTo` I will add this to the documentation. Will be available in the docs with the release of 2.7.0

[2018-01-08 06:44] Franklin89 commented on #198
Hi @vlio20
Great library 👍
I am just wondering how this feature is coming along and if you have any timeline on it? our data structure uses the **Date** type. It works straight out of the box more ore less. Except that if we load the data and present it the ISO String is displayed instead of the format that was set at config. Selecting a new date afterwards works great.
If any help is needed I mig

[2018-01-08 07:30] vlio20 commented on #198
Unfortunately I don't have a lot of time developing this feature, so not much (any) progress. PR would be great.

[2018-01-08 07:59] Franklin89 commented on #198
Okay I'll try my best.
Any hint where to start?

[2018-01-08 08:10] vlio20 commented on #198
Basically, you have a utility service which does all the conversions.
Internally the module works only with Moment object.

On Jan 8, 2018 9:59 AM, "Matteo" <notifications@github.com> wrote:

[2018-01-08 15:51] joakimgk opened #332 "Initialize picker to now() on init"
Adding the date picker to an Angular HTML template brings up the picker, and I bind the `ngModel` to a variable in the component. It's being shown as an (empty) input field/box. Clicking on it brings up the picker, and the chosen date value is set in the corresponding variable. At the same time, the chosen date is shown in the input box.

How do I set the *initial value* of the picker (to current

[2018-01-08 16:08] joakimgk commented on #332
`<dp-date-picker [(ngModel)]="pickerDate" mode="month" theme="dp-material" [config]="dateconfig" #dayPicker></dp-date-picker>`

[2018-01-08 16:09] joakimgk commented on #332
[code]

[2018-01-08 17:12] joakimgk commented on #332
I tried making a method to set the date (moment) before opening the picker, but I always just get the current date when the picker is displayed

[code]

[2018-01-08 17:18] joakimgk commented on #332
See this issue is already raised

[2018-01-08 17:36] vlio20 commented on #332
Can you post a link to the already opened issue?

[2018-01-08 17:50] joakimgk commented on #332
These two?
https://github.com/vlio20/angular-datepicker/issues/306
https://github.com/vlio20/angular-datepicker/issues/312

[2018-01-08 18:10] vlio20 commented on #332
Can you please post a stackblitz?

[2018-01-08 18:40] vlio20 commented on #328
resolved by @justtal will be available in 2.7.0. thanks @justtal

[2018-01-08 18:40] #328 closed

[2018-01-08 18:41] vlio20 commented on #312
resolved, will be available in 2.7.0

[2018-01-08 18:41] #312 closed

[2018-01-08 20:02] vlio20 commented on #332
I think this is a different bug than described in the mentioned links. Seems like the ngModel is ignored. Will mark this as a bug. Thanks @joakimgk

[2018-01-08 20:05] joakimgk commented on #332
Excellent! Please let me know when there is some fix, so I can test this. You see, our app stores the user's last choice of date to local storage, so that state can be restored if the page is reloaded in the browser. Currently, this leads to the date picker and the chosen date to be out of sync.

[2018-01-08 20:13] vlio20 commented on #332
I see, I hope I will be able to put my hands on it in the next couple of days.

[2018-01-09 08:46] vlio20 commented on #306
resolved in #333

[2018-01-09 08:46] #306 closed

[2018-01-09 08:58] vlio20 commented on #332
@joakimgk, I just realized that you are using a `Date` object. You should only use string or moment to be passed to the ngModel. Here is a working example: https://stackblitz.com/edit/angular-rbmbzz

Let me know if I am missing something.

[2018-01-09 08:58] #332 closed

[2018-01-09 09:09] vlio20 commented on #305
not sure what fixed it, but in 2.7.0 this issue will be resolved as it not reproducible anymore in the next branch

[2018-01-09 09:09] #305 closed

[2018-01-09 14:44] joakimgk commented on #332
Hey

thanks, that helped! I got it working now. I made a fork of your Stackblitz
where the "do" button sets the date to Oct. 31 2017, rather than current
time.
The current date is set in the AppComponent's ngOnInit, on page load.
https://stackblitz.com/edit/angular-s7613r

However, there are still two other things which might still be a bug:
To reproduce:

1) loading the page sets current date
2)

[2018-01-10 06:04] vlio20 commented on #332
regarding point 6, if you change progrematically the date of the date-picker (point 5) the calendar would not change it displayed date. in order to move the calendar to the chosen date you would have to use another api - `moveCalendarTo` - this will be available in version 2.7.0. You can already find it in the documentation on the next branch.

Let me know if you have any other question. Also, it

[2018-01-11 07:48] joakimgk commented on #332
Thanks, this works nicely now. I'll check back when the new version is out!

I've only got a working prototype, but I can send you some screenshots.

Joakim

10. jan. 2018 7.04 a.m. skrev "Vlad Ioffe" <notifications@github.com>:

regarding point 6, if you change progrematically the date of the
date-picker (point 5) the calendar would not change it displayed date. in
order to move the calendar to t

[2018-01-11 07:59] vlio20 commented on #332
Would be great

On Jan 11, 2018 09:48, "Joakim" <notifications@github.com> wrote:

[2018-01-11 20:12] vlio20 commented on #329
on it

[2018-01-13 06:42] vlio20 commented on #329
resolved, will be available in 2.7.0

[2018-01-13 06:42] #329 closed

[2018-01-13 06:54] justtal commented on #313
I'll take it.

Does new config _maxSelections_ for day picker and month picker sounds good?

[2018-01-13 18:50] vlio20 commented on #313
the naming is ok. Regarding the behaviour, in my opinion there are 2 options:
1. (as described by you) disable more selections until removing a selection
2. Unselect the oldest when max exceeded.

I prefer the second, lets start with it? we later can add configuration to achieve the first. WDYT?

[2018-01-15 03:34] nitinsh99 commented on #305
Hey, I just tried again with v2.7.0 and unfortunately I am still seeing the issue.  I updated the version on the stackblitz and could still reproduce it.

Do you mind taking a look and reopening this bug.
https://stackblitz.com/edit/angular-dim1tq

Thanks

[2018-01-15 04:45] pklein opened #335 "v2.7.0 doesn't appear to be built correctly"
After pulling down the new version via npm, the resulting dist in node_modules contains the old code (but with the 2.7.0 version of the package.json).

Note that this was after completely removing node_modules, and I also noticed the same by just downloading the tgz from npm directly.

[code]

I'm assuming the "prebuild/app" directory is where the real 2.7.0 code is at the moment?
[code]

[2018-01-15 06:12] vlio20 commented on #335
checking....

[2018-01-15 06:22] vlio20 commented on #335
please check 2.7.1

[2018-01-15 06:37] vlio20 commented on #335
For some reason the build is broken. Fixing it, will release a new version ASAP!!!

[2018-01-15 08:56] vlio20 commented on #335
should be fine in version 2.7.2 (the ngc process for ng5 is different). Thanks for opening an issue!!!

[2018-01-15 08:56] #335 closed

[2018-01-15 08:59] vlio20 commented on #305
hi @nitinsh99 , there was an issue with building the module after upgrading to ng5. The issue was fixed. Please check this https://stackblitz.com/edit/angular-ystybm. This link should contain the working version of 2.7.2 - please let me know if you still have a problem

[2018-01-16 12:50] ghaiat opened #336 "Prod build issue with 2.7.2"
Hello
When doing  a prod build of my app, i have the following error with version 2.7.2:

```ERROR in : Unexpected value 'DpDatePickerModule in /xxx/node_modules/ng2-date-picker/prebuild/app/index.js' imported by the module 'MyModule. Please add a @NgModule annotation.```

Any idea what s going on ?

Cheers

[2018-01-16 12:51] vlio20 commented on #336
How do you build your project?

[2018-01-16 13:07] jskrzypek commented on #336
Hi, @vlio20 thanks for responding, I'll jump in for @ghaiat. We use `@angular/cli` to do the build, but we have a monorepo structure and `DpDatePickerModule` is being imported by one of our shared component libs and not by the ng-cli app

[2018-01-16 13:09] jskrzypek commented on #336
Should we be re-exporting the `DpDatePickerModule`?

[2018-01-16 13:47] koodinorja commented on #336
I'm having same problem. That error seems to occur when using angular-cli and building the app with
`ng build --prod`
Everything works if you just run `ng build`

As a workaround what worked for me was downgrading to version 2.6.1, then building with `ng build --prod` and `ng build` works

[2018-01-16 15:02] vlio20 commented on #336
There were changes in angular 5 compiler version. I will take a look to see how this can be fixed, for now I would follow @koodinorja suggestion and stick with 2.6.x version

[2018-01-16 15:08] jskrzypek commented on #336
I think you don't need the changes you made between [2.7.0 - 2.7.2](https://github.com/vlio20/angular-datepicker/compare/2.7.0...2.7.2) and instead you can just add `"skipTemplateCodegen": true` to the `tsconfig.json`'s `"angularCompilerOptions"`

[2018-01-16 15:09] jskrzypek commented on #336
I'm testing this atm, I'll report back soon. I can make a PR if you want

[2018-01-16 15:31] nitinsh99 commented on #305
Hello @vlio20 Thanks for following up.

Unfortunately I am still seeing the issue with v2.7.2. I tried the above link you mentioned.

![api_close_issue](https://user-images.githubusercontent.com/1389212/34996692-619abf80-faa8-11e7-9d29-fd227d82b0e1.png)

[2018-01-16 15:33] kamlekar commented on #8
Hi @vlio20,

Greate useful pIugin,

I am still getting this error now. `DpDatePickerModule is not an NgModule` in version `2.7.2`

[2018-01-16 15:34] vlio20 commented on #336
Could you try? And check if it is working? I would happy to receive a PR

[2018-01-16 16:03] jskrzypek commented on #336
Yup, it seems to fix the issue for me, I'll make the pr

[2018-01-16 16:10] jskrzypek commented on #336
I ran `npm run build:prod` in my local clone of this repo with my changes, and then from my project I did an `npm install <path_to_clone>/angular-datepicker/bin` to mimic installing from the published files. After that my build with `--prod` was able to work again.

[2018-01-16 16:16] vlio20 commented on #336
Awesome!! Can you elaborate why did it make it work again? I will push a release in the next few hours.

[2018-01-16 16:29] jskrzypek commented on #336
I believe you're correct about the angular 5 compiler changes. `"skipTemplateCodegen"` is an option that's been around for a while (since 2) and is recommended for component libraries since the component libs should not be publishing the `.ts` or `.ngfactory` files, only the `.metadata.json` files alongside the usual `.d.ts`,`.js`, & `.js.map`.

I think this was causing the `ngc` process to output

[2018-01-16 16:41] vlio20 commented on #336
I just published 2.7.3 - could you please check and verify?

[2018-01-16 17:05] vlio20 commented on #8
please follow this thread #336

[2018-01-16 17:07] jskrzypek commented on #336
Yup my build problems seem fixed with 2.7.3 as well :)

[2018-01-16 17:29] vlio20 commented on #305
this one is working: https://stackblitz.com/edit/angular-ystybm.
Notice that you have to set: `#dateDirectivePicker="dpDayPicker" ` and make sure you are taking the correct element reference in the `ViewChild` decorator. Let me know

[2018-01-16 17:30] vlio20 commented on #336
@jskrzypek , thank you very much!!!

[2018-01-17 09:42] jskrzypek commented on #336
Happy to help!

[2018-01-17 09:44] vlio20 commented on #336
would be great to see your implementation of the module in your applications, so if you could share a link or a screenshot I would be much grateful!

[2018-01-17 09:46] alijohn opened #338 "Could not find a declaration file for module ng2-date-picker"
Hi,

I have updated my project recently with latest Jquery 3.2.1 and now the build is broke. I am getting:

Could not find a declaration file for module 'ng2-date-picker'. '../node_modules/ng2-date-picker/prebuild/app/index.js' implicitly has an 'any' type

I am using webpack inside the Visual Studio

Please help.

[2018-01-17 09:58] vlio20 commented on #338
on what version of the module are you?

[2018-01-17 13:33] DustinQQ commented on #338
2.7.3 - same problem, probably it happened after "Upgrade to Angular 5"

[2018-01-17 14:42] vlio20 commented on #338
How do are you building your application? could you please submit a demo repo or even better publish a stackblitz?

[2018-01-17 14:44] vlio20 commented on #338
here is a working example; https://stackblitz.com/edit/angular-ystybm

[2018-01-17 15:00] mimipaskova opened #339 "How to define default time in dp-time-select"
1) Do you have any examples with dp-time-select?
2) A saw the attributes, but I can't set default time from Date object. (now default value is now (in strange time zone  and I want to change it)

3)One more question:
I use configuration
`datePickerConfig = {
    hours12Format: 'hh',
    meridiemFormat: 'A',
    timeSeparator: ':',
    minTime: '4:20 АМ',
    maxTime: '4:40 AM',
    minutesInterval

[2018-01-17 15:24] vlio20 commented on #339
please post a stackblitz. example: https://stackblitz.com/edit/angular-ystybm

[2018-01-17 16:15] mimipaskova commented on #339
https://stackblitz.com/edit/angular-ystybm here is my code.

I still don't have validation and I can't set default value for the first time.

[2018-01-18 12:10] pbialy opened #340 "DateTime picker - past time from current day can be selected"
Hi

First of all - thank you for great library!

I found a bug tho - I'll describe it below, but I've also made a short gif to illustrate it, you can find it [here](https://ibb.co/b9DySR) or [here](https://gfycat.com/SoggyFrailBuffalo).

Basically - If you pass "min" to your datepicker config then calendar shouldn't allow you to select a date / datetime before this "min".

So if the "min" is set t

[2018-01-18 13:55] vlio20 commented on #340
mmm nice one. Will mark this as bug. PRs are welcome

[2018-01-18 16:28] vlio20 commented on #340
Solutions (Bug fix):
1. Set the time to min time when there is a conflict as described above
2. Disable the min date when time is changed (if required)

WDYT?

[2018-01-18 19:18] #338 closed, assigned to nobody

[2018-01-18 19:35] vlio20 commented on #340
resolved in 18db1ca

[2018-01-18 19:35] #340 closed

[2018-01-19 15:52] dave0688 commented on #308
I had the same issue - I found that out only after I found this thread. Could you please add this in the docs?

[2018-01-19 16:00] vlio20 commented on #308
It is already written in the docs, look for theme

[2018-01-21 21:12] vlio20 opened #342 "use ng-packagr for building the module"
https://github.com/dherges/ng-packagr

[2018-01-22 12:25] MerkulovDev opened #343 "Metadata version mismatch"
`Metadata version mismatch for module /projectFolder/node_modules/ng2-date-picker/index.d.ts, found version 4, expected 3, resolving symbol HistoryModule in /projectFolder/src/app/pages/history/history.module.ts, resolving symbol HistoryModule in /projectFolder/src/app/pages/history/history.module.ts
`
package.json
`"dependencies": {
    "@angular/animations": "4.4.5",
    "@angular/common": "4.4.

[2018-01-22 12:30] vlio20 commented on #343
I am not sure that I understand the bug. please elaborate

[2018-01-22 12:32] MerkulovDev commented on #343
instaled datepicker. imported in module. trying to run project and got this error
`Metadata version mismatch for module /projectFolder/node_modules/ng2-date-picker/index.d.ts, found version 4, expected 3, resolving symbol...`

[2018-01-22 12:37] upendrasengarmbwk opened #344 "Selecting same month of same year set the date to undefined"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [X] Provide a **minimal code snippet**, please make sure it is well formatted.
- [x] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2018-01-22 13:04] vlio20 commented on #343
I will need a stackblitz

[2018-01-22 13:32] vlio20 commented on #344
could you please create a stackblitz?

[2018-01-22 13:58] ThalesMatoso opened #345 "Disable different dates"
Sorry my english.

I need to block specific dates that have already been selected, for example days 22-25-26 are disabled and days 23 and 24 can be selected.

I have searched the documentation and found nothing relevant, can you give me a hand?

Calendar Image
![image](https://user-images.githubusercontent.com/20910274/35224066-e1d1d9d8-ff6a-11e7-91cb-91df4d75b99e.png)

Calendar Code
![image](http

[2018-01-22 14:14] vlio20 commented on #345
you will probably have to remove the selected days within your application.

[2018-01-22 14:14] #345 closed

[2018-01-22 14:17] ThalesMatoso commented on #345
If I remove the user will not be left without the information that day has already been selected?

[2018-01-22 14:20] upendrasengarmbwk commented on #344
@vlio20 I think after creating stackblitz demo, I've understood the concept. it is to deselect the selected month if you again click the selected month.

Can you please tell how to stop this behaviour like I don't want to deselect if month is already selected.

https://stackblitz.com/edit/angular-kheex4?file=app%2Fapp.component.html

[2018-01-22 14:27] vlio20 commented on #345
But the same will happen ( the user will not be left without the information that day has already been selected) if the component will remove it for him

[2018-01-22 14:28] mdarfilal commented on #343
I got the same error today,
when passing node 6.9.4 to 8.9.4
npm 3.10.10 to 5.6.0

[2018-01-22 14:59] vlio20 commented on #343
Please provide a stackblitz

[2018-01-22 15:07] denispodtykan commented on #343
I have the same error on the version of angular 4.2.4, if I run on 5.2.0 all is well

[2018-01-22 15:10] vlio20 commented on #343
@denispodtykan thanks... If anyone can help with that would be great.

[2018-01-22 15:56] denispodtykan commented on #343
I found a strange way to solve
In the folder /node_modules/ng2-date-picker/ I replaced all occurrences of **"version": 4** to **"version": 3**
and it all worked for me, I do not know how right it is

[2018-01-22 16:07] vlio20 commented on #343
It is auto-generated, so we need a more deterministic solution

[2018-01-22 16:12] ThalesMatoso commented on #345
I do not understand, how to remove the information? Do you have an example to give me?

[2018-01-22 16:33] denispodtykan commented on #343
Of course, therefore, and pointed out that this is not entirely a solution)

Now I tried to change the version from 2.7.3 to 1.4.3 all worked correctly

[2018-01-22 16:59] ThalesMatoso commented on #345
The value `unSelectOnClick: false` worked in DatePickerConfig as false, but I can not change the DatePickerConfig dynamically, it does not accept change of configuration once created

has Solution?

[2018-01-22 18:12] vlio20 commented on #343
The question is: is there a way to make the date picker backward compatible to version less than ng5

[2018-01-22 19:22] vlio20 commented on #344
sure: use `unSelectOnClick: false`

[2018-01-22 20:25] uweDuesing commented on #343
@mdarfilal The problem with this approach is that in big complex projects simply upgrading everything is a huge task

[2018-01-22 20:26] uweDuesing commented on #343
I have the same problem and I agree with vlio20, the date picker needs to be backwards compatible.

[2018-01-23 07:18] upendrasengarmbwk commented on #344
No luck this doesn't work out. @vlio20

[2018-01-23 07:23] vlio20 commented on #344
you will need to upgrade to 2.7.3 version in order to receive this feature:
https://stackblitz.com/edit/angular-pvnqgx

[2018-01-23 08:29] MerkulovDev commented on #343
I cant upgrade angular to v5 because a have many modules and there dependencies that would not work on v5.

[2018-01-23 09:07] vlio20 commented on #343
@MerkulovDev please use version 2.6.2

[2018-01-23 09:07] vlio20 commented on #344
@upendrasengarmbwk, did it help?

[2018-01-23 09:09] MerkulovDev commented on #343
yes. i've tried 2.6.2 but some options is not working. i will try 2.6.2 now

[2018-01-23 09:17] upendrasengarmbwk commented on #344
@vlio20 Yes upgrading to 2.7.3 solves my problem but AOT build fails with updated date picker with the message.

Angular version using - 4.2.6

[2018-01-23 09:18] MerkulovDev commented on #343
in 2.6.2 everything is worse
`
 Type '{ firstDayOfWeek: "mo"; monthFormat: string; disableKeypress: false; allowMultiSelect: false; clo...' is not assignable to type 'IDatePickerConfig'.
`

[2018-01-23 09:19] vlio20 commented on #344
for this error, please see:  #343. Currently version 2.7.x works only with ng5

[2018-01-23 09:19] #344 closed

[2018-01-23 09:24] vlio20 commented on #343
@MerkulovDev, please open a different issue, and provide a stackblitz for the issue that you having 2.6.2

[2018-01-23 12:03] ThalesMatoso commented on #345
Changing only the object does not work, is it necessary or is there any event to accomplish this? I have a search in your example code you do per event, but there is a `ga` variable that I could not find in your service.

[2018-01-23 12:18] vlio20 commented on #345
it does works, it works in the demo page. you can look there.

[2018-01-23 13:25] ThalesMatoso commented on #345
Excuse me for this being annoying is because in my case it's giving problem look the way I'm doing

I import the variable at the beginning of the project
[code]
I have a `init ()` function inside the constructor that starts my searches, inside the `init ()` function I call another that searches all the dates in the database and after I have all the dates I do this:

[code]
My idea is to block all

[2018-01-23 13:30] vlio20 commented on #345
It would be great to have it in a stackblitz demo

[2018-01-23 13:35] ThalesMatoso commented on #345
I do not know how to work with this because of the importantions, would you have some blank example with everything necessary to turn the angular?

[2018-01-23 13:43] vlio20 commented on #345
sure: https://stackblitz.com/edit/angular-pvnqgx

[2018-01-23 13:51] ThalesMatoso commented on #345
In this example, the dates already marked are not appearing [https://stackblitz.com/edit/angular-cqb7h5](https://stackblitz.com/edit/angular-cqb7h5)

[2018-01-23 13:54] ThalesMatoso commented on #345
In my example I need the dates "2018-01-23", "2018-01-24", "2018-01-25", "2018-01-26", "2018-01-27" to be blocked without the release and other dates without this being able to enable and disable them, you understand?

[2018-01-23 13:58] vlio20 commented on #345
you can change the example as you like

[2018-01-23 14:04] ThalesMatoso commented on #345
I have already edited and it is identical to mine and what I need to do is not working.

I have succeeded in reproducing the problem, there is no error but it does not happen what I need. Can you help me with the goal? Or is this functionality not working with your plugin?

[2018-01-23 16:23] renanmoraes opened #346 "Disable specific dates"
The plugin of the possibility to disable some dates for example I give him an array of dates ["2018-01-23", "2018-01-24"] and these dates are unavailable to be selected. Can I do this with your plugin?

[2018-01-23 16:26] renanmoraes commented on #346
I've been visiting the doubts, and I noticed that you have a lot of problems with this, is not it a time to make available some related example, or to implement this functionality (logical in the face of possibilities)?

[2018-01-23 18:02] vlio20 commented on #346
you should use `isDayDisabledCallback` more info found in the documentation

[2018-01-23 18:02] #346 closed

[2018-01-23 18:06] renanmoraes commented on #346
I would have an example, because the documentation for me is empty, I know he gives me the return, but I do not know how to pass the information to him, please give me a mini example of how you would use this?

[2018-01-23 18:11] vlio20 commented on #346
[code]

[2018-01-23 18:36] renanmoraes commented on #345
A question because in this example when the values ​​are not in the constructor it is not marked?

https://stackblitz.com/edit/angular-cqb7h5?file=app%2Fapp.component.ts

[2018-01-23 19:17] vlio20 commented on #345
@ThalesMatoso, sorry I think that I am not getting you clearly.
@renanmoraes, please see this example: https://stackblitz.com/edit/angular-uhrtyx

[2018-01-24 04:20] kevintanhongann opened #347 "Lacks documentation and usaage examples"
Lacks documentation and usaage examples, especially with date picker configurations.

Is the date picker configuration in the form of JSON array?

[2018-01-24 06:32] vlio20 commented on #347
@kevintanhongann, it is in a form of object. You have a complete example in the demo source code

[2018-01-24 06:32] #347 closed

[2018-01-24 17:03] ankushgoyal27 opened #348 "Is there any way to make weekend dates unselectable?"
I am using inline day calendar.

<dp-day-calendar [(ngModel)]="selectedDate" [config]="config" [theme]="theme"></dp-day-calendar>

According to requirement, i want to make weekend dates unselectable.

Is there any configuration available to make this scenario working.

Thanks

[2018-01-24 17:20] vlio20 commented on #348
sure:
[code]

For disabling you could use: https://momentjs.com/docs/#/plugins/moment-business/

[2018-01-24 17:20] #348 closed

[2018-01-24 17:21] vlio20 commented on #346
@renanmoraes, your ⭐️ would be much appriciated

[2018-01-24 17:29] vlio20 opened #349 "add event on hover over day/month buttons"
When hovering over date/month button an event should be emitted

[2018-01-24 18:15] ankushgoyal27 commented on #348
Thanks a lot. It is working as required.

[2018-01-24 18:42] vlio20 commented on #348
You ⭐️ would be much appreciated

[2018-01-27 13:45] vlio20 commented on #343
@MerkulovDev , @uweDuesing, @mdarfilal , @denispodtykan I have just deployed 2.7.4-alpha version could you please try it out and let me know if it works for?

[2018-01-28 01:07] nitinsh99 commented on #343
I was also getting this error which seem to have been **resolved** for me in 2.7.4-alpha.

`ERROR in Error: Metadata version mismatch for module .node_modules/ng2-date-picker/index.d.ts, found version 4, expected 3,
`
Thank you for fixing this.

[2018-01-28 04:28] vlio20 commented on #343
@nitinsh99 thanks. I will wait for few more replies and will publish a stable version

[2018-02-01 07:29] shriniwassurve opened #354 "Not able to change min config of second datepickcer based on value of first datepicker"
I have  been trying to implement  this 'to and from month picker'. But i am not able to change min configuration on second month picker based on the value of first month picker.   Please tell me what I am doing wrong.

This is the stackblitz:
https://stackblitz.com/edit/angular-rqxzjv-changeminconfig-dynamically

[2018-02-01 07:58] vlio20 commented on #354
check this - https://stackblitz.com/edit/angular-rqxzjv-changeminconfig-dynamically-9etwfw?file=app%2Fapp.component.ts

You need to update the reference to the config file and not mutate the config object.

[2018-02-01 07:58] #354 closed

[2018-02-01 07:59] vlio20 commented on #343
@MerkulovDev , @uweDuesing, @mdarfilal , @denispodtykan any updates?

[2018-02-02 00:11] mdarfilal commented on #343
@vlio20
Since this issue I updated my angular/node/date-picker version to latest.
I juste try the version 2.7.4-alpha, results as follow :

- angular 5.2.0
- node 8.9.4
- npm 5.6
=> OK

- angular 4.2.4
- node 8.9.4
- npm 5.6
=> OK

[2018-02-02 05:46] vlio20 commented on #343
Awesome, will make a new release soon

[2018-02-05 09:26] vlio20 commented on #343
should be fixed in 2.7.4

[2018-02-05 09:26] #343 closed

[2018-02-09 17:24] cyates81 opened #355 "Not able to bind to moment, getting TypeError: (value || "").split is not a function"
Hello,

I am using Angular 5, moment 2.20.1, Chrome 64, Mac High Sierra.  I updated to version 2.7.4 and now I get the following stack trace:

Uncaught (in promise): TypeError: (value || "").split is not a function
TypeError: (value || "").split is not a function
    at UtilsService.datesStringToStringArray (http://localhost:8100/build/vendor.js:44895:30)
    at DatePickerService.isValidInputDateV

[2018-02-09 17:35] cyates81 commented on #355
For more info, I had updated from 2.3.2 up to 2.7.4 when I experienced the bug.  I decided to downgrade to 2.3.2 and incrementally test each version to figure out where it stopped working and 2.5.0 is where it no longer works with the moment object.  The error is slightly different, however: TypeError: value.split is not a function.  For now I will just use version 2.4.0

[2018-02-09 19:27] vlio20 commented on #355
It would be great if you could create a stackblitz with your configuration.

[2018-02-09 20:31] cyates81 commented on #355
https://ionic-8csbwc.stackblitz.io/

The error will show in console.  It appears to still work someone on stackblitz but when running from ionic serve it brings the error window up and then doesn't function properly.

[2018-02-10 12:52] gauravrajdeo commented on #113
`import { AbstractControl, ValidationErrors } from "@angular/forms";

export class UsernameValidators {
    cannotContainSpace(control: AbstractControl) : ValidationErrors | null {
        if ((control.value as string).indexOf(' ') >= 0) {
            return { cannotContainSpace: true };
        }
        return null;
    }
}`

In my custom validator I'm getting this error while working with angul

[2018-02-13 20:20] vlio20 commented on #355
@cyates81 can u please share the link to stackblitz editor instead of the preview?

[2018-02-15 19:38] cyates81 commented on #355
https://stackblitz.com/edit/ionic-8csbwc

[2018-02-15 19:49] vlio20 commented on #355
As a workaround I suggest to do as follows https://stackblitz.com/edit/ionic-qa1cjj

I will mark it as bug, I hope I will have the time to address this issue in the next few days.

[2018-02-21 15:26] vlio20 commented on #355
fixed, will be available in version 2.7.5

[2018-02-21 15:26] #355 closed

[2018-02-22 19:18] cyates81 commented on #355
Much appreciated!

[2018-03-04 21:25] vlio20 opened #357 "showGoToCurrent is not documented"
[docs] should add showGoToCurrent

[2018-03-05 18:38] burnaDLX opened #358 "moveCalenderTo() not working on Inline-Month-Picker"
Hello Vlad,
first of all thank you very much for this datepicker. I try to set a date value dynamically in the Inline-Month-Picker with the moveCalenderTo function (calendar view should change accordingly). But none of the ways I've tried work. What am I doing wrong?

https://stackblitz.com/edit/angular-yttrxf?file=app%2Fapp.component.ts

I am using Angular 4.2.6, but the bug also occurs on Stackb

[2018-03-05 20:07] vlio20 opened #359 "inputElementContainer is not working on directives"
`inputElementContainer`  is not working on directives and not documented.

[2018-03-05 20:25] vlio20 commented on #359
will be available in 2.7.5

[2018-03-05 20:25] #359 closed

[2018-03-05 20:26] burnaDLX commented on #358
The cause of the error was not with the datepicker

[2018-03-05 20:26] #358 closed

[2018-03-05 20:26] vlio20 commented on #357
will be available in 2.7.5

[2018-03-05 20:26] #357 closed

[2018-03-06 04:37] molikh opened #361 "pick only some dates & dont pick only some dates"
- [ X] feature
**First:**
I think it would be great if we could specify array of dates that user can choose . currently I'm working on a booking app that indicate some dates for user to choose from it. so I think it can be done.
I think array of date that dont have disabled attribute can do that.

**Second:**
This one is more useful than the first one. every county have different holidays that may

[2018-03-06 11:36] vlio20 opened #362 "Add option not to close the picker on outside click"
Add option not to close the picker on outside click

[2018-03-06 12:29] vlio20 commented on #362
resolved in 54296ac

[2018-03-06 12:29] #362 closed

[2018-03-07 07:01] vlio20 opened #364 "onSelect not firing on directives"
OnSelect output not firing on directives

[2018-03-07 12:43] upendrasengarmbwk commented on #344
@vlio20

How can I recreate a date picker once it is initialised? I want to change min/max property from config object based on the selection of start date, disable dates in the end date picker.

[2018-03-07 17:07] cen1 opened #365 "Add min as an attribute"
Sometimes you want to use `min` config dynamically. Let's say you have two datepickers and the second one should have min=firstOne, so you can only pick bigger dates (eg. depature, arrival). In case like this, binding such as [min]="firstDatepicker.date" would be a welcome addition.

Right now I tried to workaround with
[code]
but it doesn't seem like I can manipulate the config dynamically (this.

[2018-03-07 17:24] vlio20 commented on #365
you can do it easley by update the configuration object like so:

[code]

[2018-03-07 17:24] #365 closed

[2018-03-07 17:26] vlio20 opened #366 "fix readme,"
images header of day and daytime are mixed

[2018-03-07 17:38] cen1 commented on #365
Yeah, changing just the one attribute did not trigger the change. Updating the whole config makes it work, many thanks!

Altho when I tried to do some crazy stuff like
[code]

it suddenly started to shift by a day on each focus. I am guessing some Angular binding exotics at work..

[2018-03-07 18:30] vlio20 commented on #365
You should not access the component in ways that are not mentioned in the documentation.

BTW your star would be appreciated :)

[2018-03-07 20:01] vlio20 commented on #364
not relevant for directives and pickers. closing.

[2018-03-07 20:01] #364 closed

[2018-03-07 20:02] vlio20 opened #367 "Add data-date attribute to each date button"
Add data-date attribute to each date button

[2018-03-07 20:10] #349 closed

[2018-03-07 20:11] #366 closed

[2018-03-07 20:16] vlio20 commented on #367
available in 2.8.0

[2018-03-07 20:16] #367 closed

[2018-03-09 17:53] vlio20 opened #369 "Add option to temporary change the date on hover above date buttons"
Add option to temporary change the date on hover above date buttons.
The date will change back when mouse will leave the component

[2018-03-10 04:37] molikh opened #370 "set isDayDisabled dynamically"
[X] question
Is there any way that I can set disabled days after page loaded?
user opens the page then select an item , after that i call an api to get disabled days.
Is there anyway to do this? (using isDayDisabledCallback).
I have tried to change config after i have called api , but it's not working.

[2018-03-10 05:36] vlio20 commented on #370
The isDayDisabledCallback is perfect for that. Isn't it working for you?

[2018-03-10 07:06] molikh commented on #370
it works if I set that before page load but after that it's  not working.
I get it work with a trick.
I set an *ngIf="apiLoaded" for date-picker element which is false at first, then when i get result from api , set 'apiLoaded' = true , so component loads again in my page and config reset again and everything works perfect.
but without this trick, nothing happens if i only change config.

[2018-03-10 08:40] vlio20 commented on #370
Please post the code you have, I will try to assist. Please post it on stackblitz

[2018-03-11 04:19] molikh commented on #370
example code:
https://stackblitz.com/edit/angular-eam1hw

[2018-03-11 19:44] vlio20 commented on #370
here you go:

https://stackblitz.com/edit/angular-gseeni?file=app/app.component.ts

Please see line 31.

You should be using arrow function instead of plain function inside the setTimoute.

Let me know if it helps.

[2018-03-12 06:01] vlio20 opened #371 "Reactive form not throws error when value provided as Moment"
When set as directive and data provided via formControl (reactive form) as a Moment object the component throws an error:
[code]

[2018-03-12 06:02] vlio20 commented on #369
moving to backlog and closing for now, until community will request this feature.

[2018-03-12 06:02] #369 closed

[2018-03-12 09:00] vlio20 commented on #371
will be available in 2.8.1

[2018-03-12 12:07] pbialy opened #375 "[New feature] Usable API while using Directive"
Maybe I missed something, but I can't find a way to manually trigger "close" while using the datepicker in the "Directive" mode, so with something like
`<input [dpDayPicker]="config">`.

My best try was to handle it in a way like this:
`<input #ref [dpDayPicker]="config" (blur)="onBlur(ref)">`.
and then:
[code]

but it's not always working, and also it's a hacky way.

So - is there a way to call A

[2018-03-12 13:16] vlio20 commented on #375
You already have such apis, look for api in the documentation. you can also see the demo page source code to see how it is done with directive,

[2018-03-12 13:16] #375 closed

[2018-03-12 15:32] pbialy commented on #375
Thanks for response and for giving a tip on how to find the solution.
Looks like `#dateDirectivePicker` is the solution for my problem.
It's not in the docs however, I found it in demo's source code, as You suggested.

Maybe it would be a good idea to add info about it to docs?

I created a pull request:
https://github.com/vlio20/angular-datepicker/pull/376
Please consider merging it :)

[2018-03-13 11:26] vlio20 commented on #370
closing for now

[2018-03-13 11:26] #370 closed

[2018-03-14 09:46] pbialy opened #377 "Focusing calendar by TAB click and then unfocusing it doesn't close the datapicker."

[2018-03-14 10:11] pbialy commented on #377
Looks like it's failing because on body clicking after TABing, inside `onBodyClick()` we have `hideStateHelper` equal to `true`.

If we focused the input by clicking on it, it's then equal to `false`, so `!this.hideStateHelper && this.areCalendarsShown` equals `true` and `hideCalendar()` is triggered.

I tried to fix this by placing `this.hideStateHelper = false;` below `case (27):` in `onKeyPress

[2018-03-14 10:15] pbialy commented on #377
btw - if instead of clicking on body you'll click on another calendar's input, then you'll have two datepickers opened.

[2018-03-14 19:53] vlio20 commented on #377
thanks @pbialy . Marking this as a bug. PRs are welcome. I will take a look myself in the next few days.

[2018-03-15 03:40] zpb210 opened #378 "Use UTC time instead of local time"
Hi,

I am looking into view/select dates that are in UTC time instead of local time. Any thoughts on this?

I spent a couple days learning your architect and set the times to UTC in the utils.service.convertFromMomentArray() method. A code snippet is below. This correctly works the first time you select a date on the calendar. The displayed time will be the current time in UTC. However, on the sec

[2018-03-15 12:40] vlio20 commented on #378
There are many places that moment() is being used, I don't think that it would be easy to track the source of the issue. But I do see that it might be a requirement in some applications.

This should be configurable. and provided through configuration with should be set to default as local.

I suggest you to search every place that uses moment() and instead use `utils.getCurrentTime(config)`

[2018-03-16 03:37] molikh commented on #370
yes , it's working.
thanks a lot.

[2018-03-16 06:12] vlio20 commented on #370
Your ⭐️ would be much appreciated

[2018-03-16 10:18] upendrasengarmbwk opened #379 "How to recreate date picker with new config?"
How can I recreate a date picker once it is initialised? I want to change min/max property from config object based on the selection of start date disable dates in the end date picker.

- [ x] Provide a **minimal code snippet**, please make sure it is well formatted.
- [x ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces the bug.
- [ x] Provide **scree

[2018-03-16 10:40] vlio20 commented on #379
Same as here  #375.
I'll need to update the config file.

Let me know if it works for you.

[2018-03-18 20:07] wernerva opened #380 "Feature request: Custom Theme"
Hello,

Currently this component allows only a choice of no theme or dp-material.

It would be great if one could create a custom scss theme configuration in order to set colours and component part sizes.

The particular problem I have is that I'd like to increase the size of the month calendar (dp-month-calendar)

[2018-03-18 20:54] vlio20 commented on #380
Hi,
You can create any theme you want with plain css.

[2018-03-19 21:02] #379 closed

[2018-03-19 21:02] #380 closed

[2018-03-19 21:18] hesampour opened #381 "the date time convert to 0775 year suddenly. when changing the date"
Hi
I have three problems.
1- the date time convert to 0775 year suddenly. when changing the date
2- How can I get the exact filed that is showing in the box. not convert of that. when I bind the value that I get is the converted Georgian date.
3- the calendar some times that the field is in the top of the pages not goes down but goes up and part of that is not visible.

[2018-03-19 21:25] vlio20 commented on #381
Hi,
1. Not sure what you mean, please elaborate and provide with a demo.
2. You can ask for returnType to be a string, this what the component output would be as a string.
3. Same as point 1. Please provide steps to reproduce and a demo in stackblitz.

[2018-03-19 21:48] hesampour commented on #381
here is the demo
http://biomaze.ir/files/calenderDemo.mp4

[2018-03-20 00:48] zb-oath commented on #378
Thank you for the quick response and insight.

I changed all (62) instances of `moment()` to `moment().utc()` and this indeed works. So, adding the configuration will also work.

[2018-03-20 00:51] zpb210 commented on #378
Thank you for the quick response and insight.

I changed all 62 instances of `moment()` to `moment().utc()` and this indeed works. So, adding the configuration will also work.

[2018-03-20 05:51] vlio20 commented on #378
@zpb210, did you make it with some util method?

[2018-03-20 05:53] vlio20 commented on #381
@hesampour, thanks for the video but for me to debug it I would need to have a stackblitz example with you configuration.
Let me know if you have problems setting stackblitz, it should be very simple.

[2018-03-20 15:56] harryy2510 opened #382 "Disabling dates after datepicker is open"
How can I disable a specific set of dates after the datepicker is opened? It does not re-render the datepicker if value of disabled dates is changed after the datepicker is opened.

[2018-03-20 17:23] zpb210 commented on #378
I am working on the utility part now. This is what I was thinking:

1. In IConfig, add a new field: `timezone?: string`.
  - Initially, "local" and "utc" are the only valid timezones since the [moment timezone package](https://momentjs.com/timezone/) is not currently included with the picker.

2. In utils.service, add a new method with the following signature: `getCurrentTime(config: IDayCalendarC

[2018-03-21 03:53] vlio20 commented on #382
you can see how it done by following this: https://github.com/vlio20/angular-datepicker/issues/370

[2018-03-21 03:57] vlio20 commented on #378
1. Please provide an enum for the options.
2. Get current time is ok, but it should only receive the timezone, not the whole config.
3. The method should be static.

[2018-03-21 06:46] radulyb opened #383 "Setting default time to dp-time-select"
Hi, how can I set a display time to dp-time-select for ex 8:00 AM? Thanks.

[2018-03-21 10:57] hesampour commented on #381
There is another problem. Now in the year of 97 in carcass in there is no two and four?
![screenshot_ -](https://user-images.githubusercontent.com/20963159/37706238-fe2871d8-2d13-11e8-9fd9-28d19bc7c6b5.jpg)

[2018-03-21 10:58] vlio20 commented on #381
I will need a stackblitz to help you.

[2018-03-21 10:59] vlio20 commented on #383
You can see it all in the docs. Please provide a stackblitz if it is not working for you.

[2018-03-21 16:59] sandraacha9 commented on #127
Hello, what type of object is datePickerComponent?
Thanks

[2018-03-21 17:04] vlio20 commented on #127
Please open a new issue

[2018-03-28 08:08] wgf4242 opened #384 "Not bind to formatted value"
`  datePickerConfig = {'format': 'YYYY-MM-DD' , 'firstDayOfWeek':'mo'};
`
`<dp-date-picker required [(ngModel)]="object.date" name="date" [config]="datePickerConfig"></dp-date-picker>`
![20180328160619](https://user-images.githubusercontent.com/3336626/38017324-48a55b32-32a4-11e8-9af8-b0987b076bd3.png)
I need value format like 'YYYY-MM-DD'.

[2018-03-28 10:02] marcelcpx commented on #200
I created a [fork](https://github.com/marcelcpx/angular-datepicker/tree/bug/not-closing) and added a second date picker to the demo page. The first time you open one of the date pickers you cannot close it immediately by clicking outside of it, you can even open two date pickers at the same time. After closing one of the date pickers the first time, the behaviour is as expected.

When creating eve

[2018-03-28 12:33] #383 closed

[2018-03-28 12:34] vlio20 commented on #384
Please provide a stackblitz

[2018-03-28 19:48] wgf4242 commented on #384
https://stackblitz.com/edit/ng-datepicker-test

If bind a initial formatted string to dp-date-picker, string shows like that.

[2018-03-29 05:06] vlio20 commented on #384
Looks like a bug. Will take a deeper look in the next few days.

[2018-03-29 16:27] cyates81 commented on #378
I would just like to add my support for this feature request, however, as @vlio20 mentioned it should be configurable.  In my case, I want to always show a specific time zone.  When I use moment-timezone the time displayed shows the offset of the intended timezone.  For example, I'm in mountain time at 10:30 AM, I use moment().tz('America/New_York') for the minimum date setting which is UTC-4:00 a

[2018-03-29 16:43] vlio20 commented on #378
thanks @cyates81

[2018-04-03 11:23] marcelcpx commented on #200
@vlio20 BTW, the [Stackblitz](https://stackblitz.com/edit/ng-datepicker-test) provided in a recent [issue](https://github.com/vlio20/angular-datepicker/issues/384) exhibits the same bug.

[2018-04-03 11:27] marcelcpx commented on #200
Tested a bit further, Chrome and Edge don't seem to be affected, so far only Firefox is erratic.

[2018-04-03 11:29] vlio20 commented on #200
Hate this browser specific bugs. So FF only?

[2018-04-03 11:31] marcelcpx commented on #200
I don't have Opera here, but Edge, IE 11, Safari for Windows and Chromium are not affected. Indeed, FF only (running 59.0.2 on Windows 10, here).

[2018-04-07 19:34] conmute opened #387 "Month picker 3 items in row instead of 4"
In month picker mode, would be nice to change a number of the months per row. By default there is 4, my design requires them to be 3 in a row. #feature

[2018-04-08 10:28] rrohitesh commented on #308
@vlio20 I have used       theme: 'dp-material',
to set the style and them in the config but its not working still i can see the datepicker without any theme. Am missing anything here.

[2018-04-08 14:16] hesampour commented on #381
thanks but its a big project and I think converting to stackblitz takes a lot of time. just one question. I ask for output to be string. I want the output string that is showing for example 1397-02-01 12:02:06 but get the moment value. the same problem for input. i want to set the input as a string nit as a moment. I set the returnedValueType config to string but not work.
thanks again for respons

[2018-04-08 14:29] rrohitesh commented on #211
@agustin18 did you got your solution?

[2018-04-08 14:57] rrohitesh opened #388 "Can we override CSS"
Hello All,

I am trying to modify the default css e.g: for the datepicker componet i want to change the width which i am doing like:

.dp-day-calendar .dp-day-calendar-container {
    background: #FFFFFF;
    width: 40vw !important;
}

But, the changes are not reflecting can you please let me know whether overriding of css is possible?

[2018-04-08 17:44] vlio20 commented on #381
You don't need the whole project just post a stackblitz with you exact configuration

[2018-04-08 17:46] vlio20 commented on #388
I would happy to help. Please post a stackblitz with what you are trying to achieve.

[2018-04-08 18:53] hesampour commented on #381
I have not used any special config in that. just I have used this component in the way that you said in the help. nothing else. if I want to do that just I should make a project with this component.
Would you please answer my question for returnValueType? I want the exact string that is showing. just string.
thanks a lot.

[2018-04-08 19:24] vlio20 commented on #381
It should return a string when you set `returnedValueType` to `ECalendarValue.string`.
Again, you can post a stackblitz with exactly this configuration to show that it's not working, in the demo app it is working perfectly.

[2018-04-15 09:30] vlio20 opened #389 "On Select Output evet"
Add an output event which will indicate that selection was made and return the type of the selection. whether it was an event that came from the input or from mouse click or keybpard selection.

[2018-04-15 09:30] #382 closed

[2018-04-15 09:31] vlio20 commented on #378
Any updates on this one?

[2018-04-15 09:31] vlio20 commented on #388
closing for now

[2018-04-15 09:31] #388 closed

[2018-04-15 10:57] vlio20 opened #391 "Upgrade to node 8.x"

[2018-04-17 19:48] abhishekakj33 opened #392 "IE 10 monthpicker remains open by default and does not toggle"
![calendar](https://user-images.githubusercontent.com/11902561/38892899-9506d0c0-4256-11e8-92b6-2c72b476c09e.PNG)

- Angular Version 5.0.0
-  IE 10

[2018-04-21 09:52] kamlekar opened #393 "Not good User experience when user wants to select a far year like 1950.."
Hi @vlio20 ,

First of all, nice library. It has no known issues. Works fine in our large scale project.

The only thing which bothers me (developer) and our designer is that its lacks of intuitive to able to select a year like 1950 or something around it (our project deals with elderly people).

Currently, the user should just keep on pressing the previous button to reach such year (probably like

[2018-04-21 09:57] kamlekar commented on #393
Or else, you can do the same as the default `<input type="date">` does.

_It shows the years in a list when scrolled the calendar UI container_

[2018-04-21 10:40] hiren1217 opened #394 "Font issue in all iPhone Devices"
Font weight gets lighter in all iPhone devices.
Font style i am using is roboto regular.

[2018-04-21 20:35] vlio20 commented on #394
Please share a screen shot

[2018-04-21 20:40] vlio20 commented on #393
Mmmm... This need came for few times now. The current behavior is that after clicking the top label the say calendar is switched to month calendar. Putting another type (year) calendar will also cause a strange type of behavior.

I am not a designer, so maybe you guys have another ux solution.

[2018-04-23 09:36] hiren1217 commented on #394
Dear sir ,
Please reply ASAP

Sent from my iPhone

[2018-04-23 09:40] vlio20 commented on #394
@hiren1217 , you understand that this is an open source project - right?

[2018-04-23 14:37] hiren1217 commented on #394
no.. its not ...

[2018-04-23 14:38] hiren1217 commented on #394
i tried doing fonts dark using css but there was no effect on real device(iphone)

[2018-04-23 16:33] #394 closed

[2018-04-24 10:48] pavans518 opened #395 "minutes interval setting is not working in this time picker"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [x] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2018-04-24 10:48] pavans518 commented on #395
endTimePicker: IDatePickerConfig = {
    disableKeypress: true,
    format: 'hh:mm',
    minutesInterval: 15,
    showTwentyFourHours: false,
  }

 <dp-date-picker [theme]="'custom-datepicker'" [mode]="'time'" [(ngModel)]="when().time" [config]="endTimePicker" #endTimePicker
                (onChange)="checkRespiteDate()"></dp-date-picker>

[2018-04-24 10:51] #395 closed

[2018-04-27 13:05] mrenou commented on #392
You have an IE10 mention in README

Compatibility
Internet Explorer 10:
Internet explorer 10 doesn't support hidden attribut, but you can use a css rule on data-hidden to hide date picker components:

[data-hidden="true"] {
  display: none !important;
}

[2018-04-27 14:35] vlio20 commented on #392
thanks @mrenou

[2018-04-27 14:35] #392 closed

[2018-04-29 14:27] avineet1993 commented on #313
<div class="dp-option-playground">
          <dp-date-picker id="enableMultiselect"
                          [(ngModel)]="selectedDate"
                          [config]="config"

                          placeholder="Select date">
          </dp-date-picker>
        </div>

[2018-04-30 04:45] vlio20 commented on #313
@avineet1993 , the separator is set to be '|'. There is no way (currently to change it).

[2018-04-30 11:56] avineet1993 opened #396 "AllowmultipleSelect not returning Selected Dates As an Array"
HTML :
<dp-date-picker id="datePicker"
                        name="datePicker"
                        #dateComponent
                        #datePickerModel="ngModel"
                        [(ngModel)]="holidaydates"
                        [mode]="'day'"
                        [displayDate]="displayDate"
                        [placeholder]="placeholder"
                        [config]="c

[2018-04-30 20:44] vlio20 commented on #393
@kamlekar ?

[2018-05-01 01:12] avineet1993 commented on #396
https://stackblitz.com/edit/angular-ztltpd

how to separate multiple  date by comma instead of delimiter?

[2018-05-01 08:42] oritm84 opened #397 "date picker config: closeOnSelect is ignored when unSelectOnClick is false"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [x] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2018-05-01 18:14] kamlekar commented on #393
We can show both month and year buttons on the calendar. That works better (worked in our case atleast, we moved to other library which does the same and client is happy with the solution)

[2018-05-01 20:00] vlio20 commented on #397
could you please provide a stackblitz? would be easier for me to see it in action

[2018-05-08 09:39] nileshbhagwat opened #398 "Accessibility Support"
Currently date selection can not be done using keyboard(tab and arrows).

To reproduce this bug:

- open demo page

- click on any input (datepicker for that input opens)

- Press TAB focus goes to next input instead of datepicker

Datepicker should be focused on TAB and after that date selection can be done using keyboard arrow keys.

[2018-05-10 13:51] logicalravii opened #399 "How to pre select multiple dates. Please Replay ASAP."
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2018-05-10 16:34] vlio20 commented on #399
This is an open source project there are no option to replay ASAP.

[2018-05-11 07:55] sirajc opened #400 "Build errors when `fullTemplateTypeCheck` is enabled"
- [x ] What's the **version** of Angular you're using?
Angular 6
- [ x] Does this occur on specific browser?
This occurs during build

When we add `fullTemplateTypeCheck": true` in `angularCompilerOptions` of tsconfig.json and run build, following error is thrown
[code]

This happens because in https://github.com/vlio20/angular-datepicker/blob/master/src/app/date-picker/date-picker.component.html

[2018-05-11 07:57] sirajc commented on #400
@nileshbhagwat

[2018-05-12 17:53] #399 closed

[2018-05-15 16:57] kamilkisiela opened #403 "Angular 6 support"

[2018-05-21 06:49] joakimgk opened #404 "Selecting consecutive dates (time period)"
Does the date picker support selecting consecutive dates in one picker dialog? As in, choose a starting month and then choose an ending month (checking that end > start etc), and then outputing start and end moments?

[2018-05-21 07:07] vlio20 commented on #404
Nope, your description sound like a date range picker.

[2018-05-22 13:09] ydg2018 opened #405 "validator using old format"
i'm changing the used format after the page is done loading (example: DD-MM-YYYY to 00-MM-YYYY) and everything works like a charm except the validator. The validator keeps using the format i used at init.

the code in 'ng2-date-picker.js' that seems to use the wrong format is:
`return function (inputVal) {
            isValid = true;
            value = _this.convertToMomentArray(inputVal, format,

[2018-05-22 15:42] vlio20 commented on #405
Hi @ydg2018 , sound very odd. Could you please create a stackblitz to easily reproduce your issue?

[2018-05-23 18:10] vlio20 commented on #405
@ydg2018 I noticed you are accessing the config object directly within the date picker component:
`this.datePicker.config = this.datePickerConfig;`
you should never do that.

Please try to change the config object that you are passing to the config attribute of the component:
`this.datePickerConfig = this.datePickerConfig;`

Let me know if it helps

[2018-05-24 04:36] #404 closed

[2018-05-24 04:37] vlio20 commented on #403
There is a bug in the merged code. @kamilkisiela , could you please take a look/

[2018-05-28 06:47] ydg2018 commented on #405
i changed the stackblitz to what you suggested but it didn't change the problem.
Only thing i noticed was that the logging i had in the clickhandler printed the format before the change so i changed the logging a bit to see what it is at the moment of the click and what it should become.

[2018-05-28 15:10] ankushgoyal27 opened #406 "Internationalize Month and weekdays"
Hello,

Is it possible to internationalize the Month and Weekdays.
![image](https://user-images.githubusercontent.com/7384796/40620623-8136236c-6267-11e8-87d1-997c5475e9da.png)

Thanks,
Ankush

[2018-05-28 18:03] ankushgoyal27 commented on #406
Fixed with weekDayFormatter and monthFormatter

[2018-05-28 18:03] #406 closed

[2018-06-01 08:25] itsphil opened #407 "October Date being shown twice (28th Oct 2018, 27th Oct 2019)"
**Angular**: 5.2.11
**ng2-date-picker**: 2.7.3

`{
            allowMultiSelect: true,
            disableKeypress: true,
            firstDayOfWeek: 'mo',
            format: 'YYYY-MM-DD',
            locale: null,
            min: moment(),
            max: moment().add(2, 'year'),
            theme: 'dp-material',
        }`

<img width="374" alt="screen shot 2018-06-01 at 09 21 58" src="https:

[2018-06-02 17:57] vlio20 commented on #407
could you please see if upgrading to 2.9.0 fixes your issue?

[2018-06-04 19:14] iamramkey opened #408 "Unable to update the min date & min time when there is a inter-dependent date picker components"
Hi All,

I have used ng2-date-picker daytime component in my application where I have 2 dates which are from & to. I have used daytime picker in Angular reactive forms.

Mandatory thing is like To must always be greater than from. So, I used config property min-date & minTime in fromDate for current date & next hour, for toDate I have given the value of from date as min date & minTime. For the fir

[2018-06-05 08:46] Maxsky5 commented on #408
Hello,

I was facing the same issue.
First, you should use an object instead of a function here `[config]="getCalendarConfig(eachSchedule.formControlName)"` so angular can detect when changes are made on the config object. You will need one config object by component.

Then when the value from a component changes, you update the fields from the other component's config object :
`this.firstComponen

[2018-06-05 09:11] vlio20 commented on #408
@Maxsky5, it's not a workaround - it's how it is suppose to work :)
Thanks for the explanation.

[2018-06-05 09:11] #408 closed

[2018-06-05 09:20] iamramkey commented on #408
Hi @Maxsky5 ,

Thanks for your information.

@vlio20 : I have used ag-grid in my application & they provided me a property called rowData in gridConfig. Whenver I update rowData the grid is being re-populated with new data.

Just for reference : https://www.ag-grid.com/example.php

Update the dropdown in the top with label : Data Size the grid is going to update automatically.

Can you please expl

[2018-06-05 16:04] iamramkey opened #409 "Whenever we update the config to a new object the calendar navigates back to current month in daytime picker"
Hi Everyone,

After resolving [minDate/minTime](https://github.com/vlio20/angular-datepicker/issues/408) issue with @Maxsky5 comment. I am facing another issue which I mentioned in my last comment. I am able to select the updated fromDate on toDate calendar but what happened is that calendar is moving to the current month rather the selected month (only when min date or minTime changed).

I am usi

[2018-06-06 09:13] SentyQ commented on #252
I'm waiting for this fix too..

[2018-06-07 09:27] tzoratto opened #410 "unSelectOnClick and dpDayPicker directive"
Hi,
thanks for this awesome datepicker, I was struggling to find a datepicker with day and month mode !

I encountered a small bug (I think) though, when using the component `dp-date-picker` with ngModel everyhing is fine but when I use the directive `dpDayPicker` the way it's shown in the doc `<input name="someName" [(ngModel)]="selectedDate" [dpDayPicker]="config" />` even with no config at all,

[2018-06-15 07:55] JLHwung opened #412 "ng2-datepicker hang the browser under certain circumstance"
ng2-datepicker will hang the browser when using `[ngModel]` and `(ngModelChange)` together. It is recommended to checkout the **stackblitz** demo [here](https://stackblitz.com/edit/angular-6c9mff?file=src/app/form-control-date.component.ts) as I use
[code]
to have `ng-date-picker` under a custom form control component. I know it is not some popular usage and the bug may be related to that.

I've t

[2018-06-19 09:18] vlio20 commented on #403
resolved in #370c060 will be available in 2.10.0

[2018-06-19 09:18] #403 closed

[2018-06-19 09:18] vlio20 commented on #409
hi @iamramkey , please provide a stackblitz

[2018-06-22 14:47] alanent commented on #220
https://stackoverflow.com/questions/50947642/angular-material-6-datepicker-reactive-form
Can you help me please ?

[2018-06-25 14:40] clem4net opened #415 "weekDayFormatter doesn't work in day mode"
https://github.com/vlio20/angular-datepicker/blob/75abe90cf7d19f6078a70f3d9677ac1d0479ce10/src/app/date-picker/date-picker.service.ts#L62

Method DatePickerService.getDayConfigService(...)
=> the weekDayFormatter properties is not in the result.

So, the weekDayFormatter is never used.

Thanks

[2018-06-28 10:58] sunnykantkr commented on #248
Is this resolved? Could you please provide the usage of isDayDisabledCallback or isMonthDisabledCallback.

[2018-06-30 06:59] vlio20 commented on #415
Please provide as stackblitz

[2018-07-10 07:42] sunnykantkr commented on #200
#87

[2018-07-10 12:51] marcelcpx commented on #200
This only partially solves the issue: if I put multiple datepickers in one component, I still cannot close a datepicker using a click outside of the field the first time.

[2018-07-10 21:39] ChristianGalvez23 opened #416 "DatePicker in Reactive Forms"
I have DatePicker installed in my app which is using Reactive Forms Paradigm.
I was building a view where I put this component as control, so, I came across that formControlDirective and the component don't work together, because I need to disable the component programmatically when certain conditions happen.

1. I tried to set "disabled" formcontrol property to true/false and doesn't work.
2. I t

[2018-07-11 08:14] Quentigus commented on #387
+1

[2018-07-12 17:40] nico281 commented on #405
Hi, im running the same problem.
im making a form builder and i need to change the format in a configuration but the changes to the config are not being reflected on the input. only after reload the page. there is a way to tell the directive to update the format?
Cheers

[2018-07-12 20:46] nico281 opened #417 "question about Formats"
Hi, im making a form builder and i need to change the format in a configuration but the changes to the config are not being reflected on the input. only after reload the page. there is a way to tell the directive to update the format?
Cheers

[2018-07-12 23:05] Felttrip commented on #415
@vlio20 I'm having the same issue, I would expect the `weekDayFormatter` config option to also work with `dp-date-picker`
stackblitz showing the issue here https://stackblitz.com/edit/angular-ewx1wb

[2018-07-13 07:42] vlio20 commented on #417
It would be easier to have a stackblitz, so please post one and I will try to help.

[2018-07-13 07:45] vlio20 commented on #416
It should, if not, than it is an issue that needs to be resolved.

I will take a look asap.

[2018-07-13 07:46] vlio20 commented on #415
thanks, I will take a look asap

[2018-07-13 07:46] vlio20 commented on #412
thanks, will take a look asap

[2018-07-13 07:47] vlio20 commented on #410
Could you please provide a stackblitz?

[2018-07-13 14:20] nico281 commented on #417
https://stackblitz.com/edit/angular-maohqz
my idea is to have the ability to change the format on runtime.
If you look at the example, i set a default format but if i change the config format, the input still continue showing the default format and not the updated one.

[2018-07-16 12:04] Romko775 commented on #380
Hi! Can you make a little sample of how to pass class to popup and how to style input? I tried, but only shifts all the form.

<dp-date-picker #datePicker
                  [config]="config"
                  [theme]="'dp-main'"
                  [mode]="'month'">

[2018-07-16 19:13] vlio20 commented on #380
There is no "Theme", you can style it in any way you want with plain css

[2018-07-17 13:40] AanchalMehrotra02 commented on #153
Just add attribute mode="daytime" as follows :
<dp-date-picker mode="daytime" theme="dp-material" [(ngModel)]="startDate" [config]="dateConfig"></dp-date-picker>

[2018-07-18 14:15] marcelcremer commented on #417
Hey,

I have the same issue - thx @nico281 for creating the stackblitz.

I want to add, that the same is true when the object changes (which triggers ng change detection).

Forked stackblitz as demo:

https://stackblitz.com/edit/angular-gftrbi?file=src%2Fapp%2Fapp.component.ts

[2018-07-19 10:07] Romko775 opened #418 "question about Input Text Mask"
Hi, just wonder if it is possible to put on input a mask like ' **\d\d / \d\d / \d\d\d\d** ' or ' **99/99/9999** '. Tried to use vanilla text mask [https://github.com/text-mask/text-mask/tree/master/vanilla], but it cannot find input, used querySelector and used @ViewChild.
**html**
`<dp-date-picker #input>
  </dp-date-picker>`

**ts**
`dateMask = [/\d/, /\d/, '/', /\d/, /\d/, '/', /\d/, /\d/, /\d

[2018-07-22 18:49] vlio20 commented on #400
@sirajc , is it reproduced in latest version?

[2018-07-22 18:50] vlio20 commented on #418
Nope, no support for input masks for now

[2018-07-22 18:52] vlio20 commented on #418
I suggest you to try:
https://css-tricks.com/input-masking/

[2018-07-22 18:52] #418 closed

[2018-07-22 20:30] vlio20 commented on #384
resolved in d389c96.
Will be available in the next release (2.10.1). @wgf4242 thanks for opening this issue.

[2018-07-22 20:30] #384 closed

[2018-07-22 20:34] vlio20 commented on #417
Will mark as bug...
Will take a look shortly. There are some other things on the pipeline though. If it's really urgent, consider reach via [Fiverr](https://www.fiverr.com/vladioffe/add-features-and-fix-bugs?arrived_from_manage_gigs=true&display_share=true).

[2018-07-22 20:37] vlio20 commented on #405
I will take a look ASAP though there are some other things on the pipeline. If it's really urgent, consider reach via [Fiverr](https://www.fiverr.com/vladioffe/add-features-and-fix-bugs?arrived_from_manage_gigs=true&display_share=true).

[2018-07-22 20:38] vlio20 commented on #200
isn't it a duplicate of 377?

[2018-07-22 20:39] vlio20 commented on #407
closing for now

[2018-07-22 20:39] #407 closed

[2018-07-22 20:39] vlio20 commented on #396
I will take a look ASAP though there are some other things on the pipeline. If it's really urgent, consider reach via [Fiverr](https://www.fiverr.com/vladioffe/add-features-and-fix-bugs?arrived_from_manage_gigs=true&display_share=true).

[2018-07-22 20:40] vlio20 commented on #397
closing for now

[2018-07-22 20:40] #397 closed

[2018-07-22 20:41] vlio20 commented on #409
It would be hard for me to help without a stackblitz.

[2018-07-22 20:41] #409 closed

[2018-07-22 20:42] vlio20 commented on #410
@tzoratto ?

[2018-07-22 20:42] vlio20 commented on #412
I will take a look ASAP though there are some other things on the pipeline. If it's really urgent, consider reach via [Fiverr](https://www.fiverr.com/vladioffe/add-features-and-fix-bugs?arrived_from_manage_gigs=true&display_share=true).

[2018-07-22 20:42] vlio20 commented on #415
I will take a look ASAP though there are some other things on the pipeline. If it's really urgent, consider reach via [Fiverr](https://www.fiverr.com/vladioffe/add-features-and-fix-bugs?arrived_from_manage_gigs=true&display_share=true).

[2018-07-22 20:43] vlio20 commented on #416
There are some other things on the pipeline. If it's really urgent, consider reach via [Fiverr](https://www.fiverr.com/vladioffe/add-features-and-fix-bugs?arrived_from_manage_gigs=true&display_share=true).

[2018-07-22 21:05] tzoratto commented on #410
Sorry I was on vacation, I’ll try and do that this week

[2018-07-23 07:02] marcelcremer commented on #417
Thank you @vlio20, if I get into it, I might also send a PR. Unfortunately, I'm having a deadline this week, so maybe I can spend time on it next week.

[2018-07-23 15:03] coffeymatt commented on #378
I'd love to find a date picker that supports UTC/timezone free dates but every library I've found so far just has it in the backlog. So yea, just adding my voice to the request, as my current work arounds are rather hacky.

[2018-07-25 08:50] kumaresan-subramani commented on #177
can you please share one example with date min max validation?
@vlio20

[2018-07-25 10:00] vlio20 commented on #177
You can see how it done in the demo src code

[2018-07-25 10:32] kumaresan-subramani commented on #177
@vlio20 , where is it?
demo src code?
i could not find?

[2018-07-25 10:46] vlio20 commented on #177
In this repo. Search for demo

On Wed, Jul 25, 2018, 13:32 kumaresan-subramani <notifications@github.com>
wrote:

[2018-07-27 07:27] darwin4416 opened #423 "Pre populate multiple dates in input field (reactive forms )"
Multi select date is working fine while saving, but i want to do CRUD operation on this input field. The data which populates the formControlName is not displaying, it is showing as a invalid date.

[code]
Code in TS file:
[code]

[2018-07-30 07:35] tzoratto commented on #410
sorry for the delay...

here is a stackblitz to reproduce the issue :

https://stackblitz.com/edit/angular-5-example-2nv6px

[2018-07-31 14:09] marcelcpx commented on #200
I'm now away from work, so I can't test it thoroughly. I'll come back at this issue somewhere next week.

Thanks anyway!

[2018-08-01 11:06] JLHwung opened #426 "The datepicker does not update `ng-untouched` class after user selects date string"
The datepicker should set its `class` attribute to include `ng-touched` after the user has interacted with the datepicker.

- [x] Provide a **minimal code snippet**, please make sure it is well formatted. See below
- [x] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces the bug. https://stackblitz.com/edit/angular-datepicker-example?file=src%2Fapp%2Fapp.

[2018-08-01 19:44] vlio20 commented on #426
resolved in 86ba0a6.
Thanks @JLHwung

[2018-08-01 19:44] #426 closed

[2018-08-01 22:08] JLHwung commented on #426
Cool. Would like to see this get published to npm soon.

[2018-08-07 05:42] Avishaidev opened #427 "Missing Dates Bug!!!"
Open the picker on March 1990 see dates from 24 then missinig 25 and 27 how its acceptable????

[2018-08-07 05:50] vlio20 commented on #427
Will take a look ASAP

[2018-08-07 05:52] Avishaidev commented on #427
Please help to fix it i have a very big project on production.
Thanks

[2018-08-07 06:11] Avishaidev commented on #427
in file: ng2-date-picker.es5.js
Line: 659
Code:
`if (current.format('HH') !== '00') {
                current.startOf('day').add(1, 'day');
            }`

What is the if condition meaning to?
Because if i remove this "if" block bug are fixed.

[2018-08-07 06:36] vlio20 commented on #427
As far as I remember it solves another issue in the calendar. Try to remove and look for for months in 2017.

[2018-08-07 06:43] Avishaidev commented on #427
I removed and checked all 2017 months everything are ok.

[2018-08-07 06:45] vlio20 commented on #427
try to PR. let's see if all tests are passing.
Please push your PR to next branch

[2018-08-07 07:07] Avishaidev commented on #427
Sorry i don't know how to do this.
Change are in src/app/day-calendar/day-calendar.service.ts
Line: 89-91
fixed: remove this lines
code to remove:
`if (current.format('HH') !== '00') {
          current.startOf('day').add(1, 'day');
        }`

[2018-08-07 07:11] vlio20 commented on #427
I will do it later today.

Thanks.

[2018-08-08 18:28] vlio20 commented on #427
resolved in e41ad9b will be available later today in version 2.10.2. Thanks again

[2018-08-08 18:28] #427 closed

[2018-08-23 09:25] dgroh commented on #410
I can confirm this (or similar). When selecting the date twice, the `dp-selected` class is removed from the DOM element. This means.

To reproduce:

1. select a date
2. open the datepicker again
3. select the same date you have selected before

The `dp-selected ` gets removed from the DOM.

[2018-09-06 21:04] vlio20 commented on #423
@darwin4416 please provide a stackblitz

[2018-09-07 05:10] darwin4416 commented on #423
@vlio20 I got the solution. Thanks

[2018-09-07 05:10] #423 closed

[2018-09-07 08:34] vlio20 commented on #423
Your ⭐️ would be much appreciated

[2018-09-08 05:15] vlio20 commented on #196
Hi @maxteebabs, there are no other themes - you can create your own.
I am not planning to introduce new themes in the near future, if it's urgent you can contact me via Fiverr (you will find a link in the demo and in the redme file).

Regarding multiple datepickers in the same page, please provide a stackblitz.

[2018-09-11 06:56] melodysummer opened #429 "error TypeError: o.inputBlurred is not a function"
2.10.2 version
![image](https://user-images.githubusercontent.com/25784493/45343132-92799000-b5d2-11e8-9b87-fee4ec99acf3.png)

in the builded js file, inpuBlurred is not packed in.
fixed up as follows:
esm5/ng2-date-picker.js
DatePickerDirective.prototype.onBlur = function () {
        this.datePicker.inputBlurred();
    };

[2018-09-11 18:29] vlio20 commented on #429
@melodysummer can you please provide steps to reproduce?

[2018-09-12 03:36] melodysummer commented on #429
@vlio20 after I upgraded the version to 2.10.2,  when I click the calendar date, the console will show error as above, said  inputBlurred is not a function.

[2018-09-14 10:18] jeroenburgers opened #430 "If there a way to create/use custom validations?"
I am using this Angular datepicker for one of mine projects and I am looking for a possible way to use custom validations. I wrote about the minDate, maxDate and required validation. Can you tell me is this possible?

When I have created a custom validation to the form control, I can't found them back if I log the control.errors state. I will expect customErrorName: true, but I have seen this: ` {

[2018-09-28 09:51] shuvrodeb-kar opened #432 "Date 4 and 6 are missing from the Month of November 2018"
**ng2-date-picker version**; 2.9.0
**Angular version:** 5.2.0
**Browser**: All browser.
**Windows**: 10
**Code Snippet**: <dp-date-picker name="mydateFrom" #dayPickerFrom [(ngModel)]="dateTimeModel.fromDate" [config]="datePickerConfig" [disabled]="disableDateSelection"></dp-date-picker>

![33](https://user-images.githubusercontent.com/6039535/46201545-3d5dae00-c336-11e8-8029-01f2e6c51716.png)

One

[2018-09-28 18:14] vlio20 commented on #432
@shuvrodeb-kar,  maybe it is related to her locale. Can you provide this information?

[2018-10-01 05:38] vlio20 commented on #432
The locale of the user

[2018-10-03 05:34] shuvrodeb-kar commented on #432
![image005](https://user-images.githubusercontent.com/6039535/46391766-51bbf500-c700-11e8-9ccf-67eb2a86e6a2.jpg)

[2018-10-03 18:49] vlio20 commented on #432
@shuvrodeb-kar, what is your locale? do you experience the same issue?

[2018-10-04 11:32] viniciushvc commented on #99
@vlio20 i trying to set a min date, but when i do, the back button disappear

[2018-10-09 09:12] shuvrodeb-kar commented on #432
Sorry, we also could not reproduce it.

But, have you tested on ng2-date-picker version; 2.9.0?

This version we have used in our end. we just want align.

[2018-10-09 09:15] vlio20 commented on #432
Nope I didn't. But I suggest y to upgrade to latest version as there were some bug fixes related to dates display. Please let me know if it helped.

[2018-10-10 19:30] WaterBleu commented on #198
yeah ideally I can just have the ngModel bind to a date object that would be nice.
is there a new timeline for this? @vlio20

[2018-10-11 05:03] vlio20 commented on #432
closing for now

[2018-10-11 05:03] #432 closed

[2018-10-11 05:04] vlio20 commented on #430
Can you please create a demo stackblitz?

[2018-10-11 05:12] vlio20 commented on #429
I will check it ASAP, PRs would be much appreciated

[2018-10-20 10:06] vlio20 opened #434 "Angular 7 support"
Add support for ng7

[2018-10-20 10:12] vlio20 commented on #429
@melodysummer I am unable to reproduce :(. On which component are we talking about?

[2018-10-23 17:18] vlio20 commented on #429
closing for now

[2018-10-23 17:18] #429 closed

[2018-10-23 17:20] vlio20 commented on #410
@tzoratto , is this still an issue?

[2018-10-23 17:21] vlio20 commented on #396
@avineet1993 , is this still happening?

[2018-10-23 20:47] WaterBleu opened #437 "[Bug] Backward Compatibility Breaks for Angular4 for version 2.9.0 and above"
should be the same problem happened in #343

[2018-10-23 21:57] WaterBleu opened #438 "[Feature Request] closeOnEnter"
much like closeOnSelect, but when user hits enter key would close the calendar popup

[2018-10-24 17:20] vlio20 commented on #437
There is no support for new versions if there was an angular update.

[2018-10-24 17:20] #437 closed

[2018-10-24 17:21] vlio20 commented on #438
Sounds like you need to use the directive approach, does it solves your case?

[2018-10-24 17:42] WaterBleu commented on #438
can solve with directive and listen on Enter of the input, this is more or less a correct behaviour ui/ux
I would consider putting into the component

[2018-10-24 17:55] vlio20 commented on #438
Sounds legit, you are welcome to create a PR. Currently I am working on other suff that is on the pipeline.

[2018-10-26 03:52] ZihanTang commented on #434
HI vlio20, can I ask for the eta of Angualr 7 support ?

[2018-10-26 04:13] vlio20 commented on #434
Hi,
There no Eta. I planned to do it on my free time. If it's urgent, you can reach me via my fiverr account and I will give it a higher priority.

[2018-11-04 01:09] fabsalito opened #439 "Set initial date and time for inline date-time calendar"
Hi,

Is there some way to set initial values for date and time for an inline date-time calendar?

I tried with displayDate but this is only for date and, on the other hand, the date was not highlighted.

Regards,

[2018-11-04 03:56] vlio20 commented on #439
What type of form are you using? Template or reactive?

[2018-11-05 04:34] fabsalito commented on #439
Hi @vlio20,

I am using template. I made it work setting both, the displayDate and the ngModel value.

Regards,

[2018-11-05 04:34] #439 closed

[2018-11-06 12:30] zainkhwaja opened #440 "[Feature Request] multiDaysDisabled"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2018-11-30 19:40] vlio20 commented on #434
available in version 2.11.0

[2018-11-30 19:40] #434 closed

[2019-01-15 17:57] ebonventi opened #442 "[Feature Request] Year Mode"
Implement an option to pick only year.

[2019-01-25 05:18] acejiyu opened #443 "IE11 needs to click twice to select the date"
In the case of using the placeholder attribute, IE 11 needs to click twice to select the date.
You can use IE 11 to access the homepage([angular-datepicker](https://vlio20.github.io/angular-datepicker/)) to reproduce this problem.

[2019-02-21 17:22] carlonoelle opened #444 "Can't set time of time picker with API moveCalenderTo()"
I want to set the time of the time-picker to be a specific time, in my case the current time rounded to the nearest 15 min in an hour.

I subscribed to the open event of the picker, and on open call moveCalenderTo() with the manipulated current time.

Stackblitz: https://stackblitz.com/edit/angular-k6abay

But it does nothing.
I think waiting for the open event isn't necessary but i kept it in to

[2019-02-21 19:09] vlio20 commented on #444
Thanks, I will check this out.

[2019-02-21 19:17] vlio20 commented on #444
Check this one:
https://stackblitz.com/edit/angular-7q6udu?file=src%2Fapp%2Fapp.component.html

moveCalendarTo is just moving the calendar to a specific date (which shouldn't work on a time picker). I have added an `[ngModel]="date"` and updating the date on opening instead of using moveCalendarTo method.

[2019-02-21 19:53] carlonoelle commented on #444
Perfect, thank you very much!
That's the solution I am looking for.

[2019-02-21 19:53] #444 closed

[2019-02-21 20:56] vlio20 commented on #444
Your ⭐️ would be much appreciated

[2019-02-21 21:15] carlonoelle commented on #444
Of course, you got it

[2019-03-07 19:52] chaityashah opened #445 "Disable Selecting same selected Date"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2019-03-07 19:53] chaityashah commented on #445
We are using Angular version 4. And this is not browser specific.

[2019-03-08 07:05] vlio20 commented on #445
sounds like a feature request.

[2019-03-08 11:57] house-md opened #446 "Datepicker dirty after init"
Hello,
In our project We are a experiencing problem with dirty datepicker right after it's initialized with data even when inner input is pristine.

Demo: **[Stackblitz](https://stackblitz.com/edit/angular-d5rgym)**
Screenshot:
![image](https://user-images.githubusercontent.com/7100025/54027409-b8f33f00-41a1-11e9-8c87-ff53658e001b.png)

Angular version: **6.1.9 (demo is with version 7.2.8)**
Brows

[2019-03-08 15:58] chaityashah commented on #445
Hi,

I think this can be achieved through passing configuration "unSelectOnClick" false, which will not allow user to deselect current selected date.

I tried that and it worked for me.
Let me know if that configuration is for different purpose and have any other effect which I might not have noticed.

Thanks.

[2019-03-19 16:05] DDeme commented on #446
I see the same problem in my project.

[2019-03-19 18:29] vlio20 commented on #446
Yes, I am was able to reproduce this issue. I will try to fix it soon. In the meantime PRs would be helpful.

[2019-04-02 10:25] Jagat-sdrc opened #447 "month-picker implementation"
how to use month-picker, becoz there is no month-picker, only date-picker is available

[2019-04-08 13:47] sagar-ganesh commented on #398
Any updates regarding keyboard accessibility, please.

[2019-04-08 19:37] vlio20 commented on #398
@sagar-ganesh, not yet though it's on my 2 do list. You are welcome to submit a PR.

[2019-04-08 19:38] vlio20 commented on #447
You can see that it is available in the demo. Let me know if you have a specific question.

[2019-04-08 19:38] #447 closed

[2019-04-09 04:57] Jagat-sdrc commented on #447
There is no month-picker, there is only a month calendar. So if you are saying that there is month picker available in demo, requesting you kindly share me the snippet of that particular code.

Thanks for you response @vlio20

[2019-04-09 06:53] vlio20 commented on #447
Here you go:
http://prntscr.com/n9f5m0

[2019-04-09 08:26] Jagat-sdrc commented on #447
Requesting you to kindly share the code for month picker @vlio20

[2019-04-09 08:55] vlio20 commented on #447
Did you checkout the documentation?

[2019-04-09 09:01] Jagat-sdrc commented on #447
Yes

[2019-04-10 16:37] vlio20 commented on #447
http://prntscr.com/na5sj9

[2019-04-15 13:17] chirag97 opened #448 "how do I re initialise date picker with after updation in configuration ?"
how do I re initialise the component with updated configuration of the date picker.
- I want to change the locale based on the api call and if the date picker loads with defalut locale then I want to update it and reinitialise the date picker.

[2019-04-16 15:27] vlio20 commented on #448
You need to reassign the configuration. Please post a stackblitz - it will help to help you

[2019-05-13 11:13] sadra74 opened #450 "make date picker input read only"
I want to be able to make my input in my date picker read-only.
if I want to put it simply, I should say I want to have a date picker that does not have the ability of typing in. in other word I want the user to just use date-picker through clicks no keyboards.
if you are asking why I am doing this I should say I want this because I want to prevent a user from typing any invalid characters.  I wou

[2019-05-21 05:34] vlio20 commented on #450
@sadra74 I would suggest you to use the component, and modify it with css to look like a button.

[2019-05-21 05:34] #450 closed

[2019-05-27 09:31] keub commented on #448
here is a link to the problem.
the expected behavior is that the changes are taken into account when the configuration passed as an attribute of the picker date is modified
Thank you! Thank you!

[2019-05-28 05:08] vlio20 commented on #448
Here you go:
https://stackblitz.com/edit/ng2-date-picker-ckvhhm?file=app/app.component.ts

Please give this repo a ⭐️

[2019-05-28 05:08] #448 closed

[2019-05-29 11:24] house-md commented on #446
@vlio20 any update on this? this bug is blocking us at some features

[2019-05-29 12:26] vlio20 commented on #446
Not really, didn't have time to work on this one. I would except PRs

[2019-06-28 06:45] vlio20 opened #451 "ng8 upgrade"
Move component to ng 8

[2019-06-28 08:52] vlio20 commented on #451
resolved in 2.12.0

[2019-06-28 08:52] #451 closed

[2019-07-11 16:43] kirillgroshkov commented on #290
Any updates on removing moment as dependency?

[2019-07-12 06:10] vlio20 commented on #290
@kirillgroshkov yeas there are such plans but currently I have no capacity to do it

[2019-07-12 18:40] chetanupreti opened #454 "needs some information"
how can I change date picker control value from moment object to Date format like "YYYY-MM-DD". we have requirement to save date in this format so any configuration.
how to set formcontrol value that date which we select.

[2019-07-12 18:42] vlio20 commented on #454
Yiu have such example.in the demo page.

[2019-07-12 20:48] #454 closed

[2019-07-17 11:37] chetanupreti commented on #454
can you give some code snippt...I didn't understand how to do this task.

[2019-07-17 11:41] chetanupreti commented on #454
in demo here is configuration for date formate. but I want to change value in form control of this component

[2019-07-17 11:42] chetanupreti commented on #454
setValue("mm,dd,yyyy") in this way

[2019-07-17 13:35] chetanupreti commented on #454
we have template driven forms

[2019-07-25 14:03] GuilhermeDorazzi commented on #442
The datepicker is almost perfect, just missing the feature to select year.

[2019-07-26 14:51] BlindDespair opened #456 "Can't use it in angular 8 with Ivy"
- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.

- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces the bug.
- [ ] Provide **screenshots** where appropriate
- [x] What's the **version** of Angular you're using?
Angular CLI: 8.0.0
Node: 10.16.0
OS: darwin x64
Angular: 8.0.0
... animations, cdk, cli, common, compiler,

[2019-08-05 18:24] calchuchesta opened #457 "Option to use unformatted date (ISO)?"
Is there any way I can make the datepicker use the ISO format internally? I want my input field to be formatted, but the actual value to be an ISO date.

[2019-08-05 18:31] calchuchesta commented on #457
Nevermind, I had an "eureka" moment and realized setting the `format` option to an empty string works like a charm.

[2019-08-05 18:31] vlio20 commented on #457
Unfortunately not, you can use a moment object and then format it to whatever type you need

[2019-08-05 18:31] #457 closed

[2019-08-26 10:59] ducdm87 opened #458 "how to set default time"
how to set defaul time? when i click open datetime, i want to set default time is "00:00". Does datepicker support it?

[2019-08-26 11:10] vlio20 commented on #458
Yes, please check the documentation.

[2019-08-26 11:10] #458 closed

[2019-08-29 12:54] anleodev opened #459 "dp-time-select ngModel behavior"
Hello,
We are experiencing a problem with ngModel behaviour of dp-time-select component, the point is if the value updated somewhere outside of component - it's changed back to it's previous value, which is set inside of component. Shouldn't it be vice versa? And if no - how can we update the value inside of the component after it's initialisation, if we have a case, where we need it?

Angular ver

[2019-08-29 13:34] vlio20 commented on #459
The component should react to changes in the value. Make sure that the object that is passed to it is being changed. If it still doesn't work properly then please post a stackblitz in which I could reproduce the issue

[2019-08-29 14:23] anleodev commented on #459
Well, the component doesn't react to changes after initialisation, because in ngOnChanges(triggered by changing model) you call this.init() which
resets the current value by

this.selected = this.selected || moment();

[2019-08-29 14:34] anleodev commented on #459
Well, the component's doesn't reaction to changes is blocked, if changing model also calls ngOnChanges lifecycle, there you call this.init()

which makes
this.selected = this.selected || moment();

and this is returning component to old value, dropping the model change.

[2019-08-29 15:11] anleodev commented on #459
Created a pull request for that.
I'd be very thankful if you will apply and deploy it with new version someday.

[2019-09-16 19:49] danchaseCTS opened #461 "I am unable to modify style using CSS only"
Hi Vlad,

I'm trying to follow your previous advice to modify the style, simply using CSS - but I could not find the current class names, even in the source - I went to every file searching, and finally found some in the meta data. I then went to Chrome DevTools, and highlighted a date and clicked, it had a blue background. I then modified that value within DevTools, and saw it turn red! Great! No

[2019-09-16 20:59] vlio20 commented on #461
Hi Dan,
Hope you still have some hare. Be sure the the component you are using (the one that wraps the date picker) has the right encapsulation. It would me much easier if you could share a stackblitz.

[2019-09-19 19:01] vlio20 commented on #461
Checkout https://stackblitz.com/edit/angular-59nhpp?file=src/styles.css. You need to change it in your main css file

[2019-09-19 19:01] #461 closed

[2019-10-18 12:39] house-md commented on #446
@vlio20 Finally me and my colleague did a little bit of research and found a cause - https://github.com/angular/angular/issues/14988.

What is happening at first is that "**writeValues**" method is triggered with _null_ value which is in second call replaced with desired value which causes the change of status to dirty.

I am trying to work on PR but I am getting out of ideas on how to fix it.

[2019-10-23 05:48] pvds opened #462 "Selected month class (.dp-selected) not set"
When inspecting the month calendar html, the `dp-selected` class is missing on the currently selected month (`.dp-calendar-month`).

## Reproduce
1. Go to https://vlio20.github.io/angular-datepicker/#
2. Select a date in the day or day time picker
3. Go to the month calendar
4. Currently selected month button is missing  the `dp-selected` class

## Screenshots
### Rendered view (would expect novem

[2019-10-23 10:20] vlio20 commented on #462
thanks, I will try to have a look on that later.

[2019-12-04 13:05] abhilashmaipady commented on #396
@vlio20 This issue is still persist. Not able to bind Array of Moment Obj into model.
![image](https://user-images.githubusercontent.com/15060415/70144824-c273ee00-16c4-11ea-91e4-962e975501db.png)

[2019-12-11 10:40] danielzach commented on #456
I'm having exactly the same issue, when using Ivy... @vlio20 any update on this?

[2019-12-14 06:13] vlio20 opened #467 "Update NPM deps"

[2019-12-14 20:04] #467 closed

[2019-12-14 20:05] vlio20 commented on #456
No updates yet. Hope to have some time to fix this issue

[2019-12-14 20:07] vlio20 opened #469 "User rendere2"

[2019-12-14 21:14] vlio20 opened #471 "start using angular library build instead of directly using ngPackager"

[2019-12-14 21:23] vlio20 commented on #417
it's working, you shouldn't change it inline:
https://stackblitz.com/edit/angular-vh88mz?file=src/app/app.component.ts

[2019-12-14 21:23] #417 closed

[2019-12-14 21:24] vlio20 commented on #440
The approach to do it is to use the isDisabled callback, this way you can apply any logic that you want.

[2019-12-14 21:24] #440 closed

[2019-12-16 05:51] vlio20 commented on #443
As it seems like a very minor concern of the community of this library I will close this case for now. If there will be more people with the same problem I will reopen it. Sorry, for not taking care of this issue but my time is limited and I prefer to focus on other cases - Don't hesitate to PR.

[2019-12-16 05:51] #443 closed

[2019-12-16 19:19] vlio20 commented on #456
I replaced renderer with renderer2. This will be available in the nest version.

[2019-12-16 19:19] #456 closed

[2019-12-16 19:20] vlio20 commented on #469
will be available in 8.0.0

[2019-12-16 19:20] #469 closed

[2019-12-16 20:58] vlio20 commented on #446
@house-md seems like this is an angular issue: https://github.com/angular/angular/issues/14988

[2019-12-16 21:04] vlio20 commented on #462
fixed and will be available in version 8.0.0

[2019-12-16 21:04] #462 closed

[2019-12-16 21:20] vlio20 commented on #459
@anleodev sorry for checking this so late.

I am unable to reproduce
I am not sure what do you mean when you say:

If you could provide a stackblitz it would help a lot.

[2019-12-16 21:25] vlio20 commented on #446
I will close this one until there will be a resolution from Angular side

[2019-12-16 21:25] #446 closed

[2019-12-17 21:08] vlio20 opened #474 "Refactor demo page"
Make demo page simpler by breaking it to multiple components

[2019-12-17 22:02] vlio20 commented on #416
Fixed in 5e18e22 will be available in version 8.0.0

[2019-12-17 22:02] #416 closed

[2019-12-18 05:04] vlio20 commented on #415
resolved in b09964c and will be available in version 8.0.0

[2019-12-18 05:04] #415 closed

[2019-12-18 07:28] vlio20 commented on #412
As you said this is very unpopular approach, I will close this for now.

[2019-12-18 07:28] #412 closed

[2019-12-18 18:45] vlio20 commented on #405
The thing is that after changing the format you will also need to reassign the date. I guess this work around is sufficient for now. If I will get more people complaining about that and the workaround won't work for their scenario I will reopen the issue.

[2019-12-18 19:06] vlio20 commented on #405
I were able to reproduce the issue. Working on a fix

[2019-12-20 11:36] vlio20 commented on #405
fixed in faa2d99 and will be available in 8.0.0

[2019-12-20 11:36] #405 closed

[2019-12-20 11:39] vlio20 commented on #396
@abhilashmaipady I am unable to reproduce, the stackbliz you posted is working.
Please provide steps to reproduce and update the stackblitz.

[2019-12-20 11:40] vlio20 commented on #459
closing for now

[2019-12-20 11:40] #459 closed

[2019-12-20 11:42] vlio20 commented on #400
closing for now

[2019-12-20 11:42] #400 closed

[2019-12-20 11:43] vlio20 commented on #410
closing for now

[2019-12-20 11:43] #410 closed

[2019-12-20 11:45] vlio20 commented on #200
This issue is not reproduced anymore. closing.

[2019-12-20 11:45] #200 closed

[2019-12-20 11:51] #471 closed

[2019-12-21 19:38] abhilashmaipady commented on #396
I am also not able to reproduce this issue in my local or stackblitz project. I had this issue in production code. Now I am using date-picker directive instead of date-picker component.

[2019-12-21 19:55] vlio20 commented on #396
cool, so I will close this for now

[2019-12-21 19:55] #396 closed

[2019-12-29 18:00] vlio20 opened #480 "Add debounce on open delay"

[2020-01-01 15:15] vlio20 commented on #474
resolved 4601b91

[2020-01-01 15:15] #474 closed

[2020-01-01 19:44] vlio20 commented on #445
happy to hear that. The configuration is exactly for that. @chaityashah I will be happy if you could share a link or a screenshot of you usage of that component.

[2020-01-01 19:44] #445 closed

[2020-01-01 19:46] vlio20 commented on #252
@SentyQ why does it matters if it's a table or divs?

[2020-01-01 20:27] vlio20 commented on #480
resolved in cd86edb

[2020-01-01 20:27] #480 closed

[2020-01-01 21:16] vlio20 commented on #438
resolved in da0fe4d

[2020-01-01 21:16] #438 closed

[2020-01-02 21:42] vlio20 commented on #387
resolved in 5702231

[2020-01-02 21:42] #387 closed

[2020-01-10 07:56] kobL opened #489 "Typos in filename of selection-event model and enum"
When I was looking through the code I noticed a missing "n" in "event" and point to much in those two filenames:

src/lib/common/types/selection-evet.enum..ts
src/lib/common/types/selection-evet.model.ts

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces the bug.
- [ ]

[2020-01-10 09:26] vlio20 commented on #489
will be resolved 8.1.0 (3cdbf96)

[2020-01-10 09:26] #489 closed

[2020-01-10 09:27] vlio20 commented on #489
thanks @kobL for the PR

[2020-02-10 14:50] Lysoun opened #490 "Validation in form"
Hello,

I would like to use format validation in a datepicker inside a form. When the format is incorrect, the form should be invalid. The validation seems to be currently only on the date picker component and not in the input that is inside the date picker. I would like the input to become invalid when the format validation failed to apply correct css and form the parent form to become invalid to

[2020-02-10 14:54] Lysoun commented on #490
I have tried to make you an example of my problem on stackblitz: https://stackblitz.com/edit/angular-vh4yfe

[2020-02-10 15:07] vlio20 commented on #490
Hi @Lysoun, you can achieve this with form validations. Are you using reactive form?

[2020-02-10 15:32] Lysoun commented on #490
I am using a template driven form. Should I use reactive forms for the date picker validation to make my whole form invalid when it fails?

[2020-02-10 17:17] vlio20 commented on #490
You better always use reactive forms. You can see an example in the demo page.

[2020-02-10 19:10] #490 closed

[2020-02-16 16:22] al-petrushin opened #491 "[Feature Request] Ability to select a month before choosing a day / day and hour"
Hi!

I propose to make feature that will allow the developer to ```customize the display of the calendar, that is, when choosing a date, enable the user to first select the month, and then the day```.
This will be useful only for day-calendar and daytime-calendar since the calendar by month/time is used only to select the month/time. In the case of day-calendar and daytime-calendar, it will now be

[2020-02-16 16:32] al-petrushin commented on #491
@vlio20 If you do not mind, then I will do it

[2020-02-17 18:38] vlio20 commented on #491
@al-petrushin sure.
Few notes:
1. Fork from next branch.
2. I am working on a year calendar so your solution should be generic in terms of what is the order of the shown calendar types ([year, month, day] , [month, day] , [year, month] etc)
3. Don't forget to add documentation
4. unit tests
5. e2e tests

Let me know if you need any help

[2020-02-26 05:58] aishwaryardandi commented on #443
@vlio20 I am facing the same issue

[2020-03-05 14:48] lunaboona opened #492 ""disableKeyPress" doesn't work"
When using the dpDayPicker directive in an input bound to an ngModel, the disableKeyPress option doesn't work. Initially I thought this issue only happened on Angular Material inputs but it seems to happen on a regular input as well.

[Stackblitz example](https://angular-61y3wf.stackblitz.io) (Angular 8)

[2020-03-06 07:24] vlio20 commented on #492
Hi @lunaboona , in order to make the same behaviour that supplies disableKeyPress on a directive just add readonly attribute to your input. Let me know if it solved your issue. BTW the link you shared is not working.

[2020-03-06 11:39] lunaboona commented on #492
Odd, it was working for me. Either way, I think you should mention this somewhere so other people don't run into this issue in the future :)

[2020-03-06 13:01] vlio20 commented on #492
will do.

@lunaboona I would appreciate your ⭐️

[2020-03-06 13:01] #492 closed

[2020-03-06 13:01] vlio20 opened #493 "Upgrade to ng9"
=

[2020-03-11 08:58] Manviel commented on #493
WARNING in Entry point 'ng2-date-picker' contains deep imports into '/node_modules/moment/moment'. This is probably not a problem, but may cause the compilation of entry points to be out of order

[2020-03-11 09:00] Manviel commented on #493
WARNING in Entry point 'ng2-date-picker' contains deep imports into '/node_modules/moment/moment'. This is probably not a problem, but may cause the compilation of entry points to be out of order

[2020-03-11 09:41] vlio20 commented on #493
@Manviel how is that related to that issue?

[2020-03-26 07:28] archerchiu opened #495 "Error occurs cannot read property kind of undefined in build optimizer"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2020-03-26 13:00] vlio20 commented on #495
Hi, @archerchiu can you please post a small repo with the reproduction of this issue?

[2020-03-30 07:43] albancho commented on #493
@vlio20 I had this error after upgrading my project to ng9, and using latest ng2-date-picker (2.12.0)

[2020-03-30 09:17] vlio20 commented on #493
@albancho , the renderer2 changes already available on the next branch. I hope to update the lib in the next few days to ng9.

[2020-03-30 09:35] albancho commented on #493
Wonderful :)

About the `deep import`, I haven't seen anything about how to do it "the right way".
All I've seen is a feature to "hide" this message on specific libs: https://github.com/angular/angular/issues/35615#issuecomment-592253747
Hope we can put the config file directly inside the lib, so users won't have to do it manually...

[2020-03-30 09:39] vlio20 commented on #493
@albancho can you point me to the file where you see the deep inport?

[2020-03-30 09:51] albancho commented on #493
Nothing is specified, but I guess it refers to `import * as moment` ?

`Warning: Entry point 'ng2-date-picker' contains deep imports into '[my-project]/node_modules/moment/moment'. This is probably not a problem, but may cause the compilation of entry points to be out of order.`

[2020-03-30 10:17] vlio20 commented on #493
I am not sure that I understand the problem. You can track the ng9 PR here: https://github.com/vlio20/angular-datepicker/pull/484

[2020-03-30 11:15] albancho commented on #493
Same here, hard to understand the meaning of the warning. I've read somewhere this may mean that the lib has not been compiled with Ivy. Let's hope it'll be resolved with the ng9 upg of the lib.

[2020-03-30 12:24] vlio20 commented on #493
@albancho please checkout version 9.0.0-rc1 let me know if it works for you

[2020-03-30 12:37] albancho commented on #493
@vlio20 no more `Renderer` errors, but the `moment` warning is still there :/

[2020-03-30 12:44] vlio20 commented on #493
sure, I will keep the RC version for few days to hear some feedback. In few days will release the 9.0.0 version.
Would appreciate your ⭐️

[2020-03-30 12:44] vlio20 commented on #493
will be available in version 9.0.0

[2020-03-30 12:44] #493 closed

[2020-03-31 01:45] archerchiu commented on #495
Hi, @vlio20 thank you for response.

I add a repository on [https://github.com/archerchiu/date-picker-repo](url)
Creating by angular-cli and add some libraries to package.json to serve on 4500 port.
Main page can see the dpDayPicker component works normally.
But, error occurred when I was building.
[code]

[2020-03-31 04:53] vlio20 commented on #495
@archerchiu looks fine to me:
https://stackblitz.com/edit/github-bc6hwa?file=src/app/app.component.ts

There is some issue with importing moment but it seems not to be related to the lib.

[2020-04-04 15:51] al-petrushin commented on #491
@vlio20 Could you, please, inform me when the calendar for the years will be ready. Not necessarily completely, but so that I can realize the ability to display the calendar of the year before the calendar of the month

[2020-04-10 13:04] #495 closed

[2020-04-10 13:05] vlio20 commented on #491
@al-petrushin checkout the year branch - it's not ready yet.

[2020-04-19 13:34] RonRofe opened #497 "Installation error - Ivy"
[code]
https://imgur.com/6oWx8Op

Angular version: 9.1.2
OS: MacOS
IDE: VSCode
Package version: Latest

[2020-04-19 15:00] vlio20 commented on #497
What version of the lib are you using?

[2020-04-20 04:32] #497 closed

[2020-04-22 03:27] acejiyu commented on #443
The problem is caused by IE11's poor support for "placeholder".
There are currently two ways to solve:
1.Remove "placeholder" attribute.
2. Replace original "placeholder" with custom tags
HTML
[code]
CSS
[code]
Move the control to the appropriate position by style.
I solved it using 2 and hope it helps you.

[2020-04-22 20:13] Saiprasad2020 opened #498 "DP-date-picker, issue NullInjector in Production (LIVE)"
I followed the instruction what you mentioned in readme file.

I installed the module and i place the module in app.module.ts under imports .

then i used the dp-date-picker it was working fine in local
but when i make it **PRODUCTION(LIVE)** it showing the issue like

StaticInjectorError(AppModule)[DayTimeCalendarComponent -> UtilsService]:
  StaticInjectorError(Platform: core)[DayTimeCalendarCom

[2020-04-22 21:14] vlio20 commented on #498
What version of the lib you are using and on what version of angular are you?

[2020-04-23 10:51] IxquitilisSaid opened #500 "Projects using v9 complain about Deep Imports"
On build, the CLI will throw `Warning: Entry point 'ng2-date-picker' contains deep imports into '/Users/MY_USER/{PROJECT_PATH}/node_modules/moment/moment'. This is probably not a problem, but may cause the compilation of entry points to be out of order.`

I opened a PR with the "fix" (if you can call it that) here: [#499 ](https://github.com/vlio20/angular-datepicker/pull/499)

Just changed `impor

[2020-04-28 12:58] albancho opened #501 "[Feature Request] making double arrows available in day view"
Hello there,

[This PR](https://github.com/vlio20/angular-datepicker/pull/148) made a double arrow available in the month view, to navigate multiple years back/forward, with `showMultipleYearsNavigation` and `multipleYearsNavigateBy` parameters.

What about being able to navigate by year in the day picker ?

The simple arrow would do "+/- 1 month", and double arrow would do "+/- 1 year".

It seems

[2020-04-28 17:37] vlio20 commented on #501
This is a great idea. Please PR it to the next branch.
Don't forget to add unit + e2e tests and documentation.

I am here for any question.

[2020-04-29 14:05] albancho commented on #501
Nice,
I'm ready to add the PR. I didn't see the "next" branch. All I see is *master*, *gh-pages*, *ng9*, and *year*. Do you want me to create the *next* branch ?

[2020-05-10 05:07] RonRofe opened #503 "Empty input after selecting values in day-time-picker"
I try to implement day-time picker in my angular app (I have also tried day picker).
I can open the picker, set different configurations and add directives as documented.
The problem is that when selecting a date / date + time - it doesn't show the result on the input.
What am I doing wrong?

**APP MODULE:**
[code]

**COMPONENT:**
[code]

[code]

**Angular version:** 9.1.0
I also tried uploading a

[2020-05-10 05:21] RonRofe opened #504 "Working with RTL"
Hi,

I am trying to work with RTL application and after putting the picker it looks very bad compared to the LTR one.
Is there any way to configure it appropriately?

![image](https://user-images.githubusercontent.com/30625668/81491437-4c893980-9297-11ea-8a90-8a80e9155be6.png)

[2020-05-10 05:44] vlio20 commented on #504
Not currently I guess. Will be happy to accept a PR.

[2020-05-10 05:45] vlio20 commented on #503
Will try to give it a look

[2020-05-10 08:19] vlio20 commented on #503
@RonRofe you stackblitz link doesn't work.

[2020-05-10 11:55] RonRofe commented on #503
https://stackblitz.com/edit/angular-ivy-ufd1gn

[2020-05-10 12:03] RonRofe commented on #504
Feaure request tag?

[2020-05-10 14:02] vlio20 commented on #504
I would say bug/enhancement

[2020-05-10 14:04] vlio20 commented on #503
@RonRofe still see some errors there

[2020-05-10 14:10] RonRofe commented on #503
The error occurs after installing the dependency without adding anything else... I do not know why.

[2020-05-10 14:44] vlio20 commented on #503
Try to add moment to the dependencies

[2020-05-10 14:46] RonRofe commented on #503
Same..

[2020-05-10 14:52] vlio20 commented on #503
I will be able to check a bit later in the meantime I suggest you to try to check how it works in the demo page.

[2020-05-10 18:37] vlio20 commented on #503
@RonRofe can you create a small repo maybe? not sure what's the issue with stackblitz

[2020-05-12 07:52] Manviel commented on #500
Duplicate https://github.com/vlio20/angular-datepicker/issues/493

[2020-07-02 09:28] msudhirsingh opened #506 "How to configure timepicker to send moment object in reactive modal while show formatted string on Input filed."
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [x] Provide a **minimal code snippet**, please make sure it is well formatted.
- [x] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2020-07-02 16:19] vlio20 commented on #506
Please provide an example which doesn't work for you. Till then I will close this issue.

[2020-07-03 06:48] gmengi opened #507 "Is it support in angular 5 version?"

[2020-07-03 06:52] vlio20 commented on #507
What issues are you encountering?

[2020-07-03 08:24] gmengi commented on #507
error TS1086: An accessor cannot be declared in an ambient context in date-picker.component.d.ts

[2020-07-03 09:39] vlio20 commented on #507
I would suggest you to pick an appropriate version: check the changelog: https://github.com/vlio20/angular-datepicker/blob/master/CHANGELOG.md

I would start with version 8.0.0 and go backwards with the versions.

[2020-07-03 10:37] #507 closed

[2020-07-03 10:37] #503 closed

[2020-07-03 10:38] #498 closed

[2020-07-03 10:38] #500 closed

[2020-07-03 10:38] vlio20 opened #508 "Upgrade to ng10"

[2020-07-05 14:04] msudhirsingh commented on #506
Hi @vlio20 , Here is my full explanation about the issue i am facing.
Here is **stackblitz** i created for the issue i am facing.
https://stackblitz.com/edit/angular-tsbjki?file=src%2Fapp%2Fapp.component.html

**[Problem]**
Basically i am using this library in my component as directive with matInput using Reactive froms.
My problem is that after selecting time from picker, my modal is populated wi

[2020-07-06 16:25] vlio20 commented on #506
hello @msudhirsingh, that makes sense, in directives the value (ngModel) is binded to a string. This the value input. You can get the Moment value via the onSelect output event.

Let me know if it helps

[2020-07-28 15:51] Anandhsa09 opened #512 "datepicker not visible in angular9"
I using ng2-date-picker 9.0.0 in my angular 9 application. But date picker not visible in the component. i imported in the app module.

[2020-07-28 16:00] vlio20 commented on #512
Hi.
Please provide a stackblitz

[2020-08-01 18:37] timrasche opened #514 "Import moment"
Warning: Entry point 'ng2-date-picker' contains deep imports into 'node_modules/moment/moment'. This is probably not a problem, but may cause the compilation of entry points to be out of order.

compiling 'hangs' sometimes and i'm think this is the problem.

[2020-08-01 18:45] vlio20 commented on #514
@timrasche can you point where do you see this deep imports?

[2020-08-01 18:49] timrasche commented on #514
Of course, first line of output by angular/cli with

- ng serve
- ng build

[2020-08-01 19:00] vlio20 commented on #514
I think I found the reason - working on a fix

[2020-08-01 19:01] #512 closed

[2020-08-01 19:01] #506 closed

[2020-08-01 19:02] timrasche commented on #514
you're the man! big thanks!

[2020-08-02 19:52] vlio20 commented on #508
resolved in 2030363

[2020-08-02 19:52] #508 closed

[2020-08-02 20:22] vlio20 commented on #514
resolved in abe1cfb

[2020-08-02 20:22] #514 closed

[2020-08-03 04:39] vlio20 commented on #514
@timrasche can you please update to 10.0.0-rc.1 and see if you still see the issue?

[2020-08-03 07:49] timrasche commented on #514
The warning by the angular/cli is gone. Thank you very much for the fast fix

[2020-08-03 08:21] vlio20 commented on #514
Cool so it will be available later today in 10.0.0.
Your ⭐  would be appreciated :)

[2020-08-03 08:33] timrasche commented on #514
Nice!

Sure ;-)

[2020-08-08 08:00] TheMuyu opened #518 "Selected Date value not given with local utc timezone."
Hello thanks for datepicker for angular.
When I use date picker it gives timezone with UTC+0
I set my local to "tr" and this works with months name. But still when I clicked a date the result is UTC+0
I need to get my locale UTC+3. My computer timezone is also UTC+3

`<dp-date-picker placeholder="Seçiniz..." theme="dp-material" [config]="datePickerConfig" formControlName="baslangicTarihi"></dp-dat

[2020-08-08 15:01] vlio20 commented on #518
Hi @TheMuyu the local is only working for the language not for the timezone. Currently there is support for configurable timezone.

[2020-08-08 15:01] #518 closed

[2020-08-08 17:19] TheMuyu commented on #518
Thanks @vlio20 how can i set timezone. I looked at helper page and didnt see any options

[2020-08-08 17:27] vlio20 commented on #518
Unfortunately there is no such configuration in the component. You can do
the needed adjustments on your app side.

On Sat, Aug 8, 2020, 20:19 Murat Yurtdas <notifications@github.com> wrote:

[2020-08-11 21:59] anjopater opened #519 "Compile with target es5 in Angular 9 for IE compatibility"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2020-08-12 05:10] vlio20 commented on #519
The lib is also targeting es5:
https://github.com/vlio20/angular-datepicker/blob/master/tsconfig.base.json#L4

[2020-08-12 13:56] anjopater commented on #519
Well, that's the only package that is giving me problem in the compilation, any other idea?

[2020-08-13 06:09] vlio20 commented on #519
@anjopater not really, what version are you using of the lib?

[2020-09-14 18:40] davoam commented on #519
We had this problem with version `10`, and after downgrading to version `8` the problem has gone

[2020-09-23 07:26] ValentinFFM opened #520 "Unable to use several dp-date-pickers on one page."
I'm using Angular 9 in combination with Ionic. Therefore I wanted to import on one html-page two of the dp-date-pickers. Unfortunately I realized that this seemed not possible. When I just used one date-picker, then everything was fine and it worked, but after I used a second one the following happend:

1. Start page
2. Render of the page with 2 inputs worked fine
3. Clicked in one the two inputs

[2020-09-23 09:31] ValentinFFM commented on #520
This issue will be closed, but I would recommend adjustments in the readme. So the problem was the usage of the same ngModel in two datepickers. If you don't use the ngModel or I think also if you use 2 separate ngModels, then there's no problem.

I think it's not so clear in the documentation, which functionality the ngModel has. So maybe an additional information would be good or just leave the

[2020-09-23 09:31] #520 closed

[2020-10-02 22:36] AgentEnder commented on #519
I can't replicate this @anjopater , have you tried running ngcc?

[2020-10-14 13:28] idreeshaddad opened #521 "Angular 10: Module not found: Error: Can't resolve 'ng2-date-picker/date-picker.module'"
On Angular 10:
Installed:
`npm install ng2-date-picker --save`

Added to app.module:
[code]
Serve or Build:
[code]
Got an error:
[code]

Any clue?

[2020-10-14 17:03] vlio20 commented on #521
@idreeshaddad  I don't see in you code sample where do you use the datepicker module

[2020-10-16 00:45] idreeshaddad commented on #521
Sorry, I was trying some other plugin after this didn't work for me on Angular 10, and pasted the wrong module file.
I edited and fixed it now, could you please take a look?

[2020-10-16 05:25] vlio20 commented on #521
It looks OK. Can you please share a stackblitz link?

[2020-10-20 12:43] vlio20 commented on #521
closing for now

[2020-10-20 12:43] #521 closed

[2020-11-10 09:24] Koronag opened #522 "Set maximum months selected"
Hi there

We're using the datepicker in "month" mode to provide an interface for  a user where they can select up to 3 months. These 3 months does not necessarily need be in the same range (april, june, august for example). Is there any way to disable all other months when 3 are selected? I tried using the isMonthDisabledCallback callback, but there is nothing returned here when selecting months i

[2020-11-10 09:29] vlio20 commented on #522
Hi,
Can you please share a stackblitz?

[2020-11-10 09:57] Koronag commented on #522
Hi

Thanks for the quick response.
Please see the following stackblitz:
https://stackblitz.com/edit/angular-ivy-nobqaf?file=src/app/app.component.ts

As you can see, the callback is not called when selecting/deselecting a month. Therefore no easy way as far as i see, to create functionality for checking maximum months selected.

[2020-11-10 11:21] vlio20 commented on #522
@Koronag, I think I found the issue. I will deploy a fix as soon as possible. Hopefully today.
Thanks for pointing this out.

[2020-11-10 12:21] Koronag commented on #522
Thanks a lot @vlio20. Unfortunately I'm stuck on v. 2.x due to project being tied to Angular 6. Any chance the patch can be applied to older versions?

[2020-11-10 13:07] vlio20 commented on #522
ammm.... can't promise that. Will do my best

[2020-11-10 13:12] Koronag commented on #522
Appreciate the effort nonetheless!

[2020-11-10 21:24] vlio20 commented on #522
Issue was resolved in 10.0.1.
@Koronag unfortunately I wasn't able the lib on my local machine. I have created a branch 2.10.3 (https://github.com/vlio20/angular-datepicker/compare/2.10.3?expand=1) please check it out. If you will be able to make it work there, please submit a PR and I will publish it.

[2020-11-10 21:24] #522 closed

[2020-11-16 14:20] gregbrant2 opened #524 "Is angular-datepicker compatible with Angular Ivy?"
I'm pretty new with Angular so please forgive my ignorance.

I'm using Angular 10.1.2

I've just installed angular-datepicker.

Imported the module into my app

[code]

When I run the project `yarn start` I get the following error:

Is angular-datepicker compatible with Angular Ivy or am I doing something wrong? Thank you for your time and effort!

[2020-11-16 14:49] vlio20 commented on #524
It should be.
Can you please post a small repository so I can reproduce?

[2020-11-16 17:53] gregbrant2 commented on #524
hi @vlio20. the issue here was I was importing the `DpDatePickerModule` in my app module, and not the component module where I was using it.

Thanks,
Greg

[2020-11-16 17:53] #524 closed

[2020-11-16 17:54] vlio20 commented on #524
Happy to hear! would appreciate your support by adding you  :star: to this repo :)

[2020-11-16 18:07] vlio20 opened #525 "Upgrade to angular 11"

[2020-11-18 09:49] thisisRinzin commented on #498
I used the date picker version 10.0.1 with angular 8.

[2020-11-18 09:51] vlio20 commented on #498
10.0.1 is suitable for angular 10 applications.

[2020-11-19 10:40] chibat1125 opened #528 "date picker popup not close after select date in android 8- (last android version)"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2020-11-19 11:24] vlio20 commented on #528
@chibat1125 can you please provide more information, do you see any console error?

[2020-11-20 06:48] vlio20 commented on #525
resolved in version 11.0.0

[2020-11-20 06:48] #525 closed

[2020-11-20 19:02] vlio20 opened #530 "Move to DayJS"
As moment announced that they are moving to a maintenance mode I think that it would be the best to switch to datejs which is much lighter and has a modern API.

[2020-11-20 19:03] vlio20 commented on #313
@justtal I am still waiting :)

[2020-11-20 19:19] justtal commented on #313
Sorry, I'm Reacting already 🤣 😘

[2020-11-20 19:22] vlio20 commented on #313
@justtal this is a step in the wrong direction :)

[2020-12-01 08:00] petterhoel commented on #530
Hi, is there any kind of timeline for this?

I want to use _angular-datepicker_ for a current project, but I see a lot of Moment in your public api documentation and worry about breaking changes once you migrate.

If migration is close or in the works I might just hold back on the datepicker parts in the meantime. Any guidance you can offer at this time is appreciated 😊

[2020-12-01 12:37] vlio20 commented on #530
Hi @petterhoel it will take a while. In any case I encourage you to create some wrapper around the moment object if it's possible.

[2020-12-01 17:55] petterhoel commented on #530
Thanks for letting me know ☺️ A wrapper is a good idea. I was kinda hoping to avoid adding moment to my bundle too, but it will be managable for my use case I think.

[2020-12-02 08:26] vlio20 commented on #530
I am considering also avoiding any 3rd party lib and use plain Date object, but this will require a lot of work around localization.

[2020-12-08 13:20] joshi-anshul opened #531 "How can show year picker on click header date"
Hi @vlio20

**I'm using this datepicker and its good, but not able to found option to show years modal box same as month while click on header date
Could you please let me know how can I show year picker modal?
picker is working good, just need to know that how can add year modal while select date**

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- `public config

[2020-12-08 13:58] vlio20 commented on #531
No support for a year picker yet. There is already open request

[2020-12-08 13:58] #531 closed

[2020-12-08 14:13] joshi-anshul commented on #531
Ok, that issue opened from last year Jan 2019.
So could you please let me know that are you updating package, or we need to use the other one?

Thanks

[2020-12-08 16:18] vlio20 commented on #531
Iam planning to add it in the future. Can't promise any timeline

[2021-01-05 10:02] afzalpulickal opened #532 "Metadata version mismatch for module"
I am using Angular 4.3.1 version,

When using the "ng2-date-picker": "8.0.0", I am getting the below error 'Metadata version mismatch for module'.

[2021-01-05 10:10] vlio20 commented on #532
Please check the change log to see what version will fit your angular version.

[2021-01-10 19:21] #532 closed

[2021-01-26 16:25] casper5822 commented on #530
You can try with luxon that comes from moment and has a new way to handle timezone

[2021-02-05 10:34] sq3-akshit opened #534 "Getting error after install in angular 10"
This likely means that the library (ng2-date-picker) which declares DpDatePickerModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with Ivy.

[2021-03-09 03:05] liyongfen opened #536 "[Feature Request] support manual input time"
Hi！
I propose to make feature that will support manual input time。
![image](https://user-images.githubusercontent.com/22114162/110412468-3a4e7680-80c7-11eb-8c62-3de07d2d5a41.png)

[2021-03-09 06:32] vlio20 commented on #536
Would you mind to submit a PR?

[2021-04-17 10:07] vibonacci opened #538 "Is it possible to set a default selection date without using a Momentjs object?"
Is it possible to set a default selection date without using a Momentjs object? Documentation says 'string' is allowed, but I tried to the set the ngModel var to:

- `'2021-04-04'`
- `new Date().toISOString()`
- `new Date().toUTCString()`

but none of these work. Only `moment()` works.

And of course, using a javascript Date object should be possible, but I know it's on the backlog.

[2021-04-27 13:56] CosteaMihai opened #540 "Write a date from keyboard, when select it nothing happens"
If I try to add a date from the keyboard and then I go to select it, nothing happens it erases what I typed from the keyboard. I think it's a package issue, I tried the same thing on the official stackblitz of the package and the same bug appears. Thank you

https://user-images.githubusercontent.com/57099450/116253759-6ad29880-a779-11eb-8443-9146d3aa9d61.mp4

[2021-04-28 05:41] vlio20 commented on #538
Hi @vibonacci , can you please share a stackblitz with your setup?

[2021-04-28 05:42] vlio20 commented on #540
Looks like a bug. I will check it out. Thanks

[2021-05-02 17:39] ezequiel88 commented on #211
Not working 'dp-material'.

[2021-07-14 19:25] vlio20 opened #548 "Upgrade to version 12 of Angular"

[2021-07-14 19:25] #538 closed

[2021-07-14 19:26] #534 closed

[2021-07-14 19:26] #519 closed

[2021-07-14 19:26] #528 closed

[2021-07-15 21:04] vlio20 opened #550 "add github actions instead of travis"

[2021-07-15 21:17] vlio20 opened #551 "migrate to eslint"

[2021-07-16 14:02] vlio20 commented on #550
will be available available in 12.0.0

[2021-07-16 14:02] #550 closed

[2021-07-16 14:02] vlio20 commented on #548
will be available in 12.0.0

[2021-07-16 14:02] #548 closed

[2021-07-16 14:05] vlio20 opened #554 "Move to playwright"
AS protractor is coming to end of life we should migrate to cypress - this should be a gradual transition.

[2021-07-16 14:38] vlio20 commented on #551
will be available in 12.0.0

[2021-07-16 14:38] #551 closed

[2021-07-19 23:29] ahmedselim opened #556 "Module '"ng2-date-picker"' has no exported member 'DpDatePickerModule'.ts(2305)"
Dears,

While importing library in new Angular 12 project.
Error Module '"ng2-date-picker"' has no exported member 'DpDatePickerModule'.ts(2305)

Thanks in advance.

[2021-07-20 09:56] vlio20 commented on #556
thanks @ahmedselim . I am on it

[2021-07-20 19:24] vlio20 commented on #556
@ahmedselim could you please try to test 12.0.3-rc3 version?

[2021-08-03 05:33] vlio20 commented on #556
fixed in 12.0.3

[2021-08-03 05:33] #556 closed

[2021-09-03 16:56] slickam opened #558 "Month picker button size changed"
I just updated my project from 9.0.0 to 12.0.3. Before the update, the month picker looked like the sample in README.md, with large circular buttons to select the month. After the update, the month picker looks the same as on the demo site, with small oval buttons and much less space between them.

I'm using the dp-material theme.

This looks the same in Chrome, Firefox, and Edge.

Was this an int

[2021-09-03 17:27] vlio20 commented on #558
This is not intentional. Would you like to submit a PR with a fix?

[2021-09-03 17:37] slickam commented on #558
I'm not familiar enough with LESS or git to do that. I'm mostly a COBOL programmer and CVS user.

[2021-09-03 17:38] vlio20 commented on #558
I will try to have a look. Thanks for notifying

[2021-09-13 09:58] JonSnow-vn opened #559 "change language don't work"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2021-09-13 10:01] JonSnow-vn commented on #559
Hi, i have a button to change language by change locale (ex: 'en-gb' to 'jp') in config,
But after click it's not change language, it's only change when reload my web.
How to datepicker change language after click my button.
Thanks!

[2021-09-13 15:06] JonSnow-vn commented on #559
@vlio20 omg sorry, this's my fault, i'm setting wrong key in my config, i did fiexd it. Thank you for reply.

[2021-09-13 15:08] #559 closed

[2021-10-05 20:46] LukksMatthaus opened #560 "Calendar style"
Hi, is it possible to change de style of the calendar? I've been trying to change it in the past few days but no success was found.
I would like to make the calendar look like this:
![teste](https://user-images.githubusercontent.com/15147895/136100166-9c22a4ed-e3c0-4de2-9e44-de5488b1e4a8.png)

[2021-10-13 17:43] #560 closed

[2021-10-26 10:00] jsprds opened #561 "Manual input crashes the application"
When you clear the input field of the datepicker via the keyboard, the application crashes. The same happens if you enter a random string. (see screencast below)

- [x] Provide a **minimal code snippet**, please make sure it is well formatted.
N.A. --> Check "example application" (https://vlio20.github.io/angular-datepicker/daytimePicker)
- [x] Provide a **stackblitz** demo / [stackblitz](https://

[2021-11-04 11:49] #558 closed

[2021-11-04 11:51] vlio20 commented on #561
will be available in 12.0.4. Thanks for your work @jsprds

[2021-11-04 12:09] #561 closed

[2021-11-04 12:10] vlio20 opened #564 "Upgrade to ng13"

[2021-11-11 17:18] spiderdab opened #566 "Change options dynamically"
Hi, I really cannot find info on how to do that, so I'm asking here:
Is it possible to set an option after the creation of the date picker?
for example, I have in the IDatePickerConfig:
{
....
max: "2021-11-11",
....
}

after something happen I want to change this parameter. How can I do that?
Thanks.

[2021-11-11 19:14] vlio20 commented on #566
@spiderdab what did you try? Can you post a stacklitz with an example?

[2021-11-18 10:31] UgoTran opened #567 "is lib support angularJS?"
Make sure to add **all the information needed to understand the bug** so that someone can help. If the info is missing we'll add the 'Needs more information' label and close the issue until there is enough information.

- [ ] Provide a **minimal code snippet**, please make sure it is well formatted.
- [ ] Provide a **stackblitz** demo / [stackblitz](https://stackblitz.com/) example that reproduces

[2021-11-18 10:43] vlio20 commented on #567
nope, the lib is supporting angular (2).

[2021-11-18 10:43] #567 closed

[2021-11-25 21:35] elcatania commented on #564
Hey, i just stumbled over this library and wanted to ask if there is any timeframe to expect v13 supprt ?

[2021-11-26 05:13] vlio20 commented on #564
In the making. For some reason tests are not running.

[2021-11-30 12:47] vlio20 commented on #564
@elcatania would you like to be a beta user of the 13 version?

[2021-11-30 13:57] vlio20 commented on #566
closing for now

[2021-11-30 13:57] #566 closed

[2021-11-30 14:03] vlio20 commented on #564
@elcatania can you try 13.0.0-rc1?

[2021-11-30 14:14] elcatania commented on #564
@vlio20 Yes i will test it later toady 👍

[2021-11-30 14:33] vlio20 commented on #564
@elcatania thanks a lot!!!

[2021-11-30 21:27] elcatania commented on #564
@vlio20  I tried to implement the basic component in my application but somehow i didnt get it to work.

I imported the module and added the default config from the example

[code]

[code]

And i get a lot of errors:

Here a some:

ERROR TypeError: (moment__WEBPACK_IMPORTED_MODULE_0___namespace_cache || (intermediate value)(intermediate value)) is not a function

ERROR TypeError: this.validateFn i

[2021-12-01 10:18] vlio20 commented on #564
Thanks for checking this out. The problem is with the way I package the prod build.
I had to remove:
[code]

@elcatania, maybe you know how should we address that change in ng-packagr?

[2021-12-18 14:55] nawaz2013 opened #568 "freeze on text input"
dp-date-picker component completely freeze the application on text input. -nothing is printed on console while the application hangs (tested on Edge Chrome). The only possibility is to configure inside .ts file disablekeypress flag.

- Code snippet
<dp-date-picker #calendarStart [(ngModel)]="date.dataInizio" (ngModelChange)="changeDate($event)" [displayDate]="date.dataInizio" [config]="datePickerC

[2021-12-18 18:32] vlio20 commented on #568
@nawaz2013 this bug was fixed in previous versions. Please upgrade your dependencie.

[2021-12-18 18:32] #568 closed

[2021-12-22 09:06] m-niedermaier opened #569 "Use dayjs instead of moment to reduce bundle size"
Some arguments here for example:

https://medium.datadriveninvestor.com/https-medium-com-sabesan96-why-you-should-choose-day-js-instead-of-moment-js-9cf7bb274bbd

[2021-12-22 10:17] vlio20 commented on #569
Yes, this is the plan:
See #530

[2021-12-22 10:17] #569 closed

[2021-12-22 11:35] vlio20 commented on #564
@elcatania the 13.0.0-rc4 should be working, you can check https://github.com/vlio20/angular-datepicker/pull/565 PR

[2021-12-22 12:15] vlio20 opened #570 "Move to using cdk for panel"

[2021-12-22 12:19] vlio20 commented on #564
Seems to be working on stackblitz and also tested it locally. https://stackblitz.com/edit/angular-srgmj3