[2016-11-30 05:59] vlio20 opened #5 "Add time picker option"

[2017-01-03 09:11] vuhuynh0305 opened #6 "Change Name of Month"
I dont know if you had this option or not. If not can you add more?

[2017-01-03 11:11] vlio20 commented on #6
@vuhuynh0305, what do you mean by "Change Name of Month"? can you please elaborate?

[2017-01-03 13:01] vuhuynh0305 commented on #6
you have option "weekdayNames" so I want it for month too.

[2017-01-04 16:14] vlio20 commented on #6
Nope there is no such feature.

[2017-01-04 20:14] karolisgrinkevicius opened #7 "Error when trying to use component api"
Hi there. I'm using angular 2.2.1 and when I try to use ViewChild according to your given example it throws an error. My component's setup is:

[code]

When I call openDatePicker from template I get an exception:

ErrorHandler.handleError @ error_handler.js:48
next @ application_ref.js:298
schedulerFn @ async.js:89
SafeSubscriber.__tryOrUnsub @ Subscriber.js:223
SafeSubscriber.next @ Subscriber.js

[2017-01-04 21:14] vlio20 commented on #7
@karolisgrinkevicius, I updated the demo. Please see if it helps you. if not please create some plunker or demo project so I can test it and try to help.

[2017-01-05 01:22] vuhuynh0305 commented on #6
you mean you don't want to add that option :(

[2017-01-05 06:51] vlio20 commented on #6
I will, that's why I set this issue as enhancement. Maybe you want to make a PR?

[2017-01-05 08:53] vuhuynh0305 commented on #6
Thank you :+1:

[2017-01-05 18:22] karolisgrinkevicius commented on #7
Where can I find your updated demo?

[2017-01-05 19:40] vlio20 commented on #7
https://vlio20.github.io/ng2-date-picker/

[2017-01-06 12:23] vlio20 commented on #7
@karolisgrinkevicius , did it help?

[2017-01-10 15:22] codedoge commented on #6
+1 to this enhancement

[2017-01-10 15:34] codedoge opened #8 "DpDatePickerModule is not an NgModule"
I'm getting the error
`DpDatePickerModule is not an NgModule`
in a angular-cli based application. I downloaded and imported the module as said in the guide.

[2017-01-10 20:25] vlio20 commented on #8
Can you create some repo so I can check?

[2017-01-10 20:37] vlio20 commented on #6
@codedoge, @vuhuynh0305, did you saw `monthFormat` configuration option? What other format you require? do you  think it should also have an option to receive a formatter function - which can be passed to the component and it will handle the month formatting?

[2017-01-10 21:53] vlio20 commented on #7
closing this for now.

[2017-01-10 21:53] #7 closed

[2017-01-10 21:55] vlio20 commented on #6
@codedoge, @vuhuynh0305, please checkout 0.2.0 release (`monthFormatter`) callback function which. This will give you full power of changing the displayed value (month).

[2017-01-10 21:55] #6 closed

[2017-01-10 22:18] vlio20 commented on #8
@codedoge , this issue was fixed in v0.2.1

Thanks for the issue.

[2017-01-11 11:38] codedoge commented on #8
I'm still getting this error with angular-cli 1.0.0-beta.24 and ng2-date-picker 0.2.1. I'm also using typescript 2.1.4 (don't know if this is related).
Do you have an idea of what could be the problem or area related to this. Could it be a problem with my project configuration?

[2017-01-11 12:29] codedoge commented on #8
I tried importing the module in a new angular cli project (ver 1.0.0-beta.24) and it doesn't work even in this case. I also tried upgrading all @angular/* packages  to the latest version with no luck.

[2017-01-11 12:41] vlio20 commented on #8
@codedoge , it would be great if you will create some simple project and publish it on github. Can you do it?

[2017-01-11 13:43] codedoge commented on #8
you can find it here https://github.com/codedoge/datepicker-issue.
I usually "npm install --save {package-name}" to install packages.

[2017-01-11 17:07] vlio20 commented on #8
Looking into it, will update ASAP

[2017-01-11 17:21] vlio20 commented on #8
@codedoge, seems like there is an issue with the new versions of angular cli: https://github.com/gulpjs/gulp/issues/259. However I plan to move my module to be built and developed on pure homemade configuration.

[2017-01-12 07:42] codedoge commented on #8
Yes, I noticed later that this is also happening to other projects and it probably depends on angular-cli. Thanks for the support

[2017-01-12 19:44] vlio20 commented on #8
@codedoge , see this SO: http://stackoverflow.com/a/41424263/1691423

[2017-01-23 02:23] vuhuynh0305 opened #9 "Add min view option"
0: day
1: month
2: year

[2017-01-23 09:35] vlio20 commented on #9
@vuhuynh0305, please elaborate. I don't understand your issue/suggestion.

[2017-01-23 10:31] vuhuynh0305 commented on #9
give the ability to pick based on min view
0: pick day month year
1: pick month year
2: pick year only

[2017-01-23 10:32] vlio20 commented on #9
Still don't get it. Can you show me an example on other pickers?

[2017-01-23 10:35] vuhuynh0305 commented on #9
http://bootstrap-datepicker.readthedocs.io/en/latest/options.html#minviewmode

[2017-01-23 12:59] vlio20 commented on #9
So if I am understanding correctly you would like to change the view to day/month/year etc?

[2017-01-23 13:00] vuhuynh0305 commented on #9
yup, because I want to pick mm/yyyy only.

[2017-01-23 13:02] vlio20 commented on #9
This currently out of scope. PR would be nice.

[2017-01-23 13:03] vuhuynh0305 commented on #9
:(

[2017-03-03 16:14] isaacplmann opened #11 "Feature request: Multi select"
I'd like to be able to select multiple dates on a `<dp-calendar>`.  If you're interested in this feature, I can work on a pr.

[2017-03-03 16:48] vlio20 commented on #11
@isaacplmann, this would be great!
The number of selections should be configurable :
Default : 1
Also there should be configuration for min and max selection.
There also should be an option to put infinite number of selections.

[2017-03-03 19:53] isaacplmann commented on #11
I can't seem to build the library.  When I run `npm i && npm start` I get the following errors:

[code]

[2017-03-03 19:59] isaacplmann commented on #11
Wait - I think it did build.  It just shows those errors every time.  I'll just ignore them and see how far I get.

[2017-03-03 21:40] isaacplmann commented on #11
Making some progress.  I'll probably have a PR ready for discussion on Monday.

1. I'm changing the dp-day-picker value from a `Moment` type to a `Moment[]` type and working through all the functions to make them work with an array.

2. I'm exposing the dp-calendar as a stand alone component

3. I'd like to create a dp-calendar-container component and expose that as well (to handle multiple dp-cal

[2017-03-04 11:34] vlio20 commented on #11
1. It also should support String[] as it can be provided as a String.
2. ok.
3. What would be the API of the container? Not sure why we need it.
4. That can be added later.

[2017-03-05 15:51] ccpony opened #12 "Styling"
Any way to enhance the styling of that component?

[2017-03-05 16:21] vlio20 commented on #12
You have the material class which is the fancy design. You can see it in the demo.

[2017-03-05 19:03] vlio20 commented on #12
@ccpony , did it help?

[2017-03-05 19:03] #9 closed

[2017-03-06 09:17] vlio20 opened #13 "Fix Travis"

[2017-03-06 13:53] isaacplmann commented on #11
I haven't thought through the api of the container all the way, but I want a way to be able to show the calendar picker inline all the time (rather than showing it in a popup).  The calendar container seems like a natural way to do that.

[2017-03-06 13:54] isaacplmann commented on #11
Similar to the inline mode for [mydatepicker](http://kekeh.github.io/mydatepicker/)

[2017-03-06 14:35] vlio20 commented on #11
Seems like we can use the calendar component. Not sure why we need the container.

[2017-03-06 14:37] isaacplmann commented on #11
The container has the navigation buttons and has the logic to show multiple calendars at once and keep them in sync.

[2017-03-06 14:40] vlio20 commented on #11
Make sense. Maybe we should move it (the navigation) inside the calendar

[2017-03-06 14:42] isaacplmann commented on #11
And allow for multiple months to be shown at once inside the calendar?  That seems like it makes sense in a calendar container component, but I'm happy to move that logic wherever you want.

[2017-03-06 14:43] isaacplmann commented on #11
Maybe the inline piece should be a separate PR anyway.  I'm almost done with the multiselect feature - working on tests now.

[2017-03-06 14:51] vlio20 commented on #11
Greater.
So you are not including the container in this PR,  Right?

[2017-03-06 14:52] isaacplmann commented on #11
Correct.  I'll make a separate PR for the calendar container component.

[2017-03-06 14:54] vlio20 commented on #11
Let's discuss this in an other thread then

[2017-03-06 14:55] isaacplmann commented on #11
I have tests written and there are no typescript errors in them but they won't run because of the errors I mentioned above.

[code]

Any ideas on how to fix these?

[2017-03-06 15:02] vlio20 commented on #11
I think there is an option to exclude errors in tsconfig which exists in libs. Let me check.

[2017-03-06 15:20] vlio20 commented on #11
Try to set skipLibCheck to true in tsconfig

[2017-03-06 15:27] isaacplmann commented on #11
Got it to work by pinning the `@types/jasmine` dependency to the version number you had.  (The latest version of @types/jasmine was depending on typescript 2.2.1.

I also needed to add a mime configuration to karma.conf.js per [this comment](https://github.com/angular/angular-cli/issues/2125#issuecomment-247395088) to get the tests to run in Chrome.

I should have a PR posted soon.

[2017-03-06 15:28] vlio20 commented on #11
Cool! Thanks

[2017-03-06 17:07] isaacplmann commented on #11
Running into a bunch of edge cases - I can make it work, but I don't want to create a maintenance nightmare for you so I'm rethinking the design a bit.

[2017-03-06 17:09] vlio20 commented on #11
OK, let me know if I can help

[2017-03-07 19:03] vlio20 commented on #12
no response so I closing for now

[2017-03-07 19:03] #12 closed

[2017-03-07 19:07] vlio20 opened #15 "Append option to append calendar to different element (body)"
The calendar should be appended to body, this will prevent it to be hidden if placed inside overflow hidden container.

[2017-03-07 19:51] isaacplmann commented on #11
Thanks for merging the PR.

[2017-03-07 19:51] #11 closed

[2017-03-08 08:37] samrantmedia commented on #8
I am getting this issue with typescript version 2.2.1, I am not keen to make my project depend on an old version of typescript

[2017-03-08 10:56] vlio20 commented on #11
released in 0.3.0. Thanks.

@isaacplmann, are you using the component in production?

[2017-03-08 10:58] vlio20 commented on #8
are you sure thi

[2017-03-08 11:29] isaacplmann commented on #11
Not yet but I plan to.

On Mar 8, 2017 5:56 AM, "Vlad Ioffe" <notifications@github.com> wrote:

[2017-03-08 11:34] vlio20 commented on #11
nice!

[2017-03-08 13:53] isaacplmann opened #16 "Feature: Inline DpCalendarContainerComponent"
I would like the ability to display the calendar picker inline instead of as a popup (not attached to an input text box). [mydatepicker](http://kekeh.github.io/mydatepicker/) has an example of this inline mode, but I would prefer to just use a different component instead of changing a property on the picker.

This could be accomplished by moving functionality into the existing `dp-calendar` compon

[2017-03-08 19:30] vlio20 commented on #16
I think it is better to push the navigation inside the calendar this way users could use it instead the container - which adds redundant (as I see it) component.

WDYT?

[2017-03-08 19:32] isaacplmann commented on #16
That's fine with me.  So the `dp-calendar` component will be everything inside the popup.  The `dp-day-picker` will be responsible for the input box and opening and closing the popup.

[2017-03-08 19:33] vlio20 opened #17 "Remove demo code from versioning"
Create a different repo for the demo page

[2017-03-08 19:48] vlio20 commented on #16
@isaacplmann, yes but it's not that simple. If you will checkout the demo and set more then one calendar (under Amount of Calendars) you will see that there are only 2 arrows.

So I have a second thought about that, and I think your suggestion is batter.
Regarding the name `dp-calendar-container` maybe there is a more self-explanatory name...
WDYT think about `dp-inline-calendar`? other suggestion

[2017-03-08 19:50] isaacplmann commented on #16
If you want it to be more intuitive for people using it, I'd go with `dp-calendar` for the container component and rename the current `dp-calendar` to `dp-month-calendar` or `dp-month`.

[2017-03-08 19:54] vlio20 commented on #16
sounds good.

[2017-03-09 20:42] Grapadacious commented on #8
@vlio20, check out <a href="https://github.com/angular/angular-cli/issues/3426#issuecomment-269673735">this comment</a> over on the Angular CLI project. I think it might help you solve this issue. Keep up the good work. This is the best Angular 2 datepicker I've found.

[2017-03-09 20:51] vlio20 commented on #8
@Grapadacious, thanks!
I will check it out - though I tired it previously.

@samrantmedia, I have updated to the latest cli version. Please see if it helps.

[2017-03-09 21:28] #13 closed

[2017-03-12 19:01] vlio20 commented on #16
added in 4.0.0.
@isaacplmann, thanks!!!

[2017-03-12 19:01] #16 closed

[2017-03-16 11:27] atayahmet opened #21 "Some features does not working"
Hi @vlio20

First, thank you for this awesome package.

Some features i want to use do not work. Used and does not work features below.

## Configuration:

| Name  |  Type | Default  | Description  |
|---|---|---|---|
| closeOnSelect  |  Boolean |  true |  If set to true will close the date-picker after choosing a date from the calender, otherwise, won't |

## Attributes:

| Name  |  Type | Defaul

[2017-03-16 12:00] atayahmet commented on #21
Hi again,

Please ignore the issue about attribute. Smoothly works.

[2017-03-16 23:00] vlio20 commented on #21
@atayahmet, thanks for opening a bug. Will take care of it soon.

[2017-03-17 08:12] #21 closed

[2017-03-17 08:17] vlio20 commented on #21
@atayahmet, issue was solved and available in 0.5.0 version (there was also small api change `dayContextmenu` -> `dayContextMenu`) .

[2017-03-17 08:25] vlio20 opened #22 "Make utils service injectable"
Utils Service should be injectable

[2017-03-18 10:04] samrantmedia commented on #8
I'm not sure if it is a typescript issue. I'm using angular-cli 1.0.0-beta-21 and it is working fine. It was working on 1.0.0-beta.28.3. I was able to run the app on that version, by commenting it out, waiting for it to  start up and then commenting it back in again. However, doing a build would not work. This older version of the cli is noticably slower to compile and less elegant to use, so I am

[2017-03-19 07:09] vlio20 commented on #8
@samrantmedia, let me know if you will find a solution for that issue.

[2017-03-19 19:58] vlio20 opened #23 "Create year view selector"
When activated clicking on the year will transform the date picker to year/month picker

[2017-03-19 22:46] vlio20 commented on #15
resolved in 0.6.0

[2017-03-19 22:46] #15 closed

[2017-03-20 13:57] vlio20 opened #25 "Navigation buttons not working"
Navigation buttons not working

[2017-03-20 19:19] #25 closed

[2017-03-20 21:12] vlio20 commented on #17
all releases to the demo will be made from the release branch - no demo repo required.
Closing for now

[2017-03-20 21:12] #17 closed

[2017-03-21 07:50] vlio20 opened #26 "Add stylings to demo page"

[2017-03-21 19:46] vlio20 opened #27 "Open popup delay"
Add option for add a delay to the popup to be opened

[2017-03-21 19:49] vlio20 opened #28 "Add option to show calendar weeks"

[2017-03-21 19:52] vlio20 opened #29 "Add option to pass a class to the popup"
should be set as an attribute

[2017-03-21 22:23] #29 closed

[2017-03-22 06:19] vlio20 opened #30 "Add option to hide/show next and prev month days"

[2017-03-23 21:42] #27 closed

[2017-03-24 09:07] pieterlouw1974 commented on #8
Try editing the file picker.module.d.ts to this

import { NgModule } from '@angular/core';
@NgModule({
	declarations: [
		DateTimePickerModule
	]
})
export declare class DateTimePickerModule {
}

[2017-03-24 09:10] vlio20 commented on #8
@pieterlouw1974, you mean that I only should add the declare statement?

[2017-03-24 13:25] vlio20 commented on #8
@pieterlouw1974, adding declare didn't help.

[2017-03-24 13:26] vlio20 commented on #8
@isaacplmann, I saw you are blogging about lib creation for ng2. Maybe you can assist with this one?

[2017-03-24 14:03] isaacplmann commented on #8
I have run into this with other libraries too and I can reproduce it when using your lib in my app.  Another work around is simply to save any file to force webpack to rebuild - any build after the first one doesn't cause the error.

One way I fixed this error is by changing @angular dependencies to peerDependencies - but you don't have `@angular` in your dependencies.  You could try moving moment

[2017-03-24 14:04] isaacplmann commented on #8
I'll take a look at this issue when I have time.  I'll need to fix this before I use the library in my app anyway, and I do plan to use it.

[2017-03-24 14:13] vlio20 commented on #8
@isaacplmann, I think it is related to the metadata.json and AOT. I currently struggling running ngc because I am using less. Any suggestions on how to make ngc work with less would be welcome.

[2017-03-24 15:59] samrantmedia commented on #8
@isaacplmann i was doing the same workaround in dev. The workaround, unfortunately, does not work when you want to run: 'ng build'

[2017-03-25 19:35] #8 closed

[2017-03-25 19:38] vlio20 commented on #8
The issue was fixed! it is currently in the master branch will release it as part of the v1 version! @isaacplmann, thanks for the help!!!

[2017-03-27 18:05] vlio20 opened #36 "Add single day/month format configuration option"

[2017-03-27 18:14] vlio20 opened #37 "add "is" prefix to ICalendarDay items"
This should make the interface more declarative

[2017-03-27 20:00] vlio20 opened #38 "Blur is broken"
input blur doesn't close the picker.

[2017-03-27 20:15] vlio20 commented on #30
done!

[2017-03-27 20:15] #30 closed

[2017-03-28 16:08] isaacplmann commented on #5
Do you have thoughts on how you'd want this to be done?  I'll need this eventually, and could pitch in to help when I get time.

[2017-03-28 17:14] vlio20 commented on #5
The only this that I am sure of that it should be present only for a single calendar (a.k.a `calendarsAmount  = 1`).

1. It should have an option to appear Under the input and above the calendar
2. It should have an option to appear Under the calendar
3. It should have an option for 24 hours and 12 (AM/PM) hours format
4. It should have a material theme and a basic theme (a simple one)
5. It shoul

[2017-03-28 17:19] isaacplmann commented on #5
I'll need to be able to pick a datetime, date only or time only.  (Also a time duration, but that's probably a different component.)

I like the timepicker design you linked to - that feels a lot more intuitive to me than the circle analog clock style.  Is the design you linked to for the material theme or the basic theme?

[2017-03-28 17:26] isaacplmann commented on #5
I don't have a particular use-case for this, but it should probably be able to used inline just like the datepicker.

[2017-03-28 17:40] vlio20 commented on #5
so it sounds like it also should be a stand-alone component as well

[2017-03-28 21:01] #28 closed

[2017-03-31 14:31] samrantmedia commented on #8
Great! Looking forward to using this. Is there a rough estimate for this release date?

[2017-03-31 14:47] samrantmedia opened #42 "version 0.61 display issues"
If i click on the input with version 0.6.1 (crreunt version), the date picker module shows  up somewhere completely different on the screen. When I select a date, it displays the time in the input as well as the date. An error also shows up in the console.

I have reverted to version  0.2.1 and this issue no longer occurs.

[2017-03-31 16:47] vlio20 commented on #42
This will require some example to work with. Do you have repo so I can investigate?

[2017-03-31 17:20] vlio20 commented on #8
@samrantmedia, there are still some tasks I want to do before that. I believe it will  be ready in the next couple of weeks.

[2017-04-01 06:29] vlio20 commented on #42
@samrantmedia, by the way, the latest release is 0.6.2

[2017-04-01 06:31] vlio20 opened #43 "Add cancel and apply button"

[2017-04-01 19:57] #38 closed

[2017-04-03 07:28] samrantmedia commented on #42
Hi @vlio20 I am using it within a bootstrap version 3 form like so,

[code]

Sorry, not able to have time to give a repo at the moment. Feel free to close if it is not easy to replicate.

[2017-04-03 07:30] samrantmedia commented on #8
@vlio20 great, thanks for letting me know a rough estimate. I'm looking forward to using v1 when it's ready

[2017-04-05 14:36] lautaros86 opened #45 "add monthNames config."
Hello, this module is great, but it lacks an option to change the names of months, similar to weekdayNames.

[2017-04-05 16:39] vlio20 commented on #45
@lautaros86, this is a good point. I will try to push it to the v1 version.

[2017-04-05 19:13] vlio20 commented on #45
@lautaros86, I almost forgot - you can use `monthFormat` - `monthFormatter`. Let me know if you still struggling with this. Closing for now.

[2017-04-05 19:13] #45 closed

[2017-04-05 20:59] vlio20 opened #46 "Move all css metrics/colors to variables"

[2017-04-06 12:41] lautaros86 opened #47 "ERROR in DpDatePickerModule is not an NgModule"
**I had this error:**

***ERROR in DpDatePickerModule is not an NgModule***

**ng -v**

- @angular/cli: 1.0.0
- node: 6.9.5
- os: win32 x64
- @angular/common: 4.0.1
- @angular/compiler: 4.0.1
- @angular/core: 4.0.1
- @angular/forms: 4.0.1
- @angular/http: 4.0.1
- @angular/platform-browser: 4.0.1
- @angular/platform-browser-dynamic: 4.0.1
- @angular/router: 4.0.1
- @angular/cli: 1.0.0
- @angular/co

[2017-04-06 12:42] vlio20 commented on #47
This is a duplicate of #8.
You can use the master version or wait for the next release.

[2017-04-06 12:42] #47 closed

[2017-04-07 19:46] vlio20 opened #48 "Upgrade to Angular 4"

[2017-04-08 13:02] #23 closed

[2017-04-08 15:14] vlio20 commented on #43
Not sure how this should be implemented.
If someone can suggest some specification it would be great!
Closing for now

[2017-04-08 15:14] #43 closed

[2017-04-08 15:15] vlio20 commented on #42
I will close this for now, will happy to see some example so I can debug it.

[2017-04-08 15:15] #42 closed

[2017-04-08 15:15] vlio20 commented on #22
done!

[2017-04-08 15:15] #22 closed

[2017-04-08 15:16] vlio20 commented on #26
Added some basic styling - will close for now. Will reopen when new ideas will come to mind.

[2017-04-08 15:16] #26 closed

[2017-04-08 16:08] #48 closed

[2017-04-08 16:11] vlio20 commented on #46
moved to techDebt project:
https://github.com/vlio20/ng2-date-picker/projects/2

[2017-04-08 16:11] #46 closed

[2017-04-08 16:11] vlio20 commented on #37
moved to techDebt project:
https://github.com/vlio20/ng2-date-picker/projects/2

[2017-04-08 16:11] #37 closed

[2017-04-08 16:14] vlio20 opened #51 "Move to current date calendar"
add button which a click on will move the first calendar to the current date.

[2017-04-08 21:03] #51 closed

[2017-04-08 21:56] vlio20 opened #53 "Popup always opens on current date instead of showing last visited calendar."

[2017-04-10 20:26] james-criscuolo opened #54 "DateRangePicker"
So I know this doesn't have daterangepicker capabilities yet, but if/when that occurs, here are some features I used in the old one:

- passing in a daterange to be chosen initially, or at any time during the use of the picker (say, someone adjusts the date from an external input).

- have multiple calendars, and those calendars are separate, meaning moving through months on one does not affect th

[2017-04-10 20:45] mgbee8 opened #55 "I don't think the package is installing correctly"
The module import for index.ts is export * from './bin/app/index'; but there is no app folder created during the install and so typescript does not work correctly

[2017-04-10 20:50] james-criscuolo commented on #55
I was just about to ask a similar question. In other angular2 packages I've seen, it looks like they already transpile and include all the js files in the release.

[2017-04-10 21:03] vlio20 commented on #55
investigating...

[2017-04-10 21:08] vlio20 commented on #55
I hope I will able to introduce a fix in the next hour or so. seems like something went wrong with the last release

[2017-04-10 21:22] vlio20 commented on #55
Issue was fixed in 1.0.2. Thanks for opening the issue. Nice to see that there are people using this lib.

@mgbee8, are you using it in prod?

[2017-04-10 21:30] vlio20 commented on #54
@james-criscuolo, I will definitely would like to add a dateragepicker to this lib. Two things have to made first:
1. E2E tests cover has to be increased (there is a project for that).
2. Refactoring to the current components to structures and modularity.

Hope to have the above in the week or 2, then will start working on the daterangepicker. When I will get to it I will create a project for it a

[2017-04-10 21:35] vlio20 opened #56 "Add missing e2e tests"
In order to go forward e2e test coverage has to increase.

[2017-04-11 11:30] mgbee8 commented on #55
no I was trying it out for a new development I am considering

[2017-04-11 11:36] vlio20 commented on #55
@mgbee8, let me know if there are some missing features

[2017-04-11 11:36] #55 closed

[2017-04-11 17:08] james-criscuolo commented on #54
Another small thing I didn't mention, and may even be considered a 'bug' for just the day-picker. If I set a max date and have multiple calendars (2 in my case), the right most calendar should show the latest available date. Currently, with max set to today (April 11), the 2nd calendar shows May. I guess this can be considered an opinion more than a bug, but having something settable for this is p

[2017-04-11 17:29] james-criscuolo commented on #54
Sorry should have mentioned this in the above post, but this is the last one I've found. The ob-daterangepicker used to show calendar days with single digits as just the digit, not 0 and then the digit (so '1' for the first instead of '01'). If the current functionality is still desired, I think a dayFormatter would be fitting here, or maybe just a boolean, as I'm not sure how much more variabilit

[2017-04-12 05:41] Chuvisco88 opened #59 "[Question] How to automatically open the datepicker on focus"
Well title says it already. I added the dp-day-picker element but I have no clue how to open the day picker when the input is focused.
Can you provide some hint?

[2017-04-12 05:45] Chuvisco88 commented on #59
Nevermind, the calendar widget was shown but way down the page lol

[2017-04-12 05:45] #59 closed

[2017-04-12 05:51] vlio20 commented on #59
Why was it there?

[2017-04-12 06:08] Chuvisco88 opened #60 "[Bug] Date picker inside relative element misplaces the widget"
dp-day-picker can not be placed inside a relative container as the top/left value are calculated from page top/left instead of the relative container.
This results in the widget being totally misplaced the further down the element is on the page.

[2017-04-12 06:09] Chuvisco88 commented on #59
See #60

[2017-04-12 06:12] vlio20 commented on #60
Will take a look. For now, try to add appendTo: body.  see if it helps.

[2017-04-12 06:45] Chuvisco88 commented on #60
That did help :)

[2017-04-12 17:20] isaacplmann opened #61 "Inline calendar has no provider for DayPickerService"
You can see this in the demo if you change the mode to "Inline".  I'll take a crack at fixing this in a PR.

[2017-04-12 17:21] isaacplmann opened #62 "ngModel that can't be parsed as a date causes infinite loop"
Working on a PR.

[2017-04-12 17:22] vlio20 commented on #61
Thanks. Will fix it as part of the refactoring I am currently doing.

[2017-04-12 17:24] isaacplmann commented on #62
Trying to figure out how to reproduce in your demo first...

[2017-04-12 17:24] vlio20 commented on #62
Thanks. @isaacplmann,

[2017-04-12 17:26] vlio20 commented on #62
What undifined value you are talking about? For which property.

[2017-04-12 17:29] isaacplmann commented on #62
I traced it down to day-calendar.service.ts line 42
[code]

`firstDayOfBoard` is an invalid `Moment` object so subtracting a day returns another invalid `Moment` object.  In my app where the bug is happening, the `date` value for the top level `<dp-day-picker>` is `undefined`, but I'm not able to reproduce the same problem using your demo.

I'll keep looking and let you know what I find.

[2017-04-12 17:29] vlio20 commented on #62
@isaacplmann, as I mentioned I am working on big refactoring, which hopefully will simplify the extension of this module, you can follow the progress in the ref branch. Can you also check it there please?

[2017-04-12 17:30] isaacplmann commented on #62
ok, I'll check in the ref branch

[2017-04-12 17:37] isaacplmann commented on #62
ok, figured it out

If the top level `ngModel` value can't be parsed as a date, you'll hit the infinite loop.  So:
[code]
The fix is to change line 36 of `day-calendar.service.ts` from:
[code]
To this:
[code]

Should I submit a PR or wait until your refactoring is done and submit then?

[2017-04-12 17:40] vlio20 commented on #62
Better to wait. Thanks again.

[2017-04-16 22:11] vlio20 commented on #62
@isaacplmann, refactoring is done! Can you tell if the issue is still happening?

[2017-04-16 22:12] vlio20 commented on #61
fixed after refactoring. thanks!

[2017-04-16 22:12] #61 closed

[2017-04-17 07:58] #60 closed

[2017-04-17 07:59] vlio20 commented on #60
@Chuvisco88, this one is fixed (I hope). let me know if you find any issues with this fix. Thanks for the contribution.

[2017-04-17 08:00] vlio20 commented on #53
closed after refactoring.

[2017-04-17 08:00] #53 closed

[2017-04-17 09:25] vlio20 opened #64 "Rearrange nav buttons to support apply and cancel"
This button will clear the input

[2017-04-17 12:39] isaacplmann commented on #62
Looks like it's fixed.  Thanks!  When do you think you'll publish to npm?

[2017-04-17 12:39] #62 closed

[2017-04-17 15:01] vlio20 commented on #62
Today or tomorrow.

[2017-04-18 18:54] vlio20 commented on #62
@isaacplmann, the release is available under 1.1.0 - please note that there are many breaking changes. Please let me know if you find any issues.

[2017-04-18 20:35] #56 closed

[2017-04-19 01:49] x269147836 opened #65 "The month calendar component don't config monthFormatter."
Path: angular-datepicker/src/app/month-calendar/month-calendar.component.html

Code:

`{{month.date.format('MMM')}}`

[2017-04-19 04:16] vlio20 commented on #65
@x269147836, the `monthFormatter` is the formatter of the day-calendar label:
![Imgur](http://i.imgur.com/crUGq61.png)

There is another task #36 for the formatting of a single day/month. It will be available in the next couple of days.

[2017-04-19 04:16] #65 closed

[2017-04-19 20:42] #36 closed

[2017-04-19 20:43] vlio20 commented on #65
@x269147836, this is no available in version 1.2.0. Let me know if you having any issues.

[2017-04-20 07:00] x269147836 commented on #65
@vlio20  Sorry, I did not make it clear that I knew that the head content could be formatted by `monthFormatter`
I am referring to the month of the selector panel can not be formatted:

![qq 20170420145812](https://cloud.githubusercontent.com/assets/3904501/25217575/04b4abee-25da-11e7-8914-e33c7c650b61.png)
![qq 20170420145522](https://cloud.githubusercontent.com/assets/3904501/25217577/077707a0-2

[2017-04-20 07:14] vlio20 commented on #65
@x269147836, I don't think I understand. You are using `monthFormatter` and it doesn't changes the calendar header? If so please post you formatter method.

[2017-04-21 19:35] isaacplmann opened #68 "Multiple months in the picker (calendarsAmount)"
Do you plan to add back in the `calendarsAmount` feature?

It seems to have disappeared in version 1.x.

[2017-04-21 19:37] vlio20 commented on #68
It causes a lot of problems and edge cases. I am not sure for what purpose it is needed. Can you tell how will you use this feature?

[2017-04-21 19:39] isaacplmann commented on #68
I have a list of dates that need to be quickly added/removed.  If a user can see 6-12 months at once, they can easily select all the company holidays in a year for example.

[2017-04-21 19:40] isaacplmann commented on #68
I'd be using it in inline mode and with multiSelect enabled.

[2017-04-21 19:46] vlio20 commented on #68
why not just run `*ngFor` for the inline component `<dp-day-calendar>` with the same configuration and the bind it to the same model, something like this:
[code]

[2017-04-21 19:47] isaacplmann commented on #68
That would work mostly, but the previousMonth/nextMonth buttons wouldn't stay in sync.

[2017-04-21 19:48] isaacplmann opened #69 "Feature Request: Attach dp-popup to any component"
I use material2 inputs for all my text inputs.  It would be nice to be able to attach a dp-popup somehow to a material2 input and have the dp-popup update the value of that component.

I realize this would require a fair amount of refactoring.  I'm happy to help with that if this is a direction you want to go.

[2017-04-21 19:50] isaacplmann commented on #68
And all the calendars would display the same month to start with.

[2017-04-21 19:54] vlio20 commented on #68
right. I will move it back in. How would the `enableMonthSelector` work with this feature (in previous version it the month selector was opened only in the first and last calendars)?

[2017-04-21 19:55] isaacplmann commented on #68
I'm not sure - I'll have to look at `enableMonthSelector`

[2017-04-21 19:57] vlio20 commented on #68
It is enabled by default, you can check it out in the demo.

[2017-04-21 20:00] vlio20 commented on #69
As I understand there are 2 things to this feature:
1. Put the popup below/above the "attachTo".
2. The value should be bounded to the same model (Am I missing something?).

The first is a bit tricky because there is already `appendTo` configuration  - maybe there can be some extra configuration.

[2017-04-21 20:01] isaacplmann commented on #68
I'm ok with the month selector only being enabled on the first calendar.

If you do enable it for other calendars, the month you choose should become the month for that calendar and the other calendars should update accordingly.

[2017-04-21 20:05] vlio20 commented on #68
The configuration (`enableMonthSelector `) will be applied to all calendars in the picker. I think the simplest thing to do is to enable it for all the calendars and update the rest.

[2017-04-21 20:30] isaacplmann commented on #69
We can add a new directive `dpDayPickerTriggerFor` (like [`mdMenuTriggerFor`](https://github.com/angular/material2/blob/94320c4e68a8e6a2093b704157900cd6cd8388e2/src/lib/menu/menu-trigger.ts)) that can only be applied to a component with an `ngModel` attribute.  (selector is `[dpDayPickerTriggerFor][ngModel]`)

Then, `dpDayPickerTriggerFor` updates `dp-day-picker` in the following ways:
1. Set `hid

[2017-04-21 20:35] vlio20 commented on #69
so how will it affect the date picker component? what changes should be made?

[2017-04-21 21:36] vlio20 commented on #68
I will introduce a new component for this feature - `dp-calendars-container`.

[2017-04-24 13:10] isaacplmann commented on #69
the `dp-day-picker` would need to
(1) Create a new `@Input() hideInputContainer: boolean` that defaults to false and will be set by `dpDayPickerTriggerFor`
(2) Expose the existing `inputElementContainer` as an `@Input` and not overwrite it if it is defined

I think everything else can be handled in the `dpDayPickerTriggerFor` directive.

[2017-04-24 13:16] vlio20 commented on #69
1. I think that it is better to set it as a configuration rather than `@input` (`hideInputContainer `).
2. ok.

[2017-04-24 13:16] isaacplmann commented on #69
-OR- Another possible approach would look like this:

[code]

And the `dpDayPicker` would insert a `<dp-day-picker>` component using the host component's `ViewContainerRef`, passing in `someConfig` as the `config` property.  I like this syntax better if I can make it work.

[2017-04-24 13:23] isaacplmann commented on #68
Sounds good to me.

[2017-04-24 13:25] isaacplmann commented on #69
I'm planning to work on this today.  I think I'll have time to work on this and the timepicker this week.

[2017-04-24 13:32] vlio20 commented on #69
I like this approach as well.
Regarding the time picker, lets talk about it in the relevant thread - I think it is a good idea to start with the inline version.

[2017-04-24 14:15] isaacplmann commented on #69
Note: I don't see a clean way of implementing the `showGoToCurrent` button.

(Yes, I'll comment on the timepicker issue, when I'm getting ready to start on that piece.)

[2017-04-24 14:17] isaacplmann commented on #69
Perhaps we could add `goToCurrent()` as part of the api and people could write their own `goToCurrent` button if they want to.

[2017-04-26 17:22] vlio20 commented on #69
resolved in #70. Thanks @isaacplmann.

[2017-04-26 17:22] #69 closed

[2017-04-26 17:51] isaacplmann commented on #69
When do you think you'll publish to npm?

[2017-04-26 18:42] vlio20 commented on #69
I hope tomorrow.

[2017-04-26 19:27] isaacplmann commented on #5
I'm starting by creating a `<dp-time-chooser>` analogous to `<dp-day-calendar>`.  Once that is working, I'll open a PR for feedback and start working on adding `'datetime'` and `'time'` as valid `CalendarType`s in `<dp-date-picker>`.

Should there be a separate `<dp-datetime-chooser>` component that handles using `<dp-day-calendar>` and `<dp-time-chooser>` together?  Or should `<dp-date-picker>` m

[2017-04-26 20:35] vlio20 commented on #5
cool, few notes regarding the inline component:
1. I would probably call the inline component: `dp-time-select`.
2. It has to have form validation (min, max) - are there others?
3. It should support the relevant items from the above 4 bullets.

Regarding your question:  new configuration will be available in the `dp-day-calendar` component (`enableTimeSelect`) which than will show the time select

[2017-04-26 20:44] vlio20 opened #72 "Disabled attribute is broken"

[2017-04-26 20:58] #72 closed

[2017-04-26 21:10] vlio20 opened #74 "Unit test parameters are wrong"
@isaacplmann, seems line this test is working but the parameters provided to getConfig method are not correct. The method should receive `HTMLElement` when in the test it receives a string. In my opinion the getConfig method should receive also strings and handle the conversion to `HTMLElement`, WDYT?

@isaacplmann, can pls fix this issue?

Here is the link to the test:
https://github.com/vlio20/a

[2017-04-27 14:12] #74 closed

[2017-04-27 14:18] isaacplmann commented on #5
`dp-day-calendar` would need to be able to handle `date`, `datetime` and `time` options.  A single boolean can't handle all those cases.  You already have a `currentCalendarType` enum property - why not add a couple new values to that enum?

[2017-04-27 14:21] carlososiel opened #76 "New version with support for material as show in demo app"
Exist any changes that you publish new version for integrate with material as show the demo in master branch using DatePickerDirective?, actually i used the last version published in npm 1.3.0.
Thanks.

[2017-04-27 14:24] vlio20 commented on #5
`dp-day-calendar` I don't this that should handle `time` it can and should handle only `date` and `datetime`. `dp-date-picker` should have another type that it can handle (with `day` and `month`) which is `time`, it will handle the same as it handles the `day` and `month` types.

[2017-04-27 14:27] arusak opened #77 "How do I know about changes?"
Hello! Awesome component, trying to use it, but I have a problem. I need to refresh data on page whenever a user picks a date. However I could not find a way to catch a click or a change event. An \@Output would be nice.

[Documentation in NPM](https://www.npmjs.com/package/ng2-date-picker) seems outdated but it mentions a few outputs. No traces of them in current DatePickerComponent though.

[2017-04-27 14:28] vlio20 commented on #76
In order to have a material theme you will have to do as follows:
[code]

it is present in the documentation:
`https://github.com/vlio20/angular-datepicker#user-content-attributes`

Please close this ticket if it helped you.

@carlososiel. there is a new version just released (1.4.0).

[2017-04-27 14:32] vlio20 commented on #77
This component is using `ngModel`, see below:
`<dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig"></dp-date-picker>`
In order to get the selected value you could just use the `(ngModelChange)` hook.

`<dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig" (ngModelChange)="doYourThing()"></dp-date-picker>`

Does it helps?

[2017-04-27 14:34] isaacplmann commented on #5
Ok, I'll set it up that way.

[2017-04-27 14:45] arusak commented on #77
Thank you for pointing at ngModelChange! Works like a charm.

[2017-04-27 14:45] #77 closed

[2017-04-27 15:03] carlososiel commented on #76
I update to version 1.4.0 and I try 2 methods:

1. I use the component:
`<dp-date-picker formControlName="startDate" config="datePickerConfig" theme="dp-material"></dp-date-picker>`
That's work for me, but I do not have the same styles that my application. I try so with method 2
2. I use the directive as say in Readme and is showed in the demo application in demo.component.html in line 130:
[code]

[2017-04-27 15:09] vlio20 commented on #5
It would be great if you will start from the inline component first.

On Apr 27, 2017 5:34 PM, "isaacplmann" <notifications@github.com> wrote:

[2017-04-27 15:09] isaacplmann commented on #5
Yes, that's the plan.

[2017-04-27 15:42] vlio20 commented on #76
I will give it a look in the next couple of hours

[2017-04-27 15:43] vlio20 commented on #76
Can you add a screenshot of how does it looks in your implementation?

[2017-04-27 16:32] isaacplmann commented on #76
I think I'm running into a related problem.  The `[dpDayPicker]` requires an `[ngModel]` on the host component.  It doesn't take into account using `formControlName` instead.  I'm working on fixing that now.

[2017-04-27 16:34] isaacplmann commented on #76
FYI, this is where I figured out what was happening: https://github.com/angular/angular/issues/9363#issuecomment-227878238

[2017-04-27 16:47] vlio20 commented on #76
@isaacplmann, do you have the same issue with the styling?

[2017-04-27 17:08] isaacplmann commented on #76
When I use a plain `ngModel` (from `FormsModule`), the styling appears fine.  When I use a `FormControl` (from `ReactiveFormsModule`) there is some hidden error (that is, it doesn't appear in the console) that happens and styling is broken on several components in my app, including the `[dpDayPicker]`.

[2017-04-27 17:20] vlio20 commented on #76
@isaacplmann, can you tell what causes this issue?

[2017-04-27 17:23] isaacplmann commented on #76
Basically, the `formControlName` or `formControl` directive has `ngModel` as an attribute.  So if they are present, there is no plain `ngModel` directive on the component.  So I need to figure out how to interact with the `formControl` directive instead of the `ngModel` directive, whenever it is present.

[2017-04-27 17:25] vlio20 commented on #76
So it also means that the `dp-date-picker` component is broken as well - right?

[2017-04-27 17:33] carlososiel commented on #76
@vlio20 [The screenshoot](http://prntscr.com/f1jocm)

[2017-04-27 17:35] vlio20 commented on #76
@carlososiel, it is not broken - this the default theme. You can see it in the demo when you disabling the material theme.

[2017-04-27 17:36] vlio20 commented on #77
I am glad it helped!
would be nice if you could give this lib a ⭐️

[2017-04-27 17:52] carlososiel commented on #76
@vlio20 The problem was with the theme I have material and not dp-material, I change it and look better, the problem is that can not use the component inside a md-input-container and then I need reproduce the same syle of elements of material. This issue can be closed. Thanks

[2017-04-27 17:57] vlio20 commented on #76
@carlososiel, is it looks the same as in the demo?
You can use the directive and put it on your input inside the `md-input-container `. let me know if you need help with that.

[2017-04-27 18:42] carlososiel commented on #76
@vlio20 With the directive show the same error that explained above.

[2017-04-27 18:43] isaacplmann commented on #76
I'm close to a PR that should fix the issues with the directive.

[2017-05-01 15:40] isaacplmann commented on #5
FYI, I'm not actively working on this right now.  Being pulled away to work on other things.  Still planning to come back to this eventually.

[2017-05-01 17:58] #76 closed

[2017-05-05 09:29] eeroki opened #81 "Navigation buttons missing type attribute"
Navigation buttons in datepicker seem to be missing type="button", default value is submit for most browsers.
This submits form if datepicker is used inside a form which propably is not what you want.

[2017-05-05 10:13] vlio20 commented on #81
@eeroki, do you want to submit a PR? if not I will handle this myself as part of v2 milestone.

[2017-05-05 13:44] eeroki commented on #81
@vlio20, since lennu is already on it I'll leave it to you two.

[2017-05-05 16:26] #81 closed

[2017-05-05 17:50] vlio20 commented on #81
this fix is available in 1.4.2 version. @lennu thanks for the quick PR!

[2017-05-15 11:21] bandersen22000 opened #84 "Error: (SystemJS) XHR error (404 Not Found) loading http://localhost/ng2-date-picker"
Hi
"ng2-date-picker": "^1.4.2" to my package.json and added the imports to the datepicker in my app.module.ts file.

I have the datepicker files in  the folder "node_modules\ng2-date-picker" but when I run the app, i get the following error ?
`
(index):24 Error: (SystemJS) XHR error (404 Not Found) loading http://localhost/ng2-date-picker
	Error: XHR error (404 Not Found) loading http://localhost/

[2017-05-15 11:55] vlio20 commented on #84
are you using systemjs in your project?

[2017-05-15 12:08] bandersen22000 commented on #84
Yes I use my own systemjs. I have attached it.

[systemjs.config.txt](https://github.com/vlio20/angular-datepicker/files/1000997/systemjs.config.txt)

[2017-05-15 12:29] vlio20 commented on #84
you will have to add it as you added other 3rd party libs I guess.

[2017-05-15 18:57] vlio20 commented on #84
@bandersen22000 , did you manage to sole this issue?

[2017-05-15 19:54] bandersen22000 commented on #84
No sorry, i tried different things, but I did not solve the problem. I ended up using jqueryUI datepicker. But I would like to use ng2-date-picker instead. Do you have any other suggestions to what the problem could be ?

[2017-05-15 20:55] bandersen22000 commented on #84
My solution I based on the angular-visual studio startup solution: https://angular.io/docs/ts/latest/cookbook/visual-studio-2015.html

[2017-05-16 06:49] vlio20 commented on #84
did you try to do the following:
[code]

[2017-05-18 17:18] rodrigofns opened #85 "Lots of "parameter 'x' implicitly has 'any' type" errors."
I'm having the following errors after "npm start":

[code]

Currently using Angular 4.1.3 with Webpack, brand new project from [Angular.io](https://angular.io) website. Is it just me? Seems to be just a matter of making the `any` type explicit.

[2017-05-19 05:50] vlio20 commented on #85
Hi @rodrigofns, in the date-picker component tsconfig.json file the `noImplicitAny` property is set to false, while in your project it probably set to true. In order to fix this issue you will have to add the following property to you tsconfig.json file:
`"skipLibCheck": true`
You can find more information about it here: https://www.typescriptlang.org/docs/handbook/compiler-options.html (look for

[2017-05-19 13:10] rodrigofns commented on #85
It worked, thank you.

[2017-05-19 13:10] #85 closed

[2017-05-19 13:17] vlio20 commented on #85
@rodrigofns, a ⭐️ would be much appreciated :)

[2017-05-19 14:15] rodrigofns opened #86 "Internationalization option for month names"
I see there's a `weekdayNames` option to internationalize weekdays, but I can't see a `monthNames`. Is it on the roadmap?

[2017-05-19 17:02] vlio20 commented on #86
you can use the `monthFormatter `. What exactly you want to Internationalize?

[2017-05-19 17:46] rodrigofns commented on #86
The name of the month currently displayed. For example, I'm using this to translate the weekdays to Brazilian Portuguese:

`weekdayNames: { su:'D', mo:'S', tu:'T', we:'Q', th:'Q', fr:'S', sa:'S' }`

Then I thought there would be something like:

`monthNames: { jan:'Janeiro', feb:'Fevereiro', mar:'Março', ... }`

I actually haven't noticed `monthFormatter`, I'll check it out, thanks.

[2017-05-19 17:46] #86 closed

[2017-05-19 18:01] vlio20 commented on #86
glad it helped.
Please let me know if you have other issues.

[2017-05-22 14:19] rodrigofns opened #87 "Month navigation doesn't work with Material"
I'm using the component as a directive, and everything works fine. However, when using the [Material](https://material.angular.io/) `mdInput` directive, the month currently displayed on the calendar won't change when clicking on `<` and `>`, and also when clicking the month granularity selector.

Taking the example from the demo, this works:
[code]

But this makes the month navigation stop:
[code]

[2017-05-22 14:28] jordydejong commented on #53
Hi,

Is this fix planned for a future release? thanks

[2017-05-23 06:11] vlio20 commented on #53
@jordydejong, It is already fixed check it out in the demo https://vlio20.github.io/angular-datepicker/

[2017-05-23 15:54] egandro opened #88 "No change Event"
Hi,

this is a nice component I'd like to add to my projects.

However I'd like to have a (change) event e.g. like we get it in other default HTML Form elements (checkbox, texts, etc.)

I need this because I'd like to wrap the datepicker in some highlevel components that will be used in forms.

Can you please add a change() event?

Very simple:

@Output() change = new EventEmitter();

and emit it

[2017-05-23 16:15] vlio20 commented on #88
@egandro, please take a look at https://github.com/vlio20/angular-datepicker/issues/77. Let me know if it solves your issue.

[2017-05-23 16:16] vlio20 commented on #87
Can you please create a simple project to show the issue? @isaacplmann, can you reproduce this issue?

[2017-05-23 16:19] isaacplmann commented on #87
Month navigation is working for me using `mdInput`.  I'm using the `formControl` directive instead of `ngModel`, but that shouldn't make a difference.  A demo repo would help a lot.

[2017-05-23 17:45] rodrigofns commented on #87
There you go, I uploaded the whole testing project [right here](https://github.com/rodrigofns/datepicker-example). Just run `npm install` and `npm start`. Specifically, the datepicker [is here](https://github.com/rodrigofns/datepicker-example/tree/master/src/app/outro). I hope you can reproduce it, thanks in advance.

[2017-05-23 18:13] isaacplmann commented on #87
@vlio20
After running `npm start` you'll need to navigate to `localhost:8080/outro`.  It appears that the `dp-day-picker` component is re-focusing the input on every click which triggers the calendar to go to the currently selected day.  I don't have time to look at it today.  I'll try to take a look in the next few days if you haven't solved it by then.

[2017-05-23 18:15] egandro commented on #88
Thx! it works :)

[2017-05-23 18:41] vlio20 commented on #88
cool. closing! ⭐️ will be much appreciated :)

[2017-05-23 18:41] #88 closed

[2017-05-24 20:03] rohitsodhia opened #89 "Default theme"
Sorry if I'm missing it, but is there a means of setting a default theme? For example, right now, I'd like to use dp-material as the theme for all the datepickers, but I'd have to set it as an attribute on each one. I don't see anything in the config object in the docs.

[2017-05-24 20:11] vlio20 commented on #89
Yea there is no "global" configuration for the theme. You will have to add it to every instance of the component.

[2017-05-24 20:17] rohitsodhia commented on #89
Thanks for the response. Not sure if you take requests and if you do, how to put that in, but if possible, this would be a great feature in the future.

[2017-05-24 20:18] vlio20 commented on #87
thanks @isaacplmann, I will give it a look as well

[2017-05-24 20:27] vlio20 commented on #89
sure I am taking request! And this might be a nice feature. Currently I don't have time to develop it, but if you like to submit a PR it would be great!!!

[2017-05-24 20:28] rohitsodhia commented on #89
Sure! I'm newer to Angular, but I'll give it a shot.

[2017-05-24 20:36] vlio20 commented on #87
@rodrigofns, seems like the `md-input-container` is listening to clicks on it child elements and it what causes the "re-focusing". As a workaround I would suggest you to use `appendTo: body` in the config object you pass to the component. Here is a full example as seen in your code:
[code]

Let me know if you have further issues.

[2017-05-24 20:36] #87 closed

[2017-05-24 20:38] vlio20 commented on #89
Shouldn't be to complicated. Let's discus here how do you think this should be implemented. I will reopen this issue.

[2017-05-24 20:38] vlio20 commented on #84
closing....

[2017-05-24 20:38] #84 closed

[2017-05-26 09:25] francarmona opened #90 "dpDayPicker min date issue"
If I set a min date user can not select a previous day to moment() in the calendar, that is correct. However user can type a previous day in the input box and calendar set that day, so that is wrong.

    datePickerConfig: IDatePickerConfig = {
        firstDayOfWeek: 'mo',
        format: 'DD-MM-YYYY',
        **min: moment()**
    };
    <input name="fechaModificacion" [(ngModel)]="fechaModifica

[2017-05-26 10:47] vlio20 commented on #90
hi @francarmona, you are right seems like a bug.
However I wonder what should be the user experience in this case? Do you have any suggestion or example?

[2017-05-26 11:40] francarmona commented on #90
Hi @vlio20. I suggest you to mark the form field as invalid and show a red border in the input to the user. Thank you very much!

[2017-05-26 13:28] vlio20 commented on #90
This already cab be achived by using the min property as one of the
attributes of the element.

There should be some blocking experience.

On May 26, 2017 14:40, "Francisco Carmona" <notifications@github.com> wrote:

[2017-05-26 14:34] francarmona commented on #90
It doesn´t work, in order to get working min property I should add type="date" to the input and it shows the html5 calendar control by default instead of yours.

[2017-05-26 16:58] vlio20 commented on #90
mmm... I will take a look. Meanwhile, do you have to use the directive? maybe you can you use the component instead?

[2017-05-26 18:39] vlio20 commented on #90
@isaacplmann, I have made some changes to the directive though I am not feeling comfortable with them and it would be great if you could consult a bit here.

Here are my points of concern:
1. I feel that what I am doing in the directive is a bit hacky, as I am accessing the validation function manually.
2. I am not sure how to do a `required` validation after my fix.

Your help would be much appre

[2017-05-26 19:59] isaacplmann commented on #90
1. The only other way I could think of to register the datepicker validation on the input's `FormControl` is to do this:
[code]
My method has the drawback of overwriting any validators that the consumer may have added to that input.

2. You can add a required validator like this:
[code]

[2017-05-26 19:59] maiyaporn opened #91 "[Bug] Extra week of next month in the calendar"
The last week in the calendar is next month week. The calendar for the month of May should end at 3rd June.

<img width="228" alt="screen shot 2017-05-26 at 2 39 14 pm" src="https://cloud.githubusercontent.com/assets/5413088/26510593/a9184de8-4223-11e7-9d2e-8474d0c97ab8.png">

[2017-05-26 20:08] vlio20 commented on #91
The calendar is designed to always show 6 weeks. So this is not a bug. You can always switch off the visibility of near month days.

[2017-05-26 20:08] #91 closed

[2017-05-26 20:13] vlio20 commented on #90
Regarding the required validation, seems like my method of applying min and max validation breaks the required validation when it is set as an attribute. You can see it in the demo page of the min-directive brunchm

[2017-05-26 20:18] vlio20 commented on #90
Seems like I found the solution for the required validation.

[2017-05-26 20:19] vlio20 commented on #90
@francarmona, I will soon push a fix for the validation issue of the directive. Still I am trying to think of a way to prevent a user of typing invalid date.

[2017-05-26 20:36] vlio20 commented on #90
you will find the validations working on 1.4.3

[2017-05-26 21:46] francarmona commented on #90
Great. Thank you very much for the quick fix @vlio20

[2017-05-26 22:37] vlio20 commented on #90
@francarmona your ⭐️ would be much appreciated :)

[2017-05-27 06:43] rohitsodhia opened #93 "Directive not working with reactive forms"
I'm using Angular 4.0.0, so not sure if it's a version issue, but I was able to get the directive working with template forms, but once I switched to a reactive form, it no longer opens up the picker. I saw there was a merge about a month back to get reactive forms working, so not sure if it's me. As nothing shows up in the console, I also don't know how to debug this, nor what kind of information

[2017-05-27 08:27] vlio20 commented on #93
Hi, Can you please make a demo repo which shows how you are trying to use it with a reactive form?

[2017-05-28 02:21] rohitsodhia commented on #93
https://github.com/rohitsodhia/datepicker_example

It's likely I'm missing something, but I'm not sure what...

[2017-05-28 06:55] vlio20 commented on #93
@rohitsodhia, I suggest you to take a look at the implementation in the demo page of the component. There is a special example for reactive forms - here is a link to the page: https://github.com/vlio20/angular-datepicker/blob/master/src/app/demo/demo/demo.component.ts

Let me know if it helps.

[2017-05-28 18:59] leondroidgeeks opened #94 "Documentation Update"
Please update you documentation in section https://github.com/vlio20/angular-datepicker#api to this code: `import { DatePickerComponent } from 'ng2-date-picker';`

[2017-05-29 01:59] rohitsodhia commented on #93
I did review that page prior to asking my question, but I'm not sure what I'm missing that is on that page.

[2017-05-29 05:08] vlio20 commented on #94
done!

[2017-05-29 05:08] #94 closed

[2017-05-29 19:11] weslley39 opened #95 "Some errors happening when run my app"
Hi,

every time that I do a `npm start` in my project, some errors are showed in the console:

[code]

Configs:
[code]

This is something that I have to fix in my project?
Or is something in the project ?

Thanks for all.
The best datepicker that i found, and i don't want to stop using because of this :)

[2017-05-29 19:16] weslley39 commented on #95
I inserted the code
`"skipLibCheck": true`, and now is working without errors.

Sorry, i didn't saw that this was already fixed in the past issues :(

[2017-05-29 19:16] #95 closed

[2017-05-29 19:22] bandersen22000 commented on #84
Sorry for the late response, it worked. I added a star :)

[2017-05-30 11:10] vlio20 commented on #84
@bandersen22000 , thanks!!!

[2017-05-30 11:12] vlio20 commented on #95
@weslley39, it's ok! glad you are using this component.

[2017-05-30 14:02] pklaparda opened #96 "month change issue"
hi, I'm trying to implement the datepicker with material, using the [dpDayPicker] directive. I get to see the calendar openining, even choosing the date and loading in a component attr, but I cannot change the month, the arrows dont work, and the enableMonthSelector lets me pick another month.. but I end up in the same month the calendar started (now it's may 30.. so I´m stuck in may).

any idea w

[2017-05-30 14:06] vlio20 commented on #96
yes, please check this https://github.com/vlio20/angular-datepicker/issues/87

you need to append to add 'appendTo: body' property to your configuration object.

let me know if it helped.

[2017-05-30 14:58] pklaparda commented on #96
thank you man so much!
sorry I ddn't check out closed issues :{

[2017-05-30 14:58] #96 closed

[2017-05-30 18:07] vlio20 commented on #96
glad it helped you. your ⭐️ will be appreciated

[2017-06-01 08:34] vlio20 commented on #93
@isaacplmann, I am not familiar enough with reactive forms, maybe you can help @rohitsodhia ?

[2017-06-01 08:35] #90 closed

[2017-06-07 12:24] exial opened #97 "Misleading usage example for the inline calendar in the NPM docs"
Should be `<dp-day-calendar>`/`<dp-month-calendar>` instead of `<dp-calendar>`.

[2017-06-07 13:17] vlio20 commented on #97
You are right. Will fix it. Or even better, do you want to PR?

[2017-06-07 15:35] vlio20 commented on #97
@exial, I can't find any `<dp-calendar>` in the readme file. can you please point out the line?

[2017-06-12 11:14] gauravumrani opened #98 "Rangepicker"
i want to integrate range picker too,do you have that functionality available??

[2017-06-12 11:16] MarcinWirkus opened #99 "minDate not working"
I'm trying to set "minDate" in component configuration, unfortunately, it does not work.
`<dp-date-picker [(ngModel)]="modelED" #dataEnd theme="dp-material" name="dataEnd" minDate="{{prevDay}}"></dp-date-picker>`

In the code is date:
`ng-reflect-min-date="Sun Jun 11 2017 13:13:33 GMT+0"`
 but not displayed in "data-picker".

[2017-06-12 11:37] vlio20 commented on #98
not yet.
duplicate of: https://github.com/vlio20/angular-datepicker/issues/54

[2017-06-12 11:37] #98 closed

[2017-06-12 11:42] vlio20 commented on #99
@MarcinWirkus, what are you trying to achieve? disable the selection of dates prior to minDate or get a validation error when user selects a date prior the minDate?

[2017-06-12 11:50] MarcinWirkus commented on #99
@vlio20 - disable the selection of dates prior to minDate ;)

[2017-06-12 12:08] vlio20 commented on #99
Please see the min option in the config. You will find it in the Readme file

On Jun 12, 2017 14:50, "Marcin Wirkus" <notifications@github.com> wrote:

[2017-06-12 12:18] MarcinWirkus commented on #99
Thanks! I work in my first project in Angular4 and I not found in the documentation how add settings with "config"? Please, add this section in the readme file

[2017-06-12 12:50] vlio20 commented on #99
you will find it here https://github.com/vlio20/angular-datepicker#configuration (`min`).

[2017-06-12 14:12] #99 closed

[2017-06-13 21:58] abajorunas opened #100 "can not change value in reactive forms"
hi,

I am keep getting "myDate":"2017-06-13T21:53:24.527Z"

but I would like to get in this form 2017-06-13T22:53:16+01:00

not sure if this a date picker problem or reactive forms itself.

please help.

I have nested form,

parentForm, childList, childForm

this is childForm

[code]

[2017-06-14 03:41] vlio20 commented on #100
Please post some code.

[2017-06-15 21:28] leondroidgeeks opened #101 "Using API with directive"
I implemented the date picker using the directive:
`<input class="form-control" formControlName="birthday" id="birthday" #birthday placeholder="Birthday" [dpDayPicker]="config" aria-describedby="basic-addon1">`

When I want to call the open() on this object, I get this Error:

`  @ViewChild('dpDayPicker') datePicker: DatePickerComponent;`
 `open() {
    this.datePicker.api.open();
  }
`

Do you kn

[2017-06-16 04:57] vlio20 commented on #101
Thanks. I will take a look

[2017-06-16 06:37] trobinpl commented on #93
@rohitsodhia I just resolved similar problem except I wasn't using reactive forms. In your repository I noticed, that you're attaching datepicker to `input` with `type` property e.g. `<input type="text" formControlName="start" name="start" [dpDayPicker]="dpConfig" theme="dp-material">`. Try loosing `type="text"` - that was exactly my issue.

[2017-06-16 07:24] C-F-4 opened #102 "No Year Picker - Feature Request"
When you select the month model, on clicking of year could go to year selector than back to the date picker.

[2017-06-16 08:22] vlio20 commented on #102
There is no year selector currently. Unfortunately I don't think I have the capacity to add this feature in the near time. PR would be great!

[2017-06-16 11:36] trobinpl opened #103 "Datepicker should open on selected date instead of on current month"
I really like this plugin - it's easy for use and does exactly what it supposed to. Thank you for great work!
I have one little suggestion though - right now, no matter what date is selected, every time you open datepicker popup it shows current month. If I wanted to select for example 1990-05-15, but selected 1990-05-16 instead I have to click trough all the years back to 1990 and select correct

[2017-06-16 12:04] vlio20 commented on #103
Can you put some step by guide?
In the demo, the component remembers the last position. So I am not sure I understand your case.

[2017-06-16 14:04] bradjenn opened #104 "No theme option"
Hi, is there a way to have no css applied to the component

I'm trying to override css but because there is already some included the class names change.

thanks

[2017-06-16 17:04] vlio20 commented on #104
hi @bradjenn, by default there is no theme. What you see it the default styling of buttons and other html elements.

[2017-06-16 17:04] #104 closed

[2017-06-16 17:06] vlio20 commented on #101
@leondroidgeeks, seems like is is working in the demo :/
Can you post some planker or upload a demo repo?

[2017-06-16 17:07] vlio20 commented on #100
Can you please upload some demo repo?

[2017-06-16 17:08] vlio20 commented on #97
will close for now

[2017-06-16 17:08] #97 closed

[2017-06-17 16:06] trobinpl commented on #103
I didn't previously realized, that it actually works this way on the demo page! All I did was attaching datepicker in directive mode and configuring format and week names - nothing fancy. When I get back to work on Monday I'll try to investigate further and see what is different in my case compared to demo page.

[2017-06-18 06:17] vlio20 commented on #101
Are you getting any error? or it just not working?

[2017-06-18 13:47] leondroidgeeks commented on #101
The application is working. But as soon as I click on the calendar button of the input group and call the open() function I am getting this two errors:

TypeError: undefined is not an object (evaluating 'this.datePicker.api.open')
open — app.component.ts:20
(anonyme Funktion)
callWithDebugContext — core.es5.js:13535
(anonyme Funktion) — core.es5.js:9299
(anonyme Funktion) — platform-browser.es5.js

[2017-06-18 14:06] vlio20 commented on #101
When debugging the code, what exactly is undefined?

[2017-06-18 14:21] leondroidgeeks commented on #101
It does know the object 'datepicker' in my example but when calling the function 'this.datepicker.api.open()' it doesn't know the object 'datepicker.api'. So the attribute 'api' is undefined.

[2017-06-18 14:29] vlio20 commented on #101
ok, I will check...

[2017-06-18 19:19] vlio20 commented on #101
I took a look at your code, seems like there is an error on startup of your demo app. I think it is related to the way you are giving reference to the component, please take a look at the component demo:
[code]

[2017-06-19 07:37] leondroidgeeks commented on #101
Thanks! I changed my directive of the input from `#birthdate`
to `#dateDirectivePicker="dpDayPicker"` and it works!

[2017-06-19 07:37] #101 closed

[2017-06-19 07:39] vlio20 commented on #101
@leondroidgeeks, you ⭐️  would be much appreciated :)

[2017-06-19 07:46] trobinpl commented on #103
I found some strange behaviour. I've tried to change all configuration settings, because I thought maybe different locale settings were causing the problems. Then I double checked on demo page and in directive mode it works exactly the same! Just switch "Mode" from "Day Picker" to "Day Directive", select any day not in current month and then reopen picker. It should open on current month by defaul

[2017-06-19 07:55] vlio20 commented on #103
Checking....

[2017-06-19 07:56] vlio20 commented on #103
Yup, I was able to reproduce. Will take a look as soon as I can. Or do you want to PR?

[2017-06-19 07:58] trobinpl commented on #103
I will take a look today at work - I'm not sure if I will be able to fix this though, because of my very limited experience with Angular development :-)

[2017-06-19 07:59] vlio20 commented on #103
Cool! I will be able to work on it in my evening (after work) - in about 9 hours.

[2017-06-19 08:28] bradjenn commented on #104
@vlio20 thats odd, how i am getting css specific for classes like `.dp-calendar-nav-container[_ngcontent-c6]` ?

[2017-06-20 08:10] trobinpl commented on #103
Unfortunately I was not able to diagnose the problem in code, but I noticed, that displayDate property is not set properly when selecting date
![datepicker](https://user-images.githubusercontent.com/3727358/27323030-680fcc14-55a0-11e7-9f2d-57475b1ed596.PNG)
I hope this will help you somehow in finding error more quickly. Sorry for being more helpful though.

[2017-06-20 12:31] C-F-4 commented on #102
I'm trying to look into it. Trying to understand how the calender-nav label value is working in that template, and on EventEmitter using @Output decorator, and when it's switching back to date-picker component. I think the dropdown for the year can be introduced at that place instead of it being used as a button to switch back to date-picker component.
![screenshot-dp](https://user-images.githubus

[2017-06-20 14:45] vlio20 commented on #103
ok, I will take a look

[2017-06-20 14:48] vlio20 commented on #102
It should work the same as the day calendar is switched to month calendar. Note that this option should be configurable .

[2017-06-20 16:33] vlio20 commented on #102
Interesting. How could I switch back to day picker?

[2017-06-20 16:38] C-F-4 commented on #102
By selecting the right month for the selected Year.

[2017-06-20 16:41] vlio20 commented on #102
Not sure this is the correct ux. It is not consistent with the current implementation.

Maybe some icon next to the year button? When clicking it the select dropdown will open.

[2017-06-20 16:43] C-F-4 commented on #102
Well the CSS can be modified easily based on the theme. No issues there.

[2017-06-20 16:45] vlio20 commented on #102
I am not talking about the Css. I don't want to change the year button, I would prefer to put an icon next to the year button which will open the year selector (dropdown) when clicking it. So clicking on the year button will switch back to the day picker.

[2017-06-20 16:46] C-F-4 commented on #102
So what do you think?

[2017-06-20 16:48] C-F-4 commented on #102
Ah well I think that can be done

[2017-06-20 16:53] vlio20 commented on #102
Gr8! Would it be hard to implement some custom select? The default one sucks.

Regarding configuration, it should expect start and end year. Agree?

[2017-06-20 20:39] vlio20 commented on #89
will close for now

[2017-06-20 20:39] #89 closed

[2017-06-20 20:39] vlio20 commented on #100
closing for now

[2017-06-20 20:39] #100 closed

[2017-06-21 06:48] C-F-4 commented on #102
Regarding Start and End year it can be integrated just as min and max are working (like can be used as Attribute as well as configurable variable).
Custom Select can be created just by modifying the css for the select box, if I'm understanding your need right.
Also would it be like a button with arrow on its right used to open a dropdown?

[2017-06-21 07:33] vlio20 commented on #102
Sounds good. But what would be the start and end date if none provided?

[2017-06-21 07:35] C-F-4 commented on #102
We can set a default like 1900-currentYear.

[2017-06-21 07:38] vlio20 commented on #102
This is the default. But maybe it should be also configurable even if min and max not provided

[2017-06-21 07:39] C-F-4 commented on #102
That's what I said. Default can be on like a 100 year timeline from current. Else configurable using minYear, maxYear in configurable object variable.

[2017-06-21 07:40] vlio20 commented on #102
Ok

[2017-06-21 07:41] C-F-4 commented on #102
What about these?
Custom Select can be created just by modifying the css for the select box, if I'm understanding your need right.
Also would it be like a button with arrow on its right used to open a dropdown? On selecting which it'll modify the {{label}} value in the button.

[2017-06-21 07:44] vlio20 commented on #102
Can you sketch some mock? I don't think I fully understand you.

[2017-06-21 07:50] C-F-4 commented on #102
Well hold on then.

[2017-06-21 10:00] C-F-4 commented on #102
Well something like this:
![2017-06-21-15-28-codepen io](https://user-images.githubusercontent.com/9998053/27378701-4c9577a8-5696-11e7-9b9e-3b0eeff34eff.png)
The year part is a button and fa-icon(arrow) is another button
When you click year it'll toggleCalender() { // how it is working now }
But when you click on Arrow, it will toggle the dropdown.

[2017-06-21 11:07] vlio20 commented on #102
yea looks good, probably more simple icon though... Let's use the one we have for the navigation which is a simple character `>`

[2017-06-21 11:25] C-F-4 commented on #102
Cool.

[2017-06-21 14:39] weslley39 opened #106 "Building with rollup"
When i try to build with AOT and Rollup, this error happen:

[code]

when I'm importing the module I'm using:

`import { DpDatePickerModule } from 'ng2-date-picker/index'`

but I already tried to put in SystemJS like:

[code]

But nothing is working :(

[2017-06-21 18:38] vlio20 commented on #106
Never tried to use Rollup, but I think there is also an issue with your import.
`import { DpDatePickerModule } from 'ng2-date-picker/index'`

it should be:
`import { DpDatePickerModule } from 'ng2-date-picker'`

[2017-06-21 18:52] janbro opened #107 "Two Way Binding ngModel"
It seems that when I update my variable `date` binded to the datepicker value, it does not change in the input field value on the component. Angular 4.

`<dp-date-picker type="month" [(ngModel)]="date" [config]="datePickerConfig"></dp-date-picker>`

[2017-06-22 09:40] ZzzzzZXxxxxX opened #108 "can this datepicker change language?"
if can, how do i do? 3q  :）

[2017-06-22 09:42] vlio20 commented on #108
there are many formatters + you can use moment locate. Let me know what exactly you want to change

[2017-06-22 09:43] vlio20 commented on #107
will check, thanks.

[2017-06-22 09:56] ZzzzzZXxxxxX commented on #108
i use the month picker, and i want the month'language show like chinese. how did i set the config?

[2017-06-22 09:58] vlio20 commented on #108
Please check checkout the month formatter. You will find it in the docs.

[2017-06-22 10:03] ZzzzzZXxxxxX commented on #108
e.. set the monthFormat or monthFormatter?

[2017-06-22 10:09] vlio20 commented on #108
`monthFormatter`

[2017-06-22 12:18] C-F-4 commented on #107
Checked it out
app.component.html
`<input name="someName" [(ngModel)]="selectedDate" [dpDayPicker]="config" theme="dp-material"/>
<button (click)="foo()">Print</button>`

app.component.ts
[code]

Does the 2-way binding fine, but with error:
_ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: '11-06-2017'. Current value: ''._

[2017-06-22 21:24] weslley39 commented on #106
Solved with:
`import { DpDatePickerModule } from 'ng2-date-picker/date-picker.module';`

[2017-06-22 21:41] vlio20 commented on #106
this is very odd... didn't `import { DpDatePickerModule } from 'ng2-date-picker'` work?

[2017-06-22 22:38] isaiev commented on #103
Some problem is here, condition is always true.
https://github.com/vlio20/angular-datepicker/blob/master/src/app/date-picker/date-picker.directive.ts#L126

[2017-06-23 05:47] vlio20 commented on #103
@isaiev, do you want to PR a fix?

[2017-06-23 08:02] isaiev commented on #103
@vlio20 I'll try :)

[2017-06-23 08:12] ZzzzzZXxxxxX commented on #108
can you give me an Example of how to use monthFormatter...thank you!

[2017-06-23 08:18] ZzzzzZXxxxxX commented on #108
`monthFormatter:(moment)=>'一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月',`this is right?

[2017-06-23 08:23] vlio20 commented on #108
nope :).
[code]

[2017-06-23 08:26] ZzzzzZXxxxxX commented on #108
.....soga!thank you so much!

[2017-06-23 09:18] ZzzzzZXxxxxX commented on #108
`Exception: TypeError: 'caller' and 'arguments' are restricted function properties and cannot be accessed in this context. at Function.remoteFunction (<anonymous>:2:26)` it report errors! i need import moment?

[2017-06-23 11:06] weslley39 commented on #106
with rollup, no :(

this was the one way that I figured out to get working with rollup

[2017-06-23 11:14] vlio20 commented on #108
can you tell to what code this error relates, you don't need to include moment if you are not using it in your app.

[2017-06-23 11:14] vlio20 commented on #106
Can you explain why?

[2017-06-23 11:14] #106 closed

[2017-06-24 18:25] trobinpl commented on #103
@vlio20 @isaiev I was able to play around with this problem a little bit and managed to correct the issue :-). I created pull request: https://github.com/vlio20/angular-datepicker/pull/110.

[2017-06-26 01:07] ZzzzzZXxxxxX commented on #108
`this.datePickerConfig = {
      format: 'YYYY-MM',
      disableKeypress: true,
      monthFormatter: (date: Moment)=>{
        switch(date.month()) {
            case 0:
                return '一月';  //it is January
            case 1:
                return '二月'; // it is February
           }
      },
      max: '2017-08-01'
    };`  this is my config! I want show the month language of chinese

[2017-06-26 01:17] ZzzzzZXxxxxX commented on #108
can i set the monthFormatter like set the weekdayNames use Obj?

[2017-06-26 05:29] vlio20 commented on #108
If you want to use `Moment` types you will have to add moment as a dependency. You also can remove `Moment` from `monthFormatter: (date: Moment)`.

[2017-06-26 05:29] #108 closed

[2017-06-27 16:03] whoang11 opened #112 "dpDayPicker on FormControl (reactive form) initially set as dirty or (pristine = false)"
The dpDayPicker on FormControl was initially set to dirty or (pristine = false). As a workaround,  I had to set this control's pristine to true after creating the form group.  Attached is the picture file that has the view and code for this issue:
![dpdaypickerissue](https://user-images.githubusercontent.com/7757548/27597042-da8df51e-5b26-11e7-8604-b848226b88d3.PNG)

As  seen on the picture, I als

[2017-06-27 18:35] vlio20 commented on #112
@whoang11, thanks. will check it out.

[2017-06-28 04:42] chendzng opened #113 "has no exported member 'ValidationErrors'"
![image](https://user-images.githubusercontent.com/22837417/27620863-d4493580-5bf6-11e7-81dc-ea1f00e30d96.png)

[2017-06-28 04:42] chendzng commented on #113
may i know what caused this ?

[2017-06-29 09:13] vlio20 commented on #113
mmm.. don't know....
Can you please upload a demo repo?

[2017-06-29 16:23] vlio20 commented on #102
sorry for the late response. yes! you can use the one that being used within the date picker now. on master branch

[2017-06-30 07:57] vlio20 commented on #5
thanks @isaacplmann, it was a great contribution.
It will be released in v2 of the component.

[2017-06-30 07:57] #5 closed

[2017-06-30 07:57] vlio20 commented on #93
closing for now...

[2017-06-30 07:57] #93 closed

[2017-06-30 08:00] vlio20 commented on #68
This seems to be a very hard feature witch will cause headache in extending this library.
I will drop the development of this feature as I can't think of an easy/scalable/maintainable way to implement it.

[2017-06-30 08:00] #68 closed

[2017-06-30 08:15] #103 closed

[2017-06-30 09:21] chendzng commented on #113
![image](https://user-images.githubusercontent.com/22837417/27729315-a49c5726-5daf-11e7-81ac-bdb5afce7085.png)
this is from your `day-calendar.component.d.ts`

and i was hoping to have a Active Dates , right now can bind to an `NgModel ` which cause the date selected , or can i achieve something like active dates ? sorry OOT

[2017-06-30 18:55] vlio20 commented on #107
sorry I couldn't reproduce it on master.
I created a butting which sets the date programmatically.
Will close it for now, please reopen if it happens for you with demo repo. Thanks!

[2017-06-30 18:55] #107 closed

[2017-06-30 18:57] vlio20 commented on #112
@whoang11, can post here your code - not as a screenshot?

[2017-06-30 18:58] vlio20 commented on #113
I will have to get a demo in order to reproduce your issue, could you supply one?

[2017-06-30 19:07] chendzng commented on #113
a new repo just with this package will do ? @vlio20

[2017-06-30 19:13] vlio20 commented on #113
sure, with some very basic usage of the component with your configuration.
By the way I just released new version 2.0.0 - please see if it happens there as well.

[2017-06-30 19:14] vlio20 commented on #64
Rearrange nav buttons to support apply and cancel

[2017-06-30 19:16] vlio20 commented on #102
@C-F-4, did you made any progress? I would like starting implement it myself if you didn't start yet.

[2017-06-30 19:16] vlio20 opened #116 "Make Demo page more appealing"

[2017-07-01 01:17] whoang11 commented on #112
Here are my view and code:

 <div class="form-group" [ngClass]="{'has-error': displayMessage.appointmentDate }">
      <label>Appointment Date*</label>
      <i tooltip="{{maxDate}}" placement="right" class="blueColorInfo fa fa-info-circle"></i>
      <em class="validationMs" *ngIf="displayMessage.appointmentDate"> {{ displayMessage.appointmentDate }} </em>
      <em class="validationMs" *ngIf="mo

[2017-07-01 01:19] whoang11 commented on #112
Here is the view that was not displayed correctly above:

 <div class="form-group" [ngClass]="{'has-error': displayMessage.appointmentDate }">
      <label>Appointment Date*</label>
      <i tooltip="{{maxDate}}" placement="right" class="blueColorInfo fa fa-info-circle"></i>
      <em class="validationMs" *ngIf="displayMessage.appointmentDate"> {{ displayMessage.appointmentDate }} </em>
      <em

[2017-07-01 10:19] #116 closed

[2017-07-01 12:06] vlio20 commented on #112
Found the issue, will soon push a fix.
@whoang11 thanks for pointing out!

[2017-07-01 13:26] #112 closed

[2017-07-01 19:23] vlio20 opened #119 "Add disabled states for inline modes"

[2017-07-06 15:10] naharyd opened #120 "Latest Commits are not publish in NPM, can you please publish them?"
Latest Commits are not publish in NPM (for example, commit: bba6b070f74ceda9bb1b429af3506ef19d453302),

Can you please publish them?

[2017-07-06 18:10] vlio20 commented on #120
@naharyd, please checkout 2.1.1

[2017-07-07 01:42] whoang11 commented on #112
I upgraded to the version 2.1.1. This version has  fixed the issue of  setting the dpDayPicker to dirty initially. However, this version has a new problem of not setting the dpDayPicker to dirty when I used the mouse to select a different date.

If I typed in the date, the dpDayPicker was correctly  set to dirty.

For this new problem, I went back to version 1.4.3 and continued using this work aro

[2017-07-07 01:52] whoang11 opened #121 "Not Setting dpDayPicker to Dirty when using the mouse to Select another Date"
I upgraded to the version 2.1.1. This version has fixed the issue of setting the dpDayPicker to dirty initially. However, this version has a new problem of not setting the dpDayPicker to dirty when I used the mouse to select another date.

If I typed in another date, the dpDayPicker was correctly set to dirty.

For this new problem, I went back to version 1.4.3 and continued using this work around

[2017-07-08 11:20] aditya-padhi-kbl opened #122 "Help needed SystemJS integration"
Hi,
Please share the steps to integrate with (Angular4-SystemJS)

[2017-07-08 16:05] vlio20 commented on #122
does this helps you:
https://github.com/vlio20/angular-datepicker/issues/84

[2017-07-09 07:40] naharyd commented on #120
Thank you!
You are doing great job!

[2017-07-09 07:40] #120 closed

[2017-07-09 11:11] vlio20 commented on #120
your ⭐️  would be much appreciated

[2017-07-10 04:03] naharyd commented on #120
You have my  :star: :smiley:

[2017-07-10 05:29] aditya-padhi-kbl commented on #122
@vlio20
Thank-you.  I will implement the same & share my findings.  Thank-you once again :)

[2017-07-10 05:48] vlio20 commented on #122
Great! will close for now

[2017-07-10 05:48] #122 closed

[2017-07-10 06:01] aditya-padhi-kbl opened #123 "Need information on callback function like onSelect for angular-datepicker"
Hi,
May be I am missing something.  But is there any callback function when the user selects a date.
Like onSelect="callbackFunction($event)" something like that.

[2017-07-10 06:03] vlio20 commented on #123
please checkout https://github.com/vlio20/angular-datepicker/issues/77, let me know if it helps.

[2017-07-10 12:27] aditya-padhi-kbl opened #124 "Demo url not working in IE 11"
Hi @vlio20 ,
The demo url shared i.e. "https://vlio20.github.io/angular-datepicker/" works in Chrome but doesn't load in IE11.  Just wanted to know if this component is supported in IE11?

[2017-07-10 14:07] vlio20 commented on #124
Not, sure. I am on  a mac. Can you please share a screenshot?

[2017-07-10 16:01] aditya-padhi-kbl commented on #124
<img width="525" alt="ieissues" src="https://user-images.githubusercontent.com/28565587/28027559-19b7a894-65b7-11e7-8aba-0c0556ff02ae.PNG">

[2017-07-10 16:20] vlio20 commented on #124
Is it possible of you to fork the repo and see if it works in dev mode? It is hard to understand what's going on here.

[2017-07-11 02:16] aditya-padhi-kbl commented on #124
Hi,
I forked the repo downloaded the node_modules.
Started the application by **npm start**
In the vendor.bundle.js
`function combine(options) {
    return ((Object)).assign.apply(((Object)), [{}].concat(options));
}`

runs fine in Chrome. but fails in IE.
By looking at the browser call stack it is difficult to identify if it is the issue with vendor (library) or the component.  Can you share the

[2017-07-11 06:37] vlio20 commented on #124
`npm start` is using the `ng serve` command so it shouldn't serve the minified files.
Are you sure you are using 4200 port and the you are on the webpack dev server (angular cli dev mode)?

[2017-07-11 11:03] aditya-padhi-kbl commented on #124
Hi, yes I am using port 4200.  I separated the component, used it in a sample application & it is working in IE11.  It seems the demo page is not working in IE 11.  Could be an issue with the bundling process.

[2017-07-11 11:05] vlio20 commented on #124
Awesome news! I will investigate the issue with the demo page. Closing this issue for now!

[2017-07-11 11:05] #124 closed

[2017-07-12 03:10] aditya-padhi-kbl commented on #123
@vlio20
This issue is resolved.  I am closing it.

[2017-07-12 03:10] #123 closed

[2017-07-12 03:14] aditya-padhi-kbl opened #125 "To know the actual date selected by the user"
Hi @vlio20 ,

Suppose the date format is 'DD-MM-YY'.  User selects '20-01-2017'.  The output we get is '20-01-17'.
If I want to change this output again to Date object then it is not possible.  So is there any parameter to know what the actual selection is (actual selection is 20-01-2017), even though the displayed value is '20-01-17'.  A complete date object of the selection will be great conside

[2017-07-12 04:09] aditya-padhi-kbl opened #126 "date not getting displayed when passed as a string (ISO)"
I am passing '2017-07-09T00:00:00Z' to ng-model
In html
`<dp-date-picker [(ngModel)]="selectedDate" class="form-control" [config]="config" [theme]="theme" #datePicker (ngModelChange)="onDateChange()"></dp-date-picker>`

So selectedDate is '2017-07-09T00:00:00Z'.

the config is an object as per the documentation.
it has one paramenter  {format: 'DD-MM-YYYY'}

However the date is not displayed.  Wha

[2017-07-12 06:18] vlio20 commented on #125
mmmm... I think that you shouldn't allow the user to put a date in a different format.
If you will check the form validation I think you will see that the form is invalid (if the format is 'DD-MM-YY' and the input is '20-01-2017'.

Let me know if this is correct.

[2017-07-12 06:19] vlio20 commented on #126
You are passing a date in which is not aligned with the provided format :
 '2017-07-09T00:00:00Z' !=  'DD-MM-YYYY'

[2017-07-12 07:06] aditya-padhi-kbl commented on #125
Hi,
Yes before passing to dp-date-picker I am formatting my date as per the config.  That is working fine.

However while sending the selected date back to api, I have to format it back to some specific format as expected by backend service.  If I could get the selected date (date selected through date picker), then I would be able to format it using moment before sending it to the api.  So, it wi

[2017-07-12 07:07] aditya-padhi-kbl commented on #126
Hi, This is resolved.  Thanks.

[2017-07-12 07:07] #126 closed

[2017-07-12 07:14] vlio20 commented on #125
I think I understand your needs, but I also think that you shouldn't allow the user pass a date in a format you are not supporting - i.e. passing a date not in the 'DD-MM-YY' format.

[2017-07-12 07:15] vlio20 commented on #121
I will check this one as soon as I will have time. I think I know already the reason. Thanks!

[2017-07-12 07:20] aditya-padhi-kbl commented on #125
Hi,
Yes I am not allowing the user to pass in a different format.  After selecting the date I am sending that specific date to a REST api.  It expects to be in UTC format.  However,  the format I have set 'DD-MM-YY' is not as per UTC.  So I have written a separate service which will re-format it back to UTC.  So from the datepicker if the user select, day as 20, month as 02, year as 2017.  The ng-

[2017-07-12 07:36] vlio20 commented on #125
You mean that you want to get the Moment object of the selected date?

[2017-07-12 07:42] aditya-padhi-kbl commented on #125
Yes. either moment object (but not the formatted date) or the date object (javascript  new Date () ) type then i can get to know the century and other properties.  Anyways ngModel will always have the formatted date.

I hope I am clear

[2017-07-12 07:45] vlio20 commented on #125
Sorry but if you know the format and you have the value (which is have to be in the required format) then you can create the Moment/Date object yourself:
[code]

What am I missing?

[2017-07-12 08:32] aditya-padhi-kbl commented on #125
Closing this issue as the solution stated above should work.

[2017-07-12 08:32] #125 closed

[2017-07-12 08:33] aditya-padhi-kbl opened #127 "setting ngModel to '' or null doesn't clear the value"
Suppose if I want to clear the selection I am doing this.selectedDate = '';
Still the selected the date is visible in the selection of date picker.

I have to manually set it by this.datePickerComponent._selected = [];  // this clears the datepicker.

this.datePickerComponent.inputElementValue = '';  //this clears the ng-model

[2017-07-12 08:48] Leyli698 commented on #113
I faced the same problem. Could you solve it?

[2017-07-12 09:42] vlio20 commented on #127
can you please post your template as well?

[2017-07-12 09:44] vlio20 commented on #113
@Leyli698,  Can you please post a demo repo?

[2017-07-12 10:00] aditya-padhi-kbl commented on #127
`  <div class="sp3-datepicker-com">
     <div class="input-group">
        <dp-date-picker [(ngModel)]="selectedDate" class="form-control" [config]="config" [theme]="theme" #datePicker (ngModelChange)="onDateChange()" [disabled]="enablecontrols"></dp-date-picker>
        <span class="input-group-addon" (click)="openCalendar()" id="openCalendarPopup"><i class="fa fa-calendar" aria-hidden="true"></i

[2017-07-12 11:13] vlio20 commented on #127
Thanks, I will take a look. It would be much faster if you will post an example on github or plunker (even better)

[2017-07-13 13:00] jamalx31 opened #128 "Error when use with formControlName"
When using the component with [formControlName]="prop.id" inside a form I get the error
`v.format is not a function`

version: 2.1.1

angular/cli: 1.2.0
node: 7.7.3
os: darwin x64
angular/animations: 4.2.6
angular/cdk: 2.0.0-beta.8
angular/cli: 1.2.0
angular/common: 4.2.6
angular/compiler: 4.2.6
angular/compiler-cli: 4.2.6
angular/core: 4.2.6
angular/flex-layout: 2.0.0-beta.7
angular/forms: 4.2.6

[2017-07-13 13:02] vlio20 commented on #128
Can you please post a demo repo?

[2017-07-13 14:38] jamalx31 commented on #128
@vlio20 https://github.com/jamalx31/angular-datepicker
`npm start`

I just figured out that adding the 'disabled' property to the control is what cause the issue
`new FormControl({ disabled: false })`

[2017-07-13 18:03] vlio20 commented on #128
I am not sure what exactly `new FormControl({ disabled: false })` is for, can you please elaborate?

[2017-07-14 11:53] jamalx31 commented on #128
@vlio20 when you put an element inside a form you can use name="blabal" or if you wanna define a customized control you use  [formControlName]="blabla"

[code]

In my case define to control with `new FormControl({ disabled: false })`

[2017-07-14 14:26] zjcboy opened #129 "How to set locale"
This is better datepicker plugin,
but i need set locale,please tell me how to set it,
thanks!

[2017-07-14 18:38] vlio20 commented on #128
I will take a look ASAP. Thanks!

[2017-07-14 18:42] vlio20 commented on #129
What exactly you need to be localised? The plugin is based on[ Momen.js](https://momentjs.com/) it has a great support for localisation, you can find more information: http://momentjs.com/docs/#/i18n/.

Basically you just need to change the locale as seen in the link above. Another option is to use the formatters provided within this component.

[2017-07-14 21:54] vlio20 commented on #128
@jamalx31, why are you passing `{ disabled: false }`? If you want to disable the input filed just add an attribute for that:
[code]

[2017-07-14 22:09] vlio20 commented on #128
I found the issue, with reactive forms you can pass the disabled option within the `FormGroup` the problem is (I think) that it is not valid for this component to be used this way. If you want to use the disabled option you will have to use it with plain template:
[code]

Not sure how to make the disabled to be working with passing it through the `FormGroup` disabled property. Any suggestions will

[2017-07-14 22:10] vlio20 commented on #128
Maybe this one will help:
https://stackoverflow.com/a/40697821/1691423

[2017-07-14 22:17] vlio20 commented on #128
@jamalx31, I found the way to handle the reactive way approach of disabling the component - will be added in my next release. There is another issue (which also will be fixed soon) you will have to provide a null value:
[code]

[2017-07-15 04:44] zjcboy commented on #129
Hello, I need to change language,
But i modify the file, It doesn't seem to work
‘/node_modules/_ng2-date-picker@2.1.1@ng2-date-picker/node_modules/moment/moment.js’

[2017-07-15 05:57] vlio20 commented on #129
@zjcboy, you don't need to change any file, just do:
[code]

Do it in you app.module file.

[2017-07-15 06:10] zjcboy commented on #129
Thanks, I'm try it, It looks all right.
Last, i suggest add this to plugin option config.

[2017-07-15 07:19] vlio20 commented on #129
You are probably right. Will do!

[2017-07-15 07:19] #129 closed

[2017-07-17 11:44] jamalx31 commented on #128
@vlio20 thanks that works
just to note that when [(ngModel]) is used an initial value should be passed to FormControl
doesn't matter what could be just an empty string
`new FormControl({disabled: false, value: ''})`

[2017-07-19 10:13] cen1 opened #131 "weekdayNames equivalent for months?"
Not sure if I missed it but how to localize month names?

[2017-07-19 10:23] vlio20 commented on #131
currently you can do it with the monthFormatter. soon you will have a configuration for the locale. I plan to push this change today (or tomorrow).

[2017-07-19 10:23] #131 closed

[2017-07-19 10:49] vlio20 opened #133 "Fix demo page in IE"

[2017-07-19 16:25] GuillaumeNury opened #134 "Conflict with Chrome native datepicker when using directive"
When using dpDayPicker directive like that :
[code]

[code]

It works like a charm in Firefox :
![image](https://user-images.githubusercontent.com/12662533/28377726-10f6b256-6cae-11e7-9261-a69959a9d91f.png)

but in Chrome, the native implementation of input[type=month] conflicts with your datepicker :
![image](https://user-images.githubusercontent.com/12662533/28377849-6eac61ca-6cae-11e7-8019-30a2

[2017-07-19 17:04] vlio20 commented on #134
Ahhhh! I will change the 'type' to 'mode' this will solve your... And it won't conflict with the reserved type word.

[2017-07-19 18:16] GuillaumeNury commented on #134
It would be awesome ! 😄

[2017-07-19 18:19] vlio20 commented on #134
I will try to push it be the end of the weekend (hopefully earlier).

[2017-07-19 18:34] #133 closed

[2017-07-19 19:33] vlio20 commented on #113
closing for now. will reopen if more info will be provided.

[2017-07-19 19:33] #113 closed

[2017-07-19 19:34] vlio20 commented on #64
won't do for now... closing

[2017-07-19 19:34] #64 closed

[2017-07-19 19:34] vlio20 commented on #102
will close this for now

[2017-07-19 19:58] vlio20 commented on #134
resolved in 		c84e8a6

[2017-07-19 19:58] #134 closed

[2017-07-19 20:24] vlio20 commented on #121
@whoang11, Angular question: what should be the form state be if you initialise the form with date (on startup) should it be dirty?

[2017-07-20 09:35] permarco opened #138 "Can't bind to 'mode' since it isn't a known property of 'dp-date-picker'."
somehow the attrbute mode does not work instead i used attribut with name key to set the dp-date-picker to mothmode.

However in the documentation it says to switch the attribute mode...

[2017-07-20 10:54] vlio20 commented on #138
What you see in the documentation is the newer version of the component doc - which is not released yet.

Please use `type` instead of `mode`.

Let me know if it fixes your issue.

[2017-07-20 11:21] permarco commented on #138
yes type works for me thank you

[2017-07-20 12:14] whoang11 commented on #121
The form state should be dirty after initializing a default date on start up. If you do not set a default date during start up, the form state should be pristine or not dirty. 
Looks like you have fixed this issue. I will use your latest version of the dpDayPicker and let you know the result.
Thanks,

    On Thursday, July 20, 2017 1:20 AM, Vlad Ioffe <notifications@github.com> wrote:

 Closed #12

[2017-07-20 12:33] vlio20 commented on #121
Thanks!

[2017-07-20 13:07] whoang11 commented on #121
I used NPM to get your latest version, 2.1.1. Initially, the dpDayPicker column was blank. If I used the mouse to select a new date, this column was not changed to dirty. If I typed in the new date, this column was correctly set to dirty. The dpDaypicker column should have been changed to dirty whether I used the mouse or keyboards to change the date.
Therefore, I will go back to the old version a

[2017-07-20 13:36] vlio20 commented on #121
@whoang11, the fixed is not released yet, it's only on master. Are you using master?

[2017-07-24 08:28] GuillaumeNury commented on #134
I tried version 2.2.0, and I worked like a charm. Thank you !

[2017-07-24 19:49] dankrajnak opened #139 "IDatePickerDirectiveConfig should extend ITimeSelectConfig"
The IDatePickerDirectiveConfig extends IDayCalendarConfig, and IMonthCalendarConfig, but not ITimeSelectConfig.

[2017-07-25 06:44] vlio20 commented on #139
oops! will be fixed in next version. Thanks.

[2017-07-25 06:44] vlio20 commented on #121
fixed in 2.2.0. @whoang11 can you verify?

[2017-07-25 06:45] #138 closed

[2017-07-25 09:07] cen1 commented on #127
I can confirm this bug. Setting the variable bound by `[(ngModel)]` to null does not reset the date to empty. Right now it seems there is no way to programatically clear the date. I'd make a plunkr if there is an existing one to modify, altho it is very easy to test this.

[2017-07-25 09:10] vlio20 commented on #127
Thanks for the steps to reproduce. I will check it ASAP.  A plunker or demo repo would be great.

[2017-07-25 09:14] cen1 opened #140 "IDatePickerConfig no longer contains weekdayNames"
This broke in 2.2.0 and I don't see any changes about this in the readme.

[2017-07-25 09:21] vlio20 commented on #140
You should use locale configuration. Let me know know

[2017-07-25 09:26] cen1 commented on #140
Locale seems to work great. Readme should be updated though.

[2017-07-25 09:26] #140 closed

[2017-07-25 09:27] vlio20 commented on #140
Locale is there...

[2017-07-25 09:29] cen1 commented on #140
Yes, but shouldn't weekdayNames be removed?

[2017-07-25 09:31] vlio20 commented on #140
Ohhh I missed that. Want to PR?

[2017-07-25 09:36] cen1 commented on #140
Sure , will do later today.

[2017-07-25 09:46] aditya-padhi-kbl commented on #127
@cen1
In case you wish to clear the selection:-
this.selectedDate = null;  //ngModel
this.datePickerComponent._selected = [];  //reference
this.datePickerComponent.inputElementValue = ''; //DOMValue

[2017-07-25 15:06] whoang11 commented on #121
Unfortunately, Version 2.2.0 has NOT  fixed this same issue:

 Initially, the dpDayPicker column was blank. If I used the mouse to select a new date, this column was not changed to dirty. If I typed in the new date, this column was correctly set to dirty. The dpDaypicker column should have been changed to dirty whether I used the mouse or keyboards to change the date.

I am using Angular 4.3.0, An

[2017-07-25 15:08] vlio20 commented on #121
Can you please break it to steps? I probably missing something

[2017-07-25 15:09] cyberbobjr opened #142 "element.addEventListener is not a function"
Hi,
You have a bug for the catching event of keypress in date-picker.component.js, you must replace this line (259) :

[code]
with this (remove the quotes around document)

[code]

Tested and worked with Angular 2.4 (yep :/))

[2017-07-25 15:12] whoang11 commented on #121
Could you elaborate the meaning of breaking it to steps?

[2017-07-25 15:13] vlio20 commented on #121
1. Go to...
2. Press..
....

[2017-07-25 15:20] vlio20 commented on #142
Want to PR?

[2017-07-25 15:30] whoang11 commented on #121
Using the mouse to select a date.
1. I opened the screen that has the dpDayPicker column with no date on it.
2. I used the mouse to select a date on the dpDayPicker column and exit this screen by navigating to another screen.
3. Since the dpDayPicker was not changed to dirty, I did not get confirmation screen asking me to exit the screen.

Use the keyboard to type in a date
1. I opened the screen

[2017-07-25 18:48] vlio20 commented on #139
@dankrajnak, would you like to submit a PR?

[2017-07-26 09:07] boly38 opened #143 "Set date time field to empty cause error"
Hi,
first of all, thanks for this component! which is working well under chrome, IE and Firefox :)

I'm trying to integrate it into my project.
while testing, I'm seeing that, do you know how to fix it ?

This is so basic use case:
- set the form field to empty
- following this action, error is reported on the developer console (here: GGChrome 59.0.3071.115 (Build officiel) (64 bits) )

Maybe I mi

[2017-07-26 09:21] vlio20 commented on #143
seems like you are not missing anything. checking...

[2017-07-26 09:31] vlio20 commented on #143
@boly38 , `creationFormData` is it declared in your controller?
It would be easier to have a demo repo.

[2017-07-26 09:40] vlio20 commented on #143
@boly38 Please note that the following works perfectly for me:
template:
[code]

controller:
`demoDate: Moment;`

The thing that I found is that in the date time mode there is always a selected date - which caused because of the time picker. I will think of how to fix it, though I think it is not related to your issue

[2017-07-26 09:55] boly38 commented on #143
`demoDate: Moment;`

You've just fixing it!! my model type was set to "any".
What a quick fix! thanks so much :)

NB/ I just add your theme too, loving it!

[2017-07-26 09:55] #143 closed

[2017-07-26 09:56] vlio20 commented on #143
@boly38 , please ⭐️  it if you like it :)

[2017-07-26 10:47] MatthieuBarthel commented on #102
Hello vlio20,

Did you start working on it ? If no, I am interested in this feature, I could try to work on it.

Thank you for your great work !

[2017-07-26 10:49] vlio20 commented on #102
No, didn't start yet. It would be great if you could contribute.
Let's discuss first how will it work, look and what configurations could it have.

What do you have in mind?

[2017-07-26 11:32] #139 closed

[2017-07-26 11:35] MatthieuBarthel commented on #102
Thanks for your answer, my need is to be able to select a date like fifty years ago without having to click fifty times on the arrow.

The idea developed above is nice, but I think select control is not very easy to customize by CSS. I have two others proposals :

1. Simpler solution: adding buttons to go 10 years further/back
![ui-1](https://user-images.githubusercontent.com/435534/28618952-9ec73

[2017-07-26 11:54] vlio20 commented on #102
I have to say that I like the first option (and I think it would be easier to implement) is **very nice**!!!
Few points before you start:
1. The step should be configurable (it can be 10, 20 [years] --- etc)
2. The whole feature should be configurable in terms of enabled/disabled
3. The fast forward year buttons should behave as the simple buttons in terms of min/max dates.
4. Please don't forget

[2017-07-26 12:27] vlio20 commented on #121
@whoang11, can you please post a demo repo, I couldn't reproduce this issue. I added `{{form.form.dirty}} ` next to the form in the demo and it seems like the form is updated correctly both after mouse click or keyboard change.

[2017-07-26 12:31] #142 closed

[2017-07-26 12:40] boly38 opened #145 "How to avoid seconds in date time field ?"
Hi
 Inline datepicker works well to select date + time.
Once a selection is made on the popin, , I got the following result in the text field: "22-07-2017 14:35:52"
this result includes seconds.

 I would like to **avoid displaying seconds in the result text field**.
 seems the following config has no effect:

[code]

Another way I tried the wollowing syntax (with datex directive):
[code]

but thi

[2017-07-26 12:42] MatthieuBarthel commented on #102
Ok great, I will work on option 1 soon and I come back to you.

Thank you :-)

[2017-07-26 12:49] vlio20 commented on #145
`showSeconds: false` is only for the display. You could pass a format `'DD-MM-YYYY HH:mm'` then you shouldn't get it.

[2017-07-26 12:49] vlio20 commented on #102
awesome!!! reopening!

[2017-07-26 12:51] boly38 commented on #145
ho dumb, I just missed that option!
thanks

[2017-07-26 12:51] #145 closed

[2017-07-26 19:18] #127 closed

[2017-07-27 07:55] boly38 opened #147 "IE10 issue (on demo too): datepicker is not hidden"
Hi
On my project I need IE10 compatibility,

when I'm testing datepicker with mode = IE10,  I got some issue :/

I don't need to provide sample as I was able to reproduce with Demo.

Step to reproduce:
- open IE and go to  https://vlio20.github.io/angular-datepicker/
- press "F12" and select mode= "10" at the top-right of the developper's panel,

Issues:
- some calendars popins are already shown (

[2017-07-27 08:31] boly38 commented on #147
I just found a fix !
Source: https://github.com/angular/angular/issues/5774 : cf (e-oz commented on 13 Apr 2016)

I've added the following style to my main css file:
[code]

I made a search onto "node_modules\ng2-date-picker" for "hidden":
* I replaced ` [hidden]=`  by  `[attr.data-hidden]=`

I made a search onto "node_modules\ng2-date-picker" for "visibility" strings:
* I replaced  `visibility: h

[2017-07-27 09:10] boly38 commented on #147
Limit out of scope minor remarks:
* while using patched version of "ng2-date-picker" I noticed that some `.map` includes a potential wrong value for "sources". Example: "sources":["../../prebuild/app/calendar-nav/calendar-nav.component.ts"]

[code]

to avoid warning, I replace "sources" with "calendar-nav.component.d.ts"(in my example)

[2017-07-27 09:58] vlio20 commented on #147
thanks @boly38, I will take a look.

[2017-07-27 20:46] whoang11 commented on #121
I will create a demo project that has the DpDayPicker field and post it on GitHub this weekend.

[2017-07-27 20:50] vlio20 commented on #121
That would be awesome!!

[2017-07-28 09:10] MohamedAmineOuali opened #149 "set locale to the datepicker"
Hello,

I want to set the locale for the datepicker but it didn't work.

In my componenet I have declared a config:
config:{locale:"fr"};

and in my html I have:
<dp-date-picker mode="month" theme="dp-material" required="true" [(ngModel)]="selectedDate" [config]="config" ></dp-date-picker>

But the locale didn't change. what is the problem?

[2017-07-28 09:24] vlio20 commented on #149
Seems OK. Can you post a demo repo?
Do you have any errors in you console?

[2017-07-28 23:11] MohamedAmineOuali commented on #149
Hi,
No there is no errors in the console.
How can I post a demo repo?

[2017-07-28 23:28] MohamedAmineOuali commented on #149
this is same Preview from debug session.
![image](https://user-images.githubusercontent.com/20454717/28739618-3eaf6894-73f4-11e7-82ac-8bc4ab92fde5.png)

![image](https://user-images.githubusercontent.com/20454717/28739674-a5b474f8-73f4-11e7-9237-a3ba881dcd3a.png)

As you can see in the second one the locale in config is always set to fr but the datepicker is in English

[2017-07-29 08:24] vlio20 commented on #149
Just create a simple project with your config and push it to github

[2017-07-29 17:45] MohamedAmineOuali commented on #149
This is my project repo  https://github.com/MohamedAmineOuali/test
I am using http-server .   to start the server.

[2017-07-29 18:07] vlio20 commented on #149
from which folder should I run it? any build steps?

[2017-07-29 18:19] MohamedAmineOuali commented on #149
from the root directory "test"

Go to root directory of the project then run this command "http-server ."
the server should start on 127.0.0.1:8080   go to this url then press test.html and you will see the date picker in the page

you will find my component in.
test/my-webapp/Scripts/App/components/note-de-frais.component.ts
and my html template in
test/templates/note-de-frais-template.html

[2017-07-29 18:23] vlio20 commented on #149
@MohamedAmineOuali, I will need the source code. I will want to change the code in order to debug it. Please post the precompiled code and instruction on how to compile it.

[2017-07-29 18:30] MohamedAmineOuali commented on #149
I don't know what you mean by precompiled code I am using note-de-frais.componet.ts is the typescript where I make my changes I am using intellj to compile the typescript But if you want I can find you something that will compile the ts for you after making your changes.
Is that what you want?
I can also post my hole project without simplification but it is a javaEE project and it will be necessar

[2017-07-29 18:31] MohamedAmineOuali commented on #149
I am using google chrome in order to debugging the typescript

[2017-07-29 18:33] vlio20 commented on #149
Ok, so you compiling with intellij. That what I was looking for. thanks. Will take a look.

[2017-07-29 18:36] MohamedAmineOuali commented on #149
Thank you very much, I am really appreciated your effort

[2017-07-29 19:25] vlio20 commented on #149
@MohamedAmineOuali, I am trying to debug your code. But it seems like my hangings aren't effecting the code execution.

Please try to see if it works with the demo you posted. Note - I am also using Intellij and compiling ts through it - but my changes are ignored.

[2017-07-29 19:53] MohamedAmineOuali commented on #149
I think there is a problem with cache when using http-server

first of all try to verify the config of the typescript in intellj it should be like this
![image](https://user-images.githubusercontent.com/20454717/28747794-86e14672-749f-11e7-8f79-3e4ed5f032fb.png)

run your server using this command "http-server -c-1 ." it will prevent cache

try to open the test.html in incognito window.

I did thi

[2017-07-29 19:58] vlio20 commented on #149
The files are compiled correctly as I see the changes in the js file. I also see that chrome status code for the required files is 200 (if it was 304 it means it brought from cache). I always see the old files.

[2017-07-29 20:00] vlio20 commented on #149
please try to do the following:
add this line in your app.module.ts:
`import 'moment/locale/fr';`
Don't forget to also add it to your system.config.js file.

[2017-07-29 20:16] vlio20 commented on #149
I am not an expert in SystemJS. But you have to somehow load the `fr` locale.

[2017-07-29 20:25] vlio20 commented on #149
I were able to make it work when I loaded:
`            'moment': 'npm:moment/min/moment-with-locales.js'`

in System.config.js

The better solution is to pull the required locale from node_module/locale/fr.js.

Though I am not sure how to do it with SystemJS.

Hope that helps.

[2017-07-29 20:28] MohamedAmineOuali commented on #149
Thank you very much it work.

[2017-07-29 20:30] MohamedAmineOuali commented on #149
And also thank you for this information

 I didn't know that

[2017-07-29 20:43] vlio20 commented on #149
Was happy to help. Please ⭐️ it if you like it.

Also, if you did as I suggested with the specific locale - please post your solution here for other users.

[2017-07-29 20:43] #149 closed

[2017-07-30 23:12] whoang11 commented on #121
Here is the link for project that you can check out the issue with pristine status on DpDayPicker column using Reactive form:
https://github.com/whoang11/DatePickerDemo

Below is my test of this datepicker column:
![dpdaypickertestpristine](https://user-images.githubusercontent.com/7757548/28757897-77e979b0-7552-11e7-9f81-e20424102232.PNG)

Thanks,

[2017-07-31 05:56] vlio20 commented on #121
Awesome will take a look ASAP!

[2017-07-31 09:28] Avishaidev opened #150 "init with value in ngModel not update the picker"
When the ngModel variable has value the picker is not init with this date, its init always with the current date

[2017-07-31 09:30] Avishaidev opened #151 "Select the same date error"
When i select first time the date its ok and then if i select again the same date i got error:
Runtime Error
Cannot read property 'format' of undefined

TypeError: Cannot read property 'format' of undefined
    at UtilsService.convertFromMomentArray (http://localhost:8100/build/vendor.js:223297:32)
    at DatePickerComponent.processOnChangeCallback (http://localhost:8100/build/vendor.js:223878:34)

[2017-07-31 09:58] vlio20 commented on #150
@Avishaidev, please provide a demo repo.

[2017-07-31 09:59] vlio20 commented on #151
What directive/component are you using day/month/daytime/time?

[2017-07-31 09:59] Avishaidev commented on #150
I have no demo just put some value in ngModel variable

[2017-07-31 10:01] vlio20 commented on #150
will take a look

[2017-07-31 10:02] Avishaidev commented on #151
dp-date-picker

[2017-07-31 10:04] Avishaidev commented on #151
in your [demo](https://vlio20.github.io/angular-datepicker/) when you select the same date the onSelectEvent not fires but in my directive its fires this is the problem

[2017-07-31 10:11] vlio20 commented on #151
What mode?

[2017-07-31 10:13] Avishaidev commented on #151
day

[2017-07-31 10:17] vlio20 commented on #151
You are selecting by click, right?

[2017-07-31 10:18] Avishaidev commented on #151
yes

[2017-07-31 11:06] Avishaidev opened #152 "maxDate - Validation not working"
Its any option to disable selecting date that are out of range?

[2017-07-31 12:07] Avishaidev commented on #150
@vlio20 any solution??

[2017-07-31 12:21] vlio20 commented on #150
I will take a look when will have the time. Hope it will be in the next couple of days.

[2017-07-31 13:27] Avishaidev opened #153 "dp-date-picker mode daytime not showing time option"
html:
`<dp-date-picker theme="dp-material" [(ngModel)]="startDate" [config]="dateConfig"></dp-date-picker>`

Config:
`dateConfig:any = {
    locale: 'he',
    disableKeypress: true,
    format: 'DD/MM/YYYY',
    opens: 'left',
    mode: 'dayTime',
    showTwentyFourHours: true
  }`

[2017-07-31 13:31] #153 closed

[2017-07-31 17:12] vlio20 commented on #151
Sorry, I can't reproduce this issue.
Please provide a demo - will close for now.

[2017-07-31 17:12] #151 closed

[2017-07-31 17:14] vlio20 commented on #152
Sorry can't reproduce: here is a screen shot:
http://prntscr.com/g2m7j6

Please provide a demo. Will close for now.

[2017-07-31 17:14] #152 closed

[2017-07-31 18:31] vlio20 commented on #121
@whoang11, can you please check if master version fixes the issue for you?

[2017-08-01 00:49] cliffeby opened #155 "Failed to Build after Install"
Using AngularCli and Angular 2.4.10.  Did an install and added import statements to app.module.

ERROR in C:/Users/cliff/WebstormProjects/RochV001/ngApp/node_modules/ng2-date-picker/date-picker/date-picker.component.d.ts (17,45): Module '"C:/Users/cliff/WebstormProjects/RochV001/ngApp/node_modules/@angular/forms/index"' has no exported member 'ValidationErrors'.

ERROR in C:/Users/cliff/WebstormPr

[2017-08-01 06:07] vlio20 commented on #155
Please post a demo repo. You can fork this one and change the demo page accordingly to fit your settings which reproduce the error.

[2017-08-01 15:08] whoang11 commented on #121
I copied my code into the demo.component (.ts, .html, and .less) of your master version.  I used the mouse to select a date, and it correctly changed the  DpDayPicker's pristine to false. Here is the screen shot of the test:
![dpdaypickerok](https://user-images.githubusercontent.com/7757548/28831812-58555b7e-76a0-11e7-85d4-e465256705a2.PNG)

When do you plan to release this latest version to NPM?

[2017-08-01 17:20] vlio20 commented on #121
I hope in the next few days

[2017-08-01 23:29] MOstafaMRady opened #156 "Remove console.log from toggleMeridiem function"
At file "**time-select.component.js:100**"
It is not an issue, but the function has a console.log(this.selected.locale())
This keeps logging to console, removing it will be better

[2017-08-02 04:25] vlio20 commented on #156
Holly crap. Want to PR?

[2017-08-02 07:41] amirensit opened #157 "EXCEPTION: element.addEventListener is not a function"
element.addEventListener is not a function
any idea ??

[2017-08-02 07:46] vlio20 commented on #157
Amir, please give more details.

[2017-08-02 07:47] amirensit commented on #157
`EXCEPTION: element.addEventListener is not a function
ErrorHandler.handleError @ core.umd.js:3064
next @ core.umd.js:8041
schedulerFn @ core.umd.js:3689
SafeSubscriber.__tryOrUnsub @ Subscriber.ts:238
SafeSubscriber.next @ Subscriber.ts:190
Subscriber._next @ Subscriber.ts:135
Subscriber.next @ Subscriber.ts:95
Subject.next @ Subject.ts:61
EventEmitter.emit @ core.umd.js:3675
NgZone.triggerError

[2017-08-02 08:12] vlio20 commented on #157
I mean steps to reproduce

[2017-08-02 09:47] vlio20 commented on #102
@MatthieuBarthel, thank you for the awesome job. This is a very nice feature!!!

[2017-08-02 09:47] #102 closed

[2017-08-02 10:05] MatthieuBarthel commented on #102
Great, many thanks to you @vlio20 for your very nice work.

[2017-08-02 22:41] MOstafaMRady commented on #156
Ok

[2017-08-03 10:22] Meistercoach83 opened #158 "Integrate with bootstrap 4"
Is it possible to give the input field the same class as an form-control in bootstrap 4? The popup calendar should not be "updated", only the input field.

[2017-08-03 10:26] vlio20 commented on #158
you can add it with `theme` attribute. This will add a class to the popup component. You can find more info in the documentation.

[2017-08-03 10:52] Meistercoach83 commented on #158
I found that theme Option already. But I don´t know how to use it on my own. I import the demo.less stylesheet in my parent component but nothing happens.

[2017-08-03 11:51] vlio20 commented on #158
The theme property adds whatever class you want to the popup element. Please post a demo repo - I will try to help.

[2017-08-03 22:28] MOstafaMRady commented on #156
Somehow I'm new to github, I cloned the repo and removed the line but I can't create a PR or a branch

[2017-08-04 03:27] ameyer-pivotal opened #159 "ExpressionChangedAfterItHasBeenCheckedError (directive-based)"
Out of the box, I'm trying to use the following in a newly-generated angular CLI project.

In `app.component.html`:
[code]

With the following `app.component.ts`:

[code]

And I receive the following console error immediately:

I cannot for the life of me figure out what's going on. I've never experienced this with other date pickers, so there must be something going on...

Versions:
[code]

[2017-08-04 03:28] ameyer-pivotal commented on #159
Setting the initial value of `selectedDate` to `''` gets around it, but this is not acceptable, as there will definitely be scenarios where I want to have an initial value.

[2017-08-04 03:31] ameyer-pivotal opened #160 "How to use API with directive-based approach?"
Using something like
[code]

how would one use the `open()`/`close()` APIs? Also, a `toggle()` would be convenient.

[2017-08-04 03:49] ameyer-pivotal opened #161 "Navigation arrows not vertically centered (directive-based)"
Default styling for `dp-material` theme seems to be off a bit, as the navigation arrows are not vertically centered. There is no other styling, as this is out of the box with a newly-generated CLI project.

This is for a directive-based approach:
[code]

Screen shot:

<img width="232" alt="screen shot 2017-08-03 at 10 33 42 pm" src="https://user-images.githubusercontent.com/24568368/28953272-8d529

[2017-08-04 03:51] ameyer-pivotal commented on #159
Update: Doesn't seem to happen when using the non-directive variant:

[code]

[2017-08-04 07:45] #121 closed

[2017-08-04 07:46] vlio20 commented on #159
duplicate of #128

[2017-08-04 07:48] vlio20 commented on #161
will fix in the next version

[2017-08-04 07:51] vlio20 commented on #160
please see in the documentation how to implement the API. You can also check the demo. Regarding the toggle please submit a feature request.

[2017-08-04 07:51] #160 closed

[2017-08-04 07:51] vlio20 commented on #157
I will close this for now

[2017-08-04 07:51] #157 closed

[2017-08-04 07:52] vlio20 commented on #155
will close for now

[2017-08-04 07:52] #155 closed

[2017-08-04 07:54] #156 closed

[2017-08-04 07:59] #161 closed

[2017-08-04 07:59] vlio20 commented on #158
@Meistercoach83, did it help?

[2017-08-04 08:06] vlio20 commented on #128
@jamalx31, I am not sure if this issue is already solved. can you give your input pls?

[2017-08-04 08:17] vlio20 commented on #159
I can't reproduce your issue, please see the following screenshot: http://prntscr.com/g481h3.
It will be helpful if you provide a demo repo.

I will close this issue for now, when more info will be provided I will reopen.

Thanks for the contribution

[2017-08-04 11:22] menehune23 commented on #160
Hang on though. I would not have asked the question without reading your documentation. The problem is that for a directive-based approach, it's not apparent how to get a reference to the day-picker, as the input itself cannot be used (since obviously it has no `.api`).

I really think a second example in your docs for the directive-based approach would be beneficial.

[2017-08-04 11:23] menehune23 commented on #160
Also as for the demo, how can we see the code for the demo? I must have missed a link to it somewhere.

[2017-08-04 11:24] menehune23 commented on #160
(Sorry, I'm on a different account, but it's still me)

[2017-08-04 11:35] vlio20 commented on #160
@menehune23, it is part of this repository, look for the `demo.component.ts` and `demo.component.html`

[2017-08-04 12:49] ameyer-pivotal commented on #159
Ok, here you are:
https://github.com/ameyer-pivotal-external/angular-datepicker-issue-159

Just run `ng serve` after pulling the code and hopefully you'll see it

[2017-08-04 20:50] vlio20 commented on #159
seems to be related to: https://blog.angularindepth.com/everything-you-need-to-know-about-the-expressionchangedafterithasbeencheckederror-error-e3fd9ce7dbb4
still don't know where is the issue because I can reproduce it on the demo. I will keep digging...
I would also ask you tot try to reproduce it on the demo component which is part of this repo.

[2017-08-04 21:01] vlio20 commented on #159
@ameyer-pivotal, can you please test with master to see if solves your issue?

[2017-08-04 22:23] WaterBleu commented on #159
@vlio20 have the same issue on ng 4.3.3.
I believe the problem is that the plugin sets the value (constructor) at the wrong life cycle

[2017-08-05 20:20] vlio20 commented on #159
I was able to reproduce it with 4.3.3 as @WaterBleu mentioned. Thanks. Investigating...

[2017-08-05 21:14] #159 closed

[2017-08-05 21:19] menehune23 commented on #159
Thanks for addressing this! What version will it be on? Is there a way I can pull it through npm?

[2017-08-05 21:22] vlio20 commented on #159
I will make a patch version tomorrow. Currently it's only on master.

[2017-08-07 23:37] carlhussey commented on #77
How can this be done when used as a directive?

I have my input like so : `<input type="text" class="form-control input-sm" formControlName="effectiveStartDate"
                  (change)="updateStartDate(startDateInput.value)" [dpDayPicker]="datesConfig" #startDateInput theme="dp-material">`

If I rename `change` to `ngModelChange` it breaks everything. Is there another method I can use for this?

[2017-08-08 06:50] vlio20 commented on #77
You just need to do it the same as it done the component with `(ngModelChange)="doYourThing()"` or with reactive forms.

[2017-08-08 13:50] RomanLavrinenko opened #163 "ngOnDestroy throws error when in SSR"
Hey, first of all thanks a lot for your work! It's great!

Could you please provide SSR (universal) support?
I faced with next:
`TypeError: Cannot read property 'removeChild' of undefined
    at DatePickerComponent.ngOnDestroy (webpack-internal:///77:272:29)
    at callProviderLifecycles (webpack-internal:///2:11392:18)
    at callElementProvidersLifecycles (webpack-internal:///2:11361:13)
    at

[2017-08-08 16:01] carlhussey commented on #158
I am interested in this from a general styling perspective. I see that the material style is built in to this component but would prefer to change it entirely. Along with @Meistercoach83 question, once changing `theme="custom123"`, how/where would we define the css we want to use to replace the default?

[2017-08-08 17:39] vlio20 commented on #163
I would be more than happy to to add this capability, though I am not sure what is missed. Can you post some demo project for me to starting on?

[2017-08-08 18:57] WaterBleu commented on #159
problem persists with version 2.3.0

[2017-08-08 19:02] vlio20 commented on #159
I didn't release the fix yet. Would be part of 2.3.1

[2017-08-08 23:28] WaterBleu opened #164 "[Feature Request] Attribute readOnly"
is it possible to implement readOnly attribute?
reason being that I'm not looking to disable the input but have the input readOnly
but also disable the toggling the calendar onclick

[2017-08-09 03:52] vlio20 commented on #164
Not sure what are the differences... Please elaborate.

[2017-08-09 10:01] vlio20 commented on #158
Is there a problem to add a class to the theme attribute?

[2017-08-09 10:29] Meistercoach83 commented on #158
sorry, I´m in hospital... will answer it asap

[2017-08-09 10:58] vlio20 commented on #158
I hope it for child birth reasons!

[2017-08-09 11:26] vlio20 commented on #159
@WaterBleu, @ameyer-pivotal  let me know if you 2.3.1 is fixing your issue

[2017-08-09 12:14] AndreiLukashevich opened #165 "ERROR when using allowMultiSelect together with <input />"
I use datepicker with <input />.

Template:
<input id=date" formControlName="date" class="form-control" [(ngModel)]="date" [dpDayPicker]="config"  theme="dp-material"  mode="day" />

Component:
config: IDatePickerConfig = {
    allowMultiSelect: true,
    format: "MM/DD/YYYY"
  };

If I use the value  allowMultiSelect: false, then there is no error.
If I use the value allowMultiSelect: true, an er

[2017-08-09 13:01] vlio20 commented on #165
on what version are you?

[2017-08-09 13:31] AndreiLukashevich commented on #165
angular 4 (4.3.3), (@angular/cli@1.0.3)

[2017-08-09 13:46] vlio20 commented on #165
I am talking about three version of this component.

[2017-08-09 15:25] ameyer-pivotal commented on #159
Works, thanks!

[2017-08-09 15:39] vlio20 commented on #159
A star would be much appreciated

[2017-08-09 16:01] AndreiLukashevich commented on #165
I use derective
Directive

You can use the [dpDayPicker] directive to attach the picker to any component with an ngModel or a FormControl (using reactive forms).

i.e.

<input name="someName" [(ngModel)]="selectedDate" [dpDayPicker]="config" />

[2017-08-09 16:02] AndreiLukashevich commented on #165
and I use reactive form
<input name="someName" formControlName="selectedDate" [dpDayPicker]="config" />

[2017-08-09 16:13] vlio20 commented on #165
Still, what npm version of this component are you using?

[2017-08-09 16:30] WaterBleu commented on #164
namely the display of it when working with material design

[2017-08-09 16:41] AndreiLukashevich commented on #165
ng2-date-picker@2.3.1

[2017-08-09 17:02] vlio20 commented on #165
Does it happens also in the demo?

[2017-08-09 17:09] AndreiLukashevich commented on #165
If I add in the demo in the config  allowMultiSelect: true, then in the demo the error is also present.

[2017-08-09 19:02] vlio20 commented on #165
@AndreiLukashevich. I would happy to help you but it seems that I can't reproduce the issue. It would be very helpful if you will post a very simple demo with your implementation.

[2017-08-10 05:41] vlio20 commented on #164
I still not sure what is required from this type of option. Can I have an example?

[2017-08-10 08:53] AndreiLukashevich commented on #165
I created the demo project. When I go to the DatePicker component , an error appears in the browser console.

https://github.com/AndreiLukashevich/angular-datepicker-demo

[2017-08-10 09:23] vlio20 commented on #165
Awesome! I will take a look asap

[2017-08-10 14:05] koenz opened #166 "moveCalendarsBy in inline calendar returns a wrong month array"
HI,

I'm using the dp-day-calendar in a project. I can do almost all necessary things with it to create a (sort-of) range datepicker, real nice. I'm looking for a functionality to jump to a certain date (end date or start date). I use the moveCalendarsBy api method but it is not working as expected.

I use the config: allowMultiSelect: true

the issue I have: It jumps to the right month, but when

[2017-08-10 17:52] vlio20 commented on #166
Hi @koenz, so if I will create an API which a capability of moving the calendars to a specific date, will it solve you issue?

Also, could you please post a link of you range selctor implementation?

[2017-08-11 09:55] GuillaumeNury opened #167 "Error in inline monthpicker when selecting the same month in a different year"
![bugdpdatepicker](https://user-images.githubusercontent.com/12662533/29208782-c28fb49c-7e8b-11e7-8de6-ebe5c3f32b89.gif)

Hello, I have a small but annoying bug with your datepicker : i cannot select the same month in another year.

[2017-08-11 09:56] GuillaumeNury opened #168 "ChangeDetection OnPush support"
Hello again,

Could you provide OnPush ChangeDetectionStrategy ?

[2017-08-11 11:09] sharmaspk commented on #119
Hi,
Can you provide the details how to disable a calendar in inline mode? I am trying to bind it with [disabled] attribute, but it's not working.

[2017-08-11 12:59] vlio20 commented on #119
I didn't try it, but you could try to add disabled attribute to the form tag wrapping the calendar component. Please let me know if it works. If not I will reopen this issue.

[2017-08-11 13:01] vlio20 commented on #167
It's not looks like an inline component. Please put your template and configuration.

[2017-08-11 13:04] vlio20 commented on #168
I am not sure what is OnPush ChangeDetectionStrategy. Can you please elaborate?

[2017-08-11 15:19] GuillaumeNury commented on #167
Sorry i meant directive month picker

Here is my template :
[code]
and my configuration :
[code]

[2017-08-11 15:50] GuillaumeNury commented on #168
Sure !

[Here is an example](https://stackblitz.com/edit/angular-datepicker-issue-168)

You can see two components `DefaultChangeDetectionComponent` and `OnPushChangeDetectionComponent`. They both have the same template.

`DefaultChangeDetectionComponent` is just a regular component and `OnPushChangeDetectionComponent` is the same component, but with Onpush change detection strategy.

[code]

In t

[2017-08-11 16:01] koenz commented on #166
Hey, thanks for your fast reply. This would definitely help me!

The project is protected but I can definitely send the range picker implementation. I'm trying to recreate the ww.airbnb.com implementation of the datepicker (only with a single datepicker). therefor I will have refactor that a little bit. Right now it is just a bunch of if statements.

In order to complete my range picker implementa

[2017-08-11 18:42] vlio20 commented on #167
Hi @GuillaumeNury I couldn't reproduce your issue :(
![gif](https://media.giphy.com/media/xT39D0cfruei8vUqkg/giphy.gif)

On what version are you? (the gif taken on version 2.3.1).

[2017-08-11 19:30] vlio20 commented on #165
Issue was fixed on master, will be available in next version (2.3.2)

[2017-08-11 19:30] #165 closed

[2017-08-11 19:31] vlio20 commented on #128
will close this for now

[2017-08-11 19:31] #128 closed

[2017-08-11 19:42] vlio20 commented on #168
@GuillaumeNury, I read the blog (partly), I am a little afraid to add `changeDetectorRef.markForChange()` after toggling the picker - as it prou obably should be added in other places (right?).

Do you think other places should have `changeDetectorRef.markForChange()`?

[2017-08-14 16:18] WaterBleu commented on #164
example being when using input as display field.
the input itself has readOnly tag but onClick of the input field calendar still pops out.
only eliminated when the whole input field is disabled (which is not the intended result)

[2017-08-14 16:36] vlio20 commented on #164
I suggest you to use just css for that. You could put pointr-events: none on the component. This way no cluck events will take place. Let me know if it helps you.

[2017-08-16 12:01] nileshbhagwat opened #170 "date picker popup top alignment issue"
Input field is not visible properly

![image](https://user-images.githubusercontent.com/22997240/29362216-a427917a-82a8-11e7-8117-448b3c7e6a0a.png)

[2017-08-16 13:26] nileshbhagwat commented on #170
fixed with#171
closing issue

[2017-08-16 13:27] #170 closed

[2017-08-17 05:22] kirstenfrager opened #172 "setting default time when timepicker appears"
Is there anyway to have a specific time set as the default for the time picker?
Currently the time before changing is 12:00 AM.
would like to have the option to setting a specific time instead of that one.
is this possible?

[2017-08-17 06:55] vlio20 commented on #172
You can do it by providing a date to the `Model`

[2017-08-20 19:56] GuillaumeNury commented on #167
Hello, I'm using 2.2.0. I will try the new version tomorrow

[2017-08-21 12:02] GuillaumeNury commented on #167
Hi, I think I found the issue !

In `month-calendar.component.ts`, in the `init()` method, you use:
[code]

As a remember, here is the `getDefaultDisplayDate` method:
[code]

As you do not `clone()` Moment object, I am in the case where `selected[0] === currentDateView`.
So, when I click on right nav, `onRightNav()` is called and when you do `this.currentDateView.add(1, 'year')`, `selected[0]` is

[2017-08-21 12:18] GuillaumeNury commented on #168
It is hard to say, but whenever you use a `setTimeout` and you update some properties, you need to call it.

For example, the `onDateClick()` method in `date-picker.component.ts` should call `changeDetectorRef.markForChange()` after calling `hideCalendar()`.

If you want, I can help you ! 😃

[2017-08-21 12:20] vlio20 commented on #168
PR would be much appreciated!

[2017-08-21 16:54] nareshurs opened #173 "dp-date-picker always opens current year/month in pop up view on default open"
I am trying to show some default month and year to user with dp-date-picker. When user tries to edit, opened datepicker always shows current year even if default value has any one of the previous years.

Is there a way to fix this. I did not find a way in configuration options.

ex: default value is Aug,2015. When I open date picker it shows current month and year instead of displaying 2015 with A

[2017-08-22 18:09] vlio20 commented on #173
So, what you asking, is to add a capability to open the calendar on specific date - right?

[2017-08-23 21:01] amyrhsieh opened #174 "console.log() in v2.3.1"
https://github.com/vlio20/angular-datepicker/blob/e918d377e6e7f996748803549fd40a3ea2d852e0/src/app/day-time-calendar/day-time-calendar.component.ts#L152

Please remove this console.log(); it is filling up my console every time I select a date. Thanks!

[2017-08-24 05:36] vlio20 commented on #174
Thanks! Do you want to PR?

[2017-08-24 12:22] Hampfter commented on #163
I have a similar Problem. The quick and dirty solutuion would be to modify the code this way:

        if (this.appendChild)

[2017-08-24 14:11] amyrhsieh commented on #174
Sure, to be clear, I should create a branch off of master with the fix, then create a PR for that branch?

[2017-08-24 14:13] vlio20 commented on #174
Correct

[2017-08-24 14:48] amyrhsieh commented on #174
I created a local branch but do not have permission to push. Please give me access, thank you.

[2017-08-24 14:51] vlio20 commented on #174
You should fork and then create a new branch.

[2017-08-24 14:58] amyrhsieh commented on #174
Thanks, I just did it. I had never done this before, it's good to learn!

[2017-08-24 16:14] vlio20 commented on #174
Awesome! Let me know if you need any help

[2017-08-24 17:27] ld-gary opened #176 "Close on ios not firing"
Hey, thanks for this great solution to the lack of date/time pickers that play well with ng4!

Apologies if I'm missing something obvious here but I'm having an issue on ios. Basically the picker isn't closing when clicking (touching as it's ios) outside of the date picker, as happens in a desktop environment. It closes if I focus another input in the form, but not if I just want to escape the pic

[2017-08-24 18:25] yaswanthpsl opened #177 "Validation for date format in reactive forms (Directive)"
[code]

1. Is there any validation to find if the format is correct?

[2017-08-24 19:03] vlio20 commented on #176
Does it reproduced on Safari? on what browser are you?

[2017-08-24 19:05] vlio20 commented on #177
Honestly, I don't remember - I an on a vacation right now - will return back with an answer during next week

[2017-08-24 19:18] ld-gary commented on #176
Both Chrome and Safari...

[2017-08-24 19:54] vlio20 commented on #176
I mean on desktop's Safari

[2017-08-24 20:09] ld-gary commented on #176
No it's fine on desktop, fine on device emulation in chrome. Just actual mobile device is where I'm seeing the issue.

[2017-08-24 21:44] vlio20 commented on #176
mahhh, this one would be hard to test. Will need help with this one.

[2017-08-24 21:45] vlio20 commented on #174
Thanks for the PR.
Will be available in next release

[2017-08-24 21:45] #174 closed

[2017-08-24 21:50] ld-gary commented on #176
Ok no worries. I'm on a very tight deadline so may have to fudge some hacky solution for now but if I spot a fix in the package I'll hit you up. Thanks!

[2017-08-26 13:22] ld-gary commented on #176
Hey, would it be possible to subscribe to open and close events for picker instances? My workaround involves introducing a close button on mobile but the logic gets pretty messy when catering for all platforms without a simple close event/state to subscribe to. This possible? I can't see anything currently to subscribe to.

[2017-08-26 17:51] vlio20 commented on #176
sounds plausible. Could you please open a different issue for that?

[2017-08-26 20:31] ld-gary opened #178 "[Feature Request] Open/Close Subscribe"
Would be really useful in a lot of cases to have open and close event emissions to subscribe to!

[2017-08-28 07:43] vlio20 commented on #172
@kirstenfrager, did it help?

[2017-08-28 07:48] vlio20 commented on #177
Seems like there is no such validation. I will put it as a feature request.

[2017-08-28 07:50] vlio20 commented on #167
@GuillaumeNury, did you try to update the version?

[2017-08-28 08:00] yaswanthpsl commented on #177
Thanks!

[2017-08-28 08:24] GuillaumeNury commented on #167
Yes, the problem I pointed out was on the latest available version.

Here is a stackblitz that reproduce my problem : [HERE](https://stackblitz.com/edit/angular-datepicker-issue-167?file=app%2Fapp.component.html)

![angular-datepicker-167](https://user-images.githubusercontent.com/12662533/29765339-1893221e-8bdb-11e7-8971-688363a79f2b.gif)

[2017-08-28 08:46] vlio20 commented on #158
Because angular 2+ adds random attribute to the component tags, you will have to use important in your CSS attributes.

Cloasing for now

[2017-08-28 08:46] #158 closed

[2017-08-28 08:46] vlio20 commented on #164
closing for now

[2017-08-28 08:46] #164 closed

[2017-08-28 08:58] vlio20 commented on #167
Awesome! I will try to reproduce on the demo page

[2017-08-28 09:07] GuillaumeNury commented on #167
You need to initialize your component with a Date. In the demo, your datepicker is never populated on init.

In the `getDefaultDisplayDate` method of your `UtilsService`, I am in the following case:
[code]

[2017-08-28 09:58] vlio20 commented on #167
Do you want to submit a PR? it will be much faster

[2017-08-28 10:05] GuillaumeNury commented on #167
Sure !

[2017-08-28 10:16] vlio20 commented on #167
awesome!

[2017-08-28 14:49] #167 closed

[2017-08-30 04:28] kirstenfrager commented on #172
@vlio20 yes it did, thank you :)

[2017-08-30 04:34] #172 closed

[2017-08-30 21:35] WaterBleu opened #180 "[Feature Request] Insufficient height for calendar"
The plugin works really well on a desktop.
However when navigating from a smaller screen (mobile phone) calendar gets cut off
so two solutions..
1. When event happens just pop up the calendar in dead center.
2. When event happens position the calendar that it is still relatively above/below the element but still within the bounding box

[2017-08-31 06:11] vlio20 commented on #180
Please share a screenshot.
Regarding your first suggestion. You could do it yourself with css.

[2017-08-31 20:54] WaterBleu commented on #180
[Screenshot](http://imgur.com/a/rYVhm)

[2017-08-31 21:38] vlio20 commented on #180
As I mentioned before,  You should solve this issue in your own application css.

Currently I don't want to add classes per platform.

[2017-08-31 21:38] #180 closed

[2017-09-01 04:12] HuChaoyong commented on #163
I got same error in my application.

     HistoricalDataContent.html:1 ERROR TypeError: Cannot read property 'removeChild' of undefined
    at DatePickerComponent.webpackJsonp../node_modules/ng2-date-picker/date-picker/date-picker.component.js.DatePickerComponent.ngOnDestroy (date-picker.component.js:269)
    at callProviderLifecycles (vendor.dll.js:11709)
    at callElementProvidersLifecycles (ve

[2017-09-01 07:24] vlio20 commented on #163
The component wasn't built for SSR (yet) I will be glad for PR.

[2017-09-02 15:16] hugohernani commented on #155
I'm having the same exactly issue.

[2017-09-03 12:47] jalberto-ghub commented on #173
I am trying to use the date-picker on a (Add/Update) form and would like the date-picker start on the current value (current Moment value on the ngModel). The initial value gets displayed on the form, but the date-picker opens on "now" no mater what. That seems strange if not wrong. Actually the more I think of it the more it looks like a bug.

[2017-09-03 17:04] nareshurs commented on #173
Yes. There should be a way to open initial date picket as per default value. We need capability to open based on a specific date

[2017-09-04 02:58] jalberto-ghub opened #181 "ngModel produces a moment instance when field variable originally an empty string."
When the ngModel variable is originally a none empty string, and one provides format property in config, dp-date-picker returns a string as the new value. But if the ngModel is originally the empty string, dp-date-picker produces a moment instance when a date is selected.

Is there a way to specify one wants it to produce the formatted string date instead of a moment?

[2017-09-04 04:23] vlio20 commented on #181
When the initial value is an empty string, are you also providing a format?

[2017-09-04 09:58] jalberto-ghub commented on #181
Yes, I am providing a format in the config. Here are the initialisation:

now: moment.Moment = moment();
  monthlyCfg = {format: 'YYYY-MM'}
  dobCfg = {
    format: 'YYYY-MM-DD',
    max: moment(this.now).subtract(18, 'years'),
    showMultipleYearsNavigation: true
  };

ngOnInit() {
    this.profile.personal.dob = this.dobCfg.max.format('YYYY-MM-DD');
    this.card.starts = '';
    this.card.expi

[2017-09-04 10:06] jalberto-ghub commented on #181
It would be nice if there was a way to specify in the configuration whether one wants a moment or a string in the ngModel, rather than the picker guessing.

[2017-09-04 10:55] vlio20 commented on #181
So there is an edge case when you are providing an empty string then you are getting a moment object instead of string, correct?

[2017-09-04 12:25] jalberto-ghub commented on #181
Yes, that is the case. In my case the field is optional, so it can be empty. I would have preferred for it to start as undefined, but then db-date-picker guessing strategy falls apart.

[2017-09-04 12:46] jalberto-ghub commented on #173
One more thing about this issue, The problem is in particular annoying when you have set min/max values for the date and today is outside the range. Think of a date restriction of 18 or older. So max=moment().substract(18, 'years')

in this case the user will see unselectable dates for the last 18 years. It would make more sense to instantiate the calendar where values are valid.

[2017-09-04 20:41] ninethug opened #182 "Setting the configuration for dpDayPicker"
Hi,
First, thank you for this work, that's the best date picker i found for angular 👍

I don't know if that's an issue or I juste don't know how to use it.
Here is my code :
`<input name="selectedDate" [(ngModel)]="selectedDate" mode="daytime" [dpDayPicker]="config" theme="dp-material" />`
and the configuration in my component is :
`config = {
    hours24Format: 'false',
    firstDayOfWeek: 'mo',

[2017-09-05 06:05] kirstenfrager opened #183 "accessing the CSS for calendar border"
Hello,

How do I access the CSS for the actual border of the calendar?
I thought I was accessing it correctly (reflects changes I made in localhost) but after I build the CSS property disappears.
I am accessing it through: dp-material[_nghost-c2] .dp-calendar-wrapper[_ngcontent-c2]
which I know isn't the correct way. But can't seem to find a class for it.

[2017-09-05 07:30] vlio20 commented on #183
The current solution is to use !important. Let me know if it works.

[2017-09-05 09:49] vlio20 commented on #182
Can you create some StackBlitz for that? https://stackblitz.com/edit/angular-mpajro

[2017-09-05 17:12] ninethug commented on #182
Here : [https://stackblitz.com/edit/angular-cfynma]

[2017-09-05 23:00] nileshbhagwat commented on #183
@kirstenfrager if you are using style encapsulation then you may want to take a look at
:host /deep/ (before 4.3)
:host ::ng-deep (4.3 onwards)

[2017-09-05 23:53] WaterBleu opened #184 "[Feature Request/Question] Trigger dialog to resize to fit calendar"
is it possible to trigger resizing the dialog as calendar pops up?
right now the calendar is blocked due to dialog not resizing

Repro:
1. single input line on dialog with calendar attached

[2017-09-06 00:07] #184 closed

[2017-09-06 06:23] vlio20 commented on #182
1. close on select is not suppose to work in day-time-picker - it doesn't make sense in this case. regarding the format - I am taking a look

[2017-09-06 07:34] T3Alc opened #185 "Changing minutesInterval after init does no work."
Timepicker
Setting `config: IDatePickerDirectiveConfig = { minutesInterval: 5 };` works fine, but if I want to change that value during run-time, picker uses old settings. While number itself changes in config var correctly.

[2017-09-06 07:39] vlio20 commented on #185
I will take a look, as a workaround I suggest to do a small hack and re-render the component.

[2017-09-06 07:40] vlio20 commented on #183
closing for now

[2017-09-06 07:40] #183 closed

[2017-09-06 07:52] T3Alc commented on #185
Thanks for suggestion. I didn't mention that I was using `[dpDayPicker]` directive.

[2017-09-06 17:08] ninethug commented on #182
I see, maybe documentation needs to be up to date.
However, other options are not working.

[2017-09-06 17:48] WaterBleu opened #186 "[Feature Request] hide/show inline calendar"
Due to dialog resizing issue I would like to request for
onClick input to show calendar and onselectdate to hide it.

[2017-09-07 09:22] sgavinolla001 opened #187 "Option to disable Array of dates."
Hi

Do we have any option to disable array of random dates here.

Thanks

[2017-09-07 09:38] vlio20 commented on #182
you should use `showTwentyFourHours: false` in order to disable it. https://stackblitz.com/edit/angular-piggrw

as you can see there is also no seconds in the time picker

[2017-09-07 09:39] vlio20 commented on #187
I am not sure I understand, can you please elaborate?

[2017-09-07 09:44] sgavinolla001 commented on #187
I have a requirement to enable random dates.. not in a interval of dates
I'll be passing some list of dates and those should be enabled and others should be disabled.
The dates are not in a range or interval, they are random.

[2017-09-07 09:49] vlio20 commented on #187
does `isDayDisabledCallback` helps you? please read about in the docs

[2017-09-07 12:08] ninethug commented on #182
I see, so the configuration is only dot the date time picker, it will be useful to have the same in the input.
For example if showSeconds is false, the input should be in 'dd-MM-yyyy HH:mm' format. Maybe a new feature ?
Thank you

[2017-09-07 12:56] vlio20 commented on #182
You can have the input to be in any format as you like:
https://stackblitz.com/edit/angular-3buyok

[2017-09-07 13:04] sgavinolla001 commented on #187
Actually  I am having an array of dates and have to enable only those, this
I can't be doing with the disablecallback.

*Thanks & Regards*

*Srikanth Reddy.G*
*MangoApps Inc*
*Ph:9963333368*
*Email:srikanthgovinolla@gmail.com <Email%3Asrikanthgovinolla@gmail.com>*

On Thu, Sep 7, 2017 at 3:19 PM, Vlad Ioffe <notifications@github.com> wrote:

[2017-09-07 13:50] vlio20 commented on #187
I think you can. The callback called for each date in the calendar, so if you callback returns true or will be disabled. This way you can check if that date is present in the list of random dates you have.

[2017-09-07 13:50] #182 closed

[2017-09-07 18:33] vlio20 commented on #186
Can you please elaborate, I am not sure I am following your request

[2017-09-08 13:02] vlio20 commented on #166
hi @koenz, you could achieve moving the calendars to a specific date by using the displayDate attribute, you can find it in the documentation.

[2017-09-08 13:03] #166 closed

[2017-09-08 13:03] #187 closed

[2017-09-08 13:05] vlio20 commented on #185
@T3Alc, in order to make it work you will have to pass a new reference to the configuration object:
[code]

this will make the component take in to consideration the new configuration.

[2017-09-08 13:05] #185 closed

[2017-09-08 14:27] vlio20 commented on #173
please use `displayDate` it should handle exactly your case, it wasn't documented but no it is.

[2017-09-08 14:27] #173 closed

[2017-09-08 14:27] #147 closed

[2017-09-08 16:51] #178 closed

[2017-09-09 19:38] vlio20 commented on #173
I don't think I understood, could elaborate please?

[2017-09-09 20:07] jalberto-ghub commented on #173
You know the little round icon on the text field that you can click on. It takes the calendar to display "today". But if you have set min/max in config so that "today" is out of range and you are on a valid date, you will not have arrow controls allowing you to move towards "today", but you can still do it by clicking on the button. It seems to me that is not the right behaviour, it should be eith

[2017-09-09 20:18] vlio20 commented on #173
please open a different issue

[2017-09-09 20:29] jalberto-ghub opened #189 "Today radio button still active when "today" is out of range."
When the date-picker is configured with min/max values that exclude "today". The radio button still allows one to move the calendar outside the valid range.

Either the radio button should be disabled, or only move as far as the min/max values allow, or maybe if displayDate is set to a value in range, then go to that date.

In the following picture displayDate == config.max == (now - 18 years) how

[2017-09-09 20:31] jalberto-ghub commented on #173
See https://github.com/vlio20/angular-datepicker/issues/189

[2017-09-11 13:10] ninethug opened #190 "[New feature] Show a message when hover"
Hi,
Do you think that it's possible to show a message when the mouse hover a particular date, maybe on the inline calendar ?

[2017-09-11 13:40] vlio20 commented on #190
This is a very specific request, as different users might want  a different behaviour.
What do you thing if I will provide you with a callback when users hovers on date? what data would you want to receive?

[2017-09-11 14:03] ninethug commented on #190
I'm new in angular and don't master well yet. Callbacks are little bit abstract to me. But basically, I need to show how many events are organized for one day when hovering it.
For example if a user hover the 10th of october, he has to see a little floating message saying 10 events.
Here is an example :
![image](https://user-images.githubusercontent.com/5955496/30278447-a9d94110-970a-11e7-8219-f8e

[2017-09-11 15:57] vlio20 commented on #190
Again, adding a tooltip to this component is something that I don't to do. What is possible is to provide a notification (transmit event) when item is being hovered

[2017-09-11 16:47] jphearse opened #191 "Trigger after dropdown is closed"
I want to trigger a function after the user has selected a date/time and has closed the dropdown. What is the best way to do this? I am currently using (blur)="function()", but this gets called every time I click a date or arrow through the time.

[2017-09-11 17:28] McB0y opened #192 "Which are the correct parameters that need the picker's constructor?"
First I wanna say thanks for share this wonder component!

Well I try to use the component as a month picker and I'm setting some properties without any problem, but If I use the component with a *ngIf directive I cannot manipulate the picker because appears an error message on my console like this:
'TypeError: Cannot set property 'theme' of undefined'

I guess this ocurs because I haven't any ins

[2017-09-11 17:31] vlio20 commented on #191
do you want to trigger it on select or on close?

[2017-09-11 17:32] vlio20 commented on #192
please create a demo or even better stackblitz

[2017-09-11 17:56] McB0y commented on #192
@vlio20  thanks!

https://stackblitz.com/edit/angular-2xssfs

[2017-09-11 18:29] jphearse commented on #191
Preferably on close.

[2017-09-11 23:48] WaterBleu commented on #191
yeah this would be nice. I think I was using ngModelChange and that lead to a unpleasant result

[2017-09-11 23:50] WaterBleu commented on #186
basically on inline calendar.
when clicking on input shows the inline calendar
when onSelect would hide the inline calendar
or a trigger for the *ngIf denoting the state of the calendar

[2017-09-12 07:53] jak opened #193 "Custom CSS classes in a callback"
Much like dayBtnFormatter and related options, I think it would be useful to have a callback for defining custom CSS classes depending on the button.

Proposed option is `dayBtnCssClass` and `monthBtnCssClass`, with signature `(day: Moment) => string` where the resultant string is added to the `ngClass` on the button.

Would you be open to a PR for this feature?

[2017-09-12 08:04] vlio20 commented on #191
Please see https://github.com/vlio20/angular-datepicker/issues/178, it will be released in the next few days.

[2017-09-12 08:04] #191 closed

[2017-09-12 08:24] vlio20 commented on #193
Sounds like a nice feature.
Sure, I would be happy for PR.
Could you please elaborate on how you are planning to implement it?

[2017-09-12 08:45] jak commented on #193
I'm probably going to follow the `btnTextFormatter` as an example where possible. As the [component html currently places the classes in place](https://github.com/vlio20/angular-datepicker/blob/master/src/app/day-calendar/day-calendar.component.html#L28-L34) and I'll need to add a key to the object, I'll creating the object it into the component class instead.

[2017-09-12 15:09] vlio20 commented on #192
you are not providing the configuration to the component:
[code]

So I am not sure what is the problem

[2017-09-12 15:10] vlio20 commented on #189
That makes sense. I will apply add this to next release.

[2017-09-12 15:10] vlio20 commented on #189
@jalberto-ghub, would you like to submit a PR?

[2017-09-12 15:55] McB0y commented on #192
Sorry I was trying avoid the creation of a object configuration whith this:

            this.datePicker.theme = 'dp-material';
            this.datePicker.mode = 'month';
            this.datePicker.placeholder = 'Sep-17';

But now I' m mindful how it works.

Thank's a lot for your time and again for share this component :)

[2017-09-12 16:19] vlio20 commented on #192
I am glad to help! Stat would be much appreciated!

[2017-09-12 16:19] #192 closed

[2017-09-12 20:43] ninethug commented on #190
I'll try to modify the source code by myself to get what i need when the mouse is on a date.
Thank you anyway.

[2017-09-13 07:13] #190 closed

[2017-09-13 16:20] #193 closed

[2017-09-13 16:23] vlio20 commented on #186
if this is an inline component you can use you own logic and hide/show it with `*ngIf` or `[hidden]`

[2017-09-13 16:23] #186 closed

[2017-09-13 17:20] WaterBleu commented on #186
right but I have no idea when the calendar button is clicked.
meaning I cannot add action to it

[2017-09-13 17:46] vlio20 commented on #186
why wouldn't you use the directive? why are you trying to implement input with an inline component?

[2017-09-14 04:38] sree526 opened #195 "month picker not working"
I have done npm install of the dependency and imported in ngmodule and used the selector provided there and it's not working at all. Am I missing anything else here?

[2017-09-14 05:14] vlio20 commented on #195
Please provide more info. Demo code will be much appreciated!

[2017-09-17 17:00] vlio20 commented on #195
Closing for now

[2017-09-17 17:00] #195 closed

[2017-09-18 12:35] ninethug opened #196 "Multiple questions"
Hi,
As I'm new on angular world, I have some difficulties using the datepicker, the documentation is not too clear for beginners. I create only this post for all questions to not spam the main thread.

1-  How can I resize the inline day calendar ?
2- The date I get from the inline day calendar is typed as Moment even if I specified the format to 'DD-MM-YYYY' , how can I get it as a String ?
3- Ho

[2017-09-18 12:59] vlio20 commented on #196
hi,
1. You can do it with your custom css.
2. you need to pass a format (you can find it in the documentation). Also you can trasform moment object to any string format - please see moment documentation.
3. You can specify any class you want - make sure that when you override css attributes add `!important.
4. I believe that you should use minDate in this case and not `isDayDisabledCallback ` plea

[2017-09-18 12:59] #196 closed

[2017-09-18 13:51] ninethug commented on #196
1- When I resize the width of the calendar, it breaks it. I'm wondering if there is a way to resize not only the block but also characters inside to avoid breaking it.
2- Yes, I could use format to get a string, I asked because I said maybe there is a way to get it as string directly.
3- Could you please add a simple example in the stackBlitz ? https://stackblitz.com/edit/angular-cfynma
4- The doc

[2017-09-18 16:43] vlio20 commented on #196
1. You can increase any property you need. Or use transform: scale attribute (css) which is a bit hacky.
2. Currently, there is no way.
3. The way that you set material theme, you could use any other custom theme.
4. Please provide a reproduction on stack blitz.

[2017-09-18 16:53] ninethug commented on #196
Here https://stackblitz.com/edit/angular-cfynma  you could find a reproduction for the question 4.

1- Where to find the list of properties I can increase to resize the calendar ?
3- Same for the first question, how to find classes to extend ? Could add to the stackblitz just a simple sample to start.

I only need how to start and I'll find the way to go. Thank you

[2017-09-18 18:23] vlio20 commented on #196
1. there is no such list. It is just css properties - not something specific for this component.
3. Seems like there is a bug with overriding styles - I will open an issue for that. The fix should be simple and will be released in next few days.
Regarding the min date, here is an example: https://stackblitz.com/edit/angular-1nchlc.

note: `IDayPickerConfig` should be `IDatePickerConfig`.

[2017-09-18 18:53] ninethug commented on #196
1- I'm talking about the css properties, the calendar maybe specify some css properties for the default calendar, and I have to override them no ? If yes, where can I find those properties ?
I'll be waiting for the fix.

Note that in the documentation, it says IDayPickerConfig. Maybe a mistake.

[2017-09-18 18:55] vlio20 commented on #196
1. no specific, you will need to change the one you need to make it look as you want.
Yes I noticed. could you open a ticket for that? PR would be awesome !

[2017-09-18 20:29] vlio20 commented on #196
@ninethug, the version was released (2.4.0).
Please note that now you can add the styles you want to the you main css (if you are using angular-cli, it's you styles.css)

[2017-09-18 20:48] ninethug commented on #196
Okay, thank you but which classes I have to override in my styles or where to find theme ?

[2017-09-18 20:51] vlio20 commented on #196
I am not sure what you are trying to do, but try to use devtools to see what elements should be changed in order to apply your requirements.

[2017-09-18 20:58] ninethug commented on #196
My bad... I forgot that I can find classes with devTools... Coming from back end dev, I don't have yet the good reflex. Anyway, thank you

[2017-09-18 21:01] vlio20 commented on #196
np, let me know if you need any further help. ⭐️ would be much appreciated!

[2017-09-19 06:50] amr-alamir opened #197 "Cannot include ng2-date-picker in a plunker"
I tried to include **ng2-date-picker** in [this **plunker**](https://plnkr.co/edit/Wwj8djdo7rJyemJMllFu?p=preview) via **systemjs** as follows:
[code]
but I got the following Errors:

[code]
![image](https://user-images.githubusercontent.com/17075151/30578980-de04f2c4-9d16-11e7-88e7-b10ea6e46945.png)

it seems that **utils.service** couldn't load **moment.js**

how to include the package in a plun

[2017-09-19 07:20] ert78gb opened #198 "Date type support"
Hi,

Why support only moment and string input / output type?

thx,
Robi

[2017-09-19 07:48] vlio20 commented on #197
not sure, you will have to add moment as well probablty

[2017-09-19 07:49] vlio20 commented on #198
This is on my list of features to support native Date type as well. I will mark this issue as a FeatureRequest. If you want to PR it would be awesome!

[2017-09-19 08:28] ert78gb commented on #198
Cool. I will need it in the next 2 week, so I will working on it...

[2017-09-19 10:54] mehrjouei opened #199 "datepicker input with default Gregorian date"
Is it possible to have a for example "edit" form with filled data that birthday input date have Gregorian date and after load date picker show date in jalali?
I want to bind and initialize datepicker with gregorian date But user see jalali date and can modifiy it in jalali.

[2017-09-19 11:43] vlio20 commented on #199
Not sure what do you mean, you can set any format and any locale.

[2017-09-19 11:43] #199 closed

[2017-09-19 19:29] ninethug commented on #196
Hi vlio,

Are you sure that we can override style in 2.4.0 ? I tried to do so but it's not working, you can see an example here https://stackblitz.com/edit/angular-gvmkzj

[2017-09-19 21:03] vlio20 commented on #196
If you want to override the styles of child components you will have to use:
`ViewEncapsulation.Native` or `ViewEncapsulation.None`
here is an example: https://stackblitz.com/edit/angular-duz7hz

Another option is to add a global style. Please checkout:
https://stackblitz.com/edit/angular-6rupxj?file=index.html

you can see that the styles were set globally in index.html (you could include a css f

[2017-09-20 07:46] ninethug commented on #196
Oh yes, it rocks !
Last question if you don't mind. How can I do to set my css properties as a theme and pass it to calendar like the dp-material ?

[2017-09-20 07:58] vlio20 commented on #196
the theme is just the encapsulation, it will be the wrapping class if provided

[2017-09-20 08:51] ninethug commented on #196
I see, thank you !

[2017-09-20 20:58] WaterBleu opened #200 "[BUG] calendar doesn't close consistently on close"
symptom: when multiple input exists calendar doesn't close consistently

[updated plunker](http://plnkr.co/edit/MyNzic?p=preview) <~ can also be used for future ng2-date-picker template

[2017-09-20 21:40] WaterBleu commented on #197
was able to do it in #200

[2017-09-21 01:59] #197 closed

[2017-09-21 04:53] vlio20 commented on #200
What are the steps to reproduce

[2017-09-21 07:25] amr-alamir commented on #197
@WaterBleu @vlio20  thank you this fixed the issue

[2017-09-21 07:56] amr-alamir opened #201 "Setting firstDayOfWeek to 'st' hangs the page eating all processor"
In [**this plunker**](https://plnkr.co/edit/Wwj8djdo7rJyemJMllFu?p=info) I used [dpDayPicker] **directive**, and when I try to set **`firstDayOfWeek `** configuration, the page hanges with 100% processor (actually 25% in 4 cores).

I removed [ngModel] for simplicity.

[2017-09-21 10:11] vlio20 commented on #201
Does it happens in the component as well?

[2017-09-21 12:37] amr-alamir commented on #201
yes, I change d to component and yes, same result

[2017-09-21 14:54] vlio20 commented on #201
Without changing the default first day of the week, does it still happen?

[2017-09-21 15:23] amr-alamir commented on #201
I tried different values, and this is the behavior:
- No problem with all values `'su', 'mo', 'tu', 'we', 'th', 'fr'`  and including `'sa'`
- Only value `'st'` gives the problem
- In my local machine, when using `'sa'`, I get typescript error `Type '"sa"' is not assignable to type 'WeekDays'.` so I had to use `'st'`, which gives the problem

[2017-09-21 16:46] WaterBleu commented on #200
steps are putting 2 md-input onto the screen and attach datepicker to both

[2017-09-21 17:11] vlio20 commented on #200
And what happens then?

[2017-09-21 17:13] WaterBleu commented on #200
when clicking on the calendar it doesn't close consistently

[2017-09-21 18:46] vlio20 commented on #201
@amr-alamir, do you want to submit a PR?

[2017-09-21 18:48] vlio20 commented on #200
@WaterBleu, I will need your help with that one. Could you please create a fork and than create a demo which reproduces the issue as seen in the plunker you provided?

[2017-09-21 18:52] WaterBleu opened #202 "[Feature Request] onSelect output on day-time-calendar"
was using onChange for triggering closing dialog (md-dialog), but on switching the time would trigger the dialog to close resulting in unable to switching to the required time.

[2017-09-21 19:05] vlio20 commented on #202
Could you use the `close` output?

[2017-09-21 19:29] amr-alamir commented on #201
ok, I'll try

[2017-09-21 21:12] WaterBleu commented on #202
I was not able to use the `close` output.
this is a inline day-time-calendar by the way

[2017-09-22 16:35] WaterBleu commented on #200
what do you mean exactly by create a fork and create demo? cause the demo is in plunker no?

[2017-09-22 16:38] amr-alamir commented on #201
In my local development machine, I modified the file `/src/app/common/types/week-days.type.ts`  and changed `'st'` to `'sa'`, and this worked fine and resolved the issue locally.
I submitted the PR (my first PR actually), notify me if there is something wrong

[2017-09-22 16:41] vlio20 commented on #200
the demo on plunker is using the component, I would like to be able to access the component code, so it would be much more convenient to have it set in the demo page of this component - you will find a demo component in the src of this project.

[2017-09-22 17:22] #201 closed

[2017-09-22 17:26] vlio20 commented on #202
mmm... I don't want to make specific events for time/date/month/year change. I would suggest you to see the diff between the changed date and the previous one - and in this way determine what exactly was changed.

Also, why are you trying to implement your own picker where you can use the one provided with this lib?

[2017-09-22 17:26] #202 closed

[2017-09-23 01:32] nathanmarks opened #205 "Duplicate days with moment-timezone."
I am using [moment-timezone](https://momentjs.com/timezone/) in my application, and when I set the default timezone for moment as so in my application:

[code]

it's causing an issue with the date picker resulting in duplicate days:

![image](https://user-images.githubusercontent.com/4420103/30768925-69963906-9fdd-11e7-8da5-0a0a302b1925.png)

Notice there are two days that both claim to be 12th of

[2017-09-23 03:27] vlio20 commented on #205
Holly crap! I will take a look!

Could you share more screen shots of your implementation? It looks awesome!

[2017-09-24 15:18] ninethug commented on #196
Hi vlio,
Did you tried to override dp-day-calendar-container or dp-selected ? I wasn't able to do it.
Please look in your stackblitz here https://stackblitz.com/edit/angular-duz7hz . You specified the background to purple but it doesn't work.

[2017-09-24 20:03] ninethug opened #206 "[New feature] Change days name"
Hi,

Is there a way to change the name of days ? Put for example only the first letter ?

[2017-09-24 20:15] vlio20 commented on #206
please try `weekDayFormat` - looks like I forgot to add this to the docs.

[2017-09-24 20:19] vlio20 commented on #206
let me know if it helps

[2017-09-24 20:31] ninethug commented on #206
It seems there is a bug, It renders a number when I set it to 'd' but works fine if I set it to 'dd'

[2017-09-25 04:24] vlio20 commented on #206
it's not a bug, this is the format, according to MomentJS.

[2017-09-25 04:35] vlio20 commented on #196
You will have to be more specific in your css selector:  https://stackblitz.com/edit/angular-vodlst

[2017-09-25 15:07] ninethug commented on #206
Ok, is there a way to make it show only a letter ?

[2017-09-25 15:35] ninethug commented on #196
I only need to change ".dp-day-calendar .dp-day-calendar-container"  on google dev tools to change the background color, not working when I change it in my app. However, I couldn't change the whole calendar background to green in your example. Please check here: https://stackblitz.com/edit/angular-pmvfdd

[2017-09-25 18:07] vlio20 commented on #196
You should change it in your global css file or in a wrapping component. Again you may need to be explicit in your css selector

[2017-09-25 18:08] vlio20 commented on #206
Not, it doesn't make sense to show only one letter, Sunday and Saturday both starts with S

[2017-09-25 21:17] bun-enoikio opened #208 "production build gives an error"
Hi,
Production build gives me the following error:
 'DpDatePickerModule' is not exported by node_modules/ng2-date-picker/date-picker.module.js
https://github.com/rollup/rollup/wiki/Troubleshooting#name-is-not-exported-by-module
dist/src/date-picker/date-picker.module.js (4:9)
import { CommonModule } from '@angular/common';
import { DpDatePickerModule } from 'ng2-date-picker';
            ^
var Dat

[2017-09-25 22:01] ninethug commented on #206
It does in some other languages

[2017-09-25 23:30] ninethug commented on #196
I don't understand why I can override some css selectors and not others like the container or dp-selected without a wrapper. However, it works fine in a wrapper or in the global css like you said.
Thanks

[2017-09-26 04:18] vlio20 commented on #206
I will add a formatter, callback method.

[2017-09-26 09:07] vlio20 commented on #208
Are you using angular-cli?
please provide some demo project.

[2017-09-26 09:08] vlio20 commented on #206
@ninethug  Please open a different issue for that!

[2017-09-28 13:40] chromano opened #209 "Empty values are not allowed"
First, thank you for this component! While integrating it with my application I noticed that the following error happens when trying to clear the input (using backspace, for example):

[code]

[2017-09-28 14:24] vlio20 commented on #209
What component?

[2017-09-28 15:33] chromano commented on #209
The component is `dp-date-picker` and I'm using it like this:

[code]

[2017-09-28 18:26] #168 closed

[2017-09-29 14:37] lenpino opened #210 "Set initial value, how?"
I see no way to set the initial value (date). I tried setting the string and it shows in the input field, but when I open the calendar the date is still today.

Is there a way to pre populate the calendar with values from the server for example?

Thanks in advance

[2017-09-29 15:27] agustin18 opened #211 "Style problem"
First of all, sorry for my english.

I have a problem, i dont know probably because I'm a beginner. But I have a problem with style when applying this component, I just followed the "getting started" github. I show you a preview of what my component looks. Any idea how I can make it look better? Thank you very much

[https://image.prntscr.com/image/Fuoj16v8QtqLNkZaEi6EmQ.png](https://image.prntscr

[2017-09-29 17:25] vlio20 commented on #210
please provide a stackblitz

[2017-09-29 17:36] vlio20 commented on #211
the link is dead.

[2017-09-29 18:04] agustin18 commented on #211
Sorry i upload again

[https://image.ibb.co/niRmFb/Screenshot_50.png](url)

@vlio20

Thank you

[2017-09-29 18:42] lenpino commented on #210
The files are:
https://stackblitz.com/edit/angular-yrr1bg?embed=1&file=app/auth/useredit/useredit.component.ts
https://stackblitz.com/edit/angular-yrr1bg?embed=1&file=app/auth/useredit/useredit.component.html

The problem is that even though I can see the date (18-09-1970) on the field when the template loads, when I click to open the calendar, it opens on today's date. I want it to open on 18-09-

[2017-09-30 10:11] joakimgk opened #212 "Possible to create a Year Picker?"
Thanks for a great picker component! I've been looking for one with different levels, and your Month Picker is perfect. However, I'd also need a Year Picker. Is that easy to extend?

[2017-09-30 10:40] vlio20 commented on #212
nope, you can use: `showMultipleYearsNavigation`  &  `multipleYearsNavigateBy`

[2017-09-30 10:40] #212 closed

[2017-09-30 15:37] vlio20 commented on #210
you can find `displayDate` in the documentation - I think it is exactly what you need.
Let me know if it solves your issue.

[2017-09-30 15:38] vlio20 commented on #209
Can you please provide a stackblitz?

[2017-09-30 15:40] vlio20 commented on #208
closing for now

[2017-09-30 15:40] #208 closed

[2017-09-30 15:42] vlio20 commented on #200
closing for now

[2017-09-30 15:43] vlio20 commented on #211
you need to set the theme to be: `dp-material" you can find full example in the docs.

[2017-09-30 15:43] #211 closed

[2017-09-30 17:50] #206 closed

[2017-09-30 17:53] #119 closed

[2017-09-30 18:18] #205 closed

[2017-09-30 18:20] lenpino commented on #210
Yes, that was it... thank you!!

[2017-09-30 18:20] #210 closed

[2017-09-30 18:59] vlio20 commented on #198
@ert78gb, any progress?

[2017-09-30 19:01] ert78gb commented on #198
Not yet. The string and moment version is enough for me now

[2017-09-30 19:11] vlio20 commented on #198
cool, I will handle it than :)

Thanks

[2017-09-30 19:19] ninethug commented on #206
Hi vlio,

Thank you for the update, I was waiting for it ! However, I've never used callbacks yet as I'm new to it. Could you give me an example of using it please ?
My apologises for beginners questions

[2017-09-30 19:54] vlio20 commented on #206
Sure:
config: {
   weekDayFormatter: (dayIndex: number) => {
      // return you string according to index
   }
}

Please note that this is still not available via npm

[2017-09-30 20:44] vlio20 commented on #206
your ⭐️ would be much appriciated

[2017-09-30 20:45] ninethug commented on #206
Already done a long time ago 👍

[2017-10-01 13:10] YasserMuhammad commented on #113
i have the same error and i think it's because there's no export for ValidationErrors in @angular/forms

[2017-10-01 14:32] vlio20 commented on #113
I will need a demo project to do some investigation

[2017-10-03 00:20] carlos09 opened #219 "Disable dates"
Hello,
I am trying to figure out a way so to disable certain days out of the.  I was able to get the isDayDisabledCallback working, kind of, but not sure how to match up/compare dates. For example, if i have an array of dates that i would like disabled, how do "add" those in to be disabled?

Thanks!

[2017-10-03 03:33] vlio20 commented on #219
I would convert this array to a Set, then on callback I  would check if the callback date exists in this set.

Please let me know if you need any help.

[2017-10-03 03:33] #219 closed

[2017-10-05 18:49] carlos09 commented on #187
@sgavinolla001 Were you able to do this using the disable callback function? do you have an example if you were able to achieve this?

[2017-10-06 12:50] RichardBoyder opened #220 "Form control name Value"
The config "year month day" works perfectly for the input , but when i see the date added to the FormControl , the format shows : Tue Oct 17 2017 00:00:00 GMT+0200

How do i change the actual format of date that gets inserted to the form control ? in reactive forms.

is there a config i can do?

thanks for a awesome date picker.....

[2017-10-07 08:31] RichardBoyder commented on #220
Anyone able to help?

[2017-10-07 15:06] keshav1007 opened #221 "Unable to make this work"
Hi,

1. Installed : npm install ng2-date-picker --save
2. Imported : import {DpDatePickerModule} from 'ng2-date-picker'; in my app.modules
3. Added into my imports : Add DpDatePickerModule to your module imports

<dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig"></dp-date-picker>

My component has :

selectedDate = new Date();

datePickerConfig = {
firstDayOfWeek: 'su',

[2017-10-07 16:46] vlio20 commented on #221
First, selected date shouldn't be an instance of Date. Currently only string and moment types are supported.

Second, please provide a stackblitz, would be much easier

[2017-10-07 16:48] vlio20 commented on #220
Hi @RichardBoyder. Please provide a stackblitz demo. It would be much easier to help you.

[2017-10-07 17:45] keshav1007 commented on #221
Changed selectedDate as '2017-09-01' - but still datepicker is not coming in the HTML. I am not aware of stackblitz :)

[2017-10-07 17:51] vlio20 commented on #221
Google it :)

[2017-10-07 18:22] keshav1007 commented on #221
Got it.. thanks for introducing stackblitz. Issue was with my app.module. imported DpDatePickerModule into my common modules and it worked. Thanks for the awesome date picker 👍

[2017-10-07 18:22] #221 closed

[2017-10-07 18:29] vlio20 commented on #221
u r welcome!
you ⭐️  would be much appreciated

[2017-10-07 19:32] keshav1007 opened #222 "Always need the date picker to drop down"
Hi,

I always need the date picker to drop down and don't want to change the direction based on the space available.

I have created here : https://stackblitz.com/edit/angular-q4ryeb
I have given the drops as 'down' but still it comes on top(because of less space in the bottom). But i will be having a scrollable div in my application so that i need all datepickers to drop down not on top.

How can

[2017-10-07 19:36] vlio20 commented on #222
I will check it as soon as I will have time, from your description seems like a bug.

[2017-10-08 10:29] RichardBoyder commented on #220
Thankyou I will do so .

Sent from my iPhone

[2017-10-08 14:03] RichardBoyder commented on #220
Basically. When after selecting a date it shows correctly .
<img width="174" alt="screen shot 2017-10-08 at 15 58 34" src="https://user-images.githubusercontent.com/16017411/31317456-b55d9954-ac41-11e7-98ff-69f100ed4c70.png">

but when i write it to page, im using reactive form it appears like this:
<img width="146" alt="screen shot 2017-10-08 at 15 58 45" src="https://user-images.githubuserconten

[2017-10-08 14:06] RichardBoyder commented on #220
this is my line:
<dp-date-picker [theme]="'dp-material'"  [config]="DateInputConfig" placeholder="Date of Birth" formControlName="spouseDateOfBirth" ></dp-date-picker>

[2017-10-08 14:10] RichardBoyder commented on #220
Sorry its a whole project i cant place it in blitz. But its just the functioning of when the value gets put into the formControl that it changes from the simple formated date to the long date. So i just wonder why it does use the config format : DateInputConfig = {format: 'YYYY-MM-DD', appendTo: 'body'};
To insert the exact same format into my formcontrol... why does it change to "Moment" object

[2017-10-08 14:40] vlio20 commented on #220
What is your initial data?

[2017-10-08 15:39] RichardBoyder commented on #220
I am inputing the data straight from the date picker , default settings , no additions, and using that format set up in the config. Nothing else. When I pick a date it adds it to the view exactly as I want it but the binding to the form control changes in the back ground to use a different date format. However I don’t have any control over that.

So this is just a normal date field with no extra d

[2017-10-08 15:46] RichardBoyder commented on #220
im getting this:
<img width="348" alt="screen shot 2017-10-08 at 17 43 00" src="https://user-images.githubusercontent.com/16017411/31318301-3f1f87ca-ac50-11e7-8074-79082468ec11.png">

when i actually want to get a format more like:

{spouseDateOfBirth:'11-22-1980'}

So it displays it correctly in the page... but that spouseDateOfBirth form control it shows a complicated full date and time....

[2017-10-08 16:09] vlio20 commented on #220
This is the reason, currently, when you not providing an initial value the value you will get in return is a Moment object. The format applies to the format seen in the input.

This is the same issue that was reported earlier.

As a workaround, you could format the moment object to any format that you want. I encourage you to read the Moments documentation. It is very simple.

Let me know if you h

[2017-10-08 16:09] #220 closed

[2017-10-08 16:11] RichardBoyder commented on #220
Oh right that makes sense, sorry i didnt see the other issue, yes its the same issue.. Im a bit new to formating the moment object... since its handled inside the datepicker... where would i set the format of the moment ?

[2017-10-08 16:12] RichardBoyder commented on #181
How do we format the moment if we have to get a moment back?

[2017-10-08 16:14] vlio20 commented on #181
The value that you are receiving is a Moment object. It has a method format: date.format('DD-MM-YYYY')

[2017-10-08 16:24] RichardBoyder commented on #181
Would i put this on ngonInit in my component? i have referenced a variable as a moment:

import { Moment } from 'moment';

export class FuneralQuoteComponent implements OnInit {
 myMoment: Moment;

Sorry im a newby with angular and moment. So how do we set a global format for moment and any plugin like date picker to use the global format we want throught the app?

[2017-10-08 16:29] vlio20 commented on #181
There is no global format. You would have to apply the format on every change of the date. You could use the on change callback.

[2017-10-08 16:38] RichardBoyder commented on #181
ok ill do some googling. thankyou for the help.

[2017-10-09 04:41] keshav1007 opened #223 "More than one picker can be opened at the same time"
Hi,

I am able to open more than one date picker at the same time. I want to open only one date picker at a time.

stackblitz : https://stackblitz.com/edit/angular-yg84jc?file=app%2Fapp.component.html

![image](https://user-images.githubusercontent.com/20353796/31325397-2dcfed90-acda-11e7-9c76-bbdf0397510f.png)

how can i avoid this?

[2017-10-09 05:44] RichardBoyder commented on #181
I’m having a hard time changing it. The value is a item in a form control array. Do you know how to change the format when a moment is in a form array?

Sent from my iPhone

[2017-10-09 05:53] vlio20 commented on #181
do you have multiple values? if so, you will have to loop through the array and make the conversion.
[code]

[2017-10-09 07:35] RichardBoyder commented on #181
ok let me give it a shot.

[2017-10-09 07:36] vlio20 commented on #223
seems like it is happening only when clicking on the right side of the input. Probably because of the focus on current day button. I will take a look as soon as I can.

As a workaround I suggest you to disable this button if it is not required in your case.

[2017-10-09 08:15] vlio20 commented on #177
@yaswanthpsl, this is now available in 2.5.0-beta
can you please assert that it is working as expected?

[2017-10-09 10:16] keshav1007 opened #225 "disableKeypress not working for mode='month'"
Hi,

I have set true for disableKeypress and still i am able to edit the input field by key press. This happens only when i set the mode to 'month'.

stackblitz: https://stackblitz.com/edit/angular-yg84jc?file=app%2Fapp.component.html

[2017-10-09 10:34] vlio20 commented on #225
does it happens in the demo page as well?

[2017-10-09 10:51] keshav1007 commented on #225
yes. It happens in demo page as well

[2017-10-09 10:58] vlio20 commented on #225
thanks, will take a look as soon as i can.
Feel free to PR

[2017-10-09 14:10] RichardBoyder commented on #181
is there any way i can add a value property to get the value directly from the date picker into a variable then easier for me to work with so i can patch the variable to the item in the array?

for example doing:

<dp-date-picker [theme]="'dp-material'"  [value]="DOBTEST" ></dp-date-picker>

i am battling to loop through the array.

[2017-10-09 14:17] vlio20 commented on #181
sure, you should provide ngModel

[2017-10-09 15:07] RichardBoyder commented on #181
Interesting I add model with empty date type .. and date is correct . Seems to ignore moment now 👍👍👍👍

Sent from my iPhone

[2017-10-09 16:04] RichardBoyder opened #226 "How to click year to display years"
I notice you can click on the year but it doesnt show year intervals for easy year choosing.

is there a config to allow that?

[2017-10-09 16:21] RichardBoyder commented on #226
ah sorry i found it in another issue.

Sorted.

[2017-10-09 16:21] #226 closed

[2017-10-09 19:56] vlio20 commented on #177
@yaswanthpsl, any updates? I want to release 2.5.0

[2017-10-10 06:46] yaswanthpsl commented on #177
@vlio20 Hey sorry for late response. It's working as expected. Thanks!

[2017-10-10 06:46] vlio20 commented on #177
Awesome!!!

Thanks!

[2017-10-10 06:46] #177 closed

[2017-10-10 07:25] eivindr opened #228 "[Feature Request] Change hardcoded locale 'en' in default config to use current moment locale"
We are setting the moment locale at app init (based on user config) and using moment.js in other parts of the app. But when a datepicker component is included the moment locale is changed to 'en'. This affects all other parts of the system using moment. I know we could define the locale for each datepicker instance, but we want to avoid this.

So what do you think about changing `locale: 'en'` to

[2017-10-10 07:44] RichardBoyder commented on #181
ok it works but not when i add a ngModel, it puts invalid date in the input when the page loads... however when i select date it puts it in correctly...

[2017-10-10 08:47] RichardBoyder commented on #181
all good sorted... i did the following:
so it starts with todays date:

[(ngModel)]="DOBTEST"

 DOBTEST = moment().format('YYYY-MM-DD');

all good now. Doesnt display place holder but this is second best.

[2017-10-10 10:46] vlio20 commented on #228
I need to check into `moment.locale()`. However I wouldn't want the users to use something different than passing a string

[2017-10-10 11:28] eivindr commented on #228
Thanks, as I understand it the default locale in moment is 'en'. `moment.locale()` will return the current locale id as string. They are working on a "default" id that will auto detect the browser locale. But it needs to be manually called, so I think it will be safe to use `moment.locale()` also in the future for 'en' users.
Correct me if I'm wrong.

[2017-10-10 11:40] vlio20 commented on #228
let's say that I will change the default from `en` to `moment.locale()` will it work for you?

[2017-10-10 12:00] eivindr commented on #228
Yes, that would be great!

[2017-10-10 14:25] agustin18 opened #229 "Event problem get dates"
Hello.

Thank you for all your work, sorry for my poor level, but I think I read all the documentation and can't get  the dates I select on the calendar.

I want to select a group of dates and get them with an event. I know I should do it with onchanges. But could you provide me with a minimum code of how I should make that part of code in my. ts file.

on my html page I have this code
[code]

and

[2017-10-10 14:29] vlio20 commented on #229
I would be happy to help. Please provide a stackblitz. Please use the 2.5.0-beta version.

[2017-10-10 15:01] agustin18 commented on #229
Thank you

but the code is the same that i put on the first message.

Here

https://stackblitz.com/edit/angular-ypvqlv

thank you, is the portion of code of calendar.

[2017-10-10 15:18] keshav1007 opened #230 "./locale not found issue"
Since date picker installs moment 2.19.1 there is a known issue with ./locale not found
https://github.com/moment/moment/issues/2979

So how can i avoid this?

Solution is provided for webpacks but i am not using webpack.

[2017-10-10 15:21] vlio20 commented on #230
What type of bundling are you using?

[2017-10-10 15:36] keshav1007 commented on #230
I am using angular-cli. Is that the one you are asking?

[2017-10-10 17:36] priyanka3110 commented on #230
Module not found: Error: Can't resolve './locale' in 'node_modules\ng2-date-picker\node_modules\moment\src\lib\locale' using the ng2-date-picker

[2017-10-10 17:52] vlio20 commented on #230
@keshav1007, angular cli is using webpack behind the scenes. Could you please  post a simple demo project?

[2017-10-10 18:06] vlio20 commented on #229
Next time plz provide a working dir:
https://stackblitz.com/edit/angular-p2p6vg

[2017-10-10 18:06] #229 closed

[2017-10-10 18:23] priyanka3110 commented on #230
![image](https://user-images.githubusercontent.com/31878411/31403240-33b673fe-ae16-11e7-9f24-d19e2244fb58.png)

[2017-10-10 18:25] vlio20 commented on #230
@priyanka3110, Could you please post a simple demo project?

[2017-10-10 18:34] vlio20 commented on #181
resolved in aaecbf7ca1c38625a1c047fbe74e0430eeb5ba77 - will be available in 2.5.0 version. There is an option to add `returnedTypeValue`

[2017-10-10 18:34] #181 closed

[2017-10-10 18:53] agustin18 commented on #229
@vlio20 I thought, showing you the part of the code where datepicker intervenes, you might understand what he was saying. But the code running of the whole project is difficult because I have to ask for authorizations.

What I was asking is how do I get the days that are selected in the calendar with an event. The html structure is here with the onchange event

[code]

but in my. ts code what i ha

[2017-10-10 18:54] sweeti270789 commented on #230
https://github.com/sweeti270789/angular-date-picker-demo

using the ng2-date-picker which throw above error

---Priyanka

[2017-10-10 18:57] vlio20 commented on #230
Please provide a full demo - including the ng2-date-picker module.

[2017-10-10 18:57] priyanka3110 commented on #230
its full demo using the ng2-date-picker-module installed using npm

[2017-10-10 18:59] vlio20 commented on #230
I can't see it in https://github.com/sweeti270789/angular-date-picker-demo/blob/master/package.json (package.json).

Sorry, but it is hard for me to create demos for each issue :)

[2017-10-10 19:00] priyanka3110 commented on #230
Now you can check I forgot to save in package json, sorry,

[2017-10-10 19:09] vlio20 commented on #229
please see this stackblitz, it has a working demo: https://stackblitz.com/edit/angular-p2p6vg

[2017-10-10 19:10] vlio20 commented on #230
I will. thanks!

[2017-10-10 19:12] agustin18 commented on #229
Thank you so much.

[2017-10-10 19:31] vlio20 commented on #229
a ⭐️ would be much appreciated.

Note that the version in the the demo is 2.5.0-beta, but it also should work on 2.4.0 - stay tuned for 2.5.0

[2017-10-10 19:40] agustin18 commented on #229
Thanks a lot, sorry for my poor level.

[2017-10-10 19:57] alvelig commented on #230
`npm i -S moment@2.18.1` should help

[2017-10-10 19:59] vlio20 commented on #229
we all were there, learning takes it's time

[2017-10-10 20:42] #189 closed

[2017-10-11 05:27] vlio20 commented on #225
@keshav1007, note that it happens for all directives

[2017-10-11 12:34] priyanka3110 commented on #222
Same issue I always wanted to make drop down appear at bottom

[2017-10-11 12:34] priyanka3110 commented on #230
After using 2.18.1 the issue is resolved

[2017-10-11 13:05] vlio20 commented on #222
This one is on my list to the next release 2.5.0 or 2.5.1

[2017-10-11 13:07] vlio20 commented on #230
From my understanding, if you want to use a specific locale, you have to add it to your dependencies.

[2017-10-11 17:31] echerepanova commented on #230
Agreed, locally this can be fixed with a npm install moment@2.18.1. But this issue fails on our CI/CD pipelines due to the way package.json has "^2.17.1" for moment dependency.

Is there any resolution for such scenarios?

[2017-10-11 19:17] vlio20 commented on #230
@echerepanova, sure. You need to add it to your package.json with specific version. (without ^)

[2017-10-11 20:57] #225 closed

[2017-10-11 20:58] vlio20 commented on #209
closing for now

[2017-10-11 20:58] #209 closed

[2017-10-12 04:30] kirstenfrager opened #234 "customise date picker size height/width"
Am trying to change the height and width of the calendar date picker.
i am able to access the css elements individually but it comes out very buggy on devices and is not uniform across (can't make it dynamic etc).

Would be awesome to have a simple height/width setter for the whole component or do you know a different way I could do it?

[2017-10-12 04:53] vlio20 commented on #234
I am not planning to add this type of capability.
Css is your best friend here.

Will be happy to assist.

[2017-10-12 04:53] #234 closed

[2017-10-12 04:56] kirstenfrager commented on #234
can you please help me?

i have this:

  // gets rid of the border css for the main calendar body
  .dp-material .dp-calendar-wrapper {
    border: transparent !important;
  }

  // gets rid of the border css for the header of the calendar
  .dp-material .dp-calendar-nav-container {
    border: transparent !important;
  }

  // calendar header row (eg. Oct 2017)
  .dp-material .dp-nav-header-btn {

[2017-10-12 05:29] vlio20 commented on #234
Please create a stackblitz

[2017-10-12 06:06] kirstenfrager commented on #234
never used stackblitz before.
having trouble getting it to read my CSS file.

https://ionic-4ty5xe.stackblitz.io

[2017-10-12 06:38] vlio20 commented on #234
Are you using ionic?

You could look into other issues in this repo, they have a link to a working stackblitz.

I won't be next to a computer until the evening

[2017-10-12 15:18] waveywhite opened #235 "29th October 2017 displayed twice"
I've found that the 29th Oct 2017 is displayed twice.

![screenshot from 2017-10-12 16-15-22](https://user-images.githubusercontent.com/2602241/31503939-e75c3af8-af68-11e7-91ec-ae50975bb419.png)

[2017-10-12 17:53] vlio20 commented on #235
holly crap, indeed.
On what version are you?

[2017-10-12 17:56] waveywhite commented on #235
From npm list:
ng2-date-picker@2.5.0

[2017-10-12 17:58] vlio20 commented on #235
try to rollback. I am working on a fix.

[2017-10-12 18:00] waveywhite commented on #235
Thank you @vlio20. I'll probably wait as this is in development atm and not affecting us yet.
Who knows - perhaps the 29th will be so good it's worth repeating.

[2017-10-12 18:17] vlio20 commented on #235
:)

what is special with the 29th - I think the summer clock (DST) switches to a winter clock (DWT) (winter is coming  ❄️ )

[2017-10-12 18:19] waveywhite commented on #235
Yes, here in the UK it ends at 2am on the 29th. So it's not a way of reminding everyone when it's your birthday, then?

[2017-10-12 18:26] vlio20 commented on #235
Nope, but it's a good idea to put some easter eggs on this fate ;)

[2017-10-12 18:45] #235 closed

[2017-10-12 18:46] vlio20 commented on #235
available now in 2.5.1

[2017-10-12 19:01] vlio20 commented on #230
@priyanka3110 , I cloned your demo project. And didn't get any error :/

[2017-10-13 11:19] waveywhite commented on #235
That fixes it, thank you.

[2017-10-13 11:21] vlio20 commented on #235
Glad to hear

[2017-10-13 11:22] vlio20 commented on #235
Your ⭐️ would be much appreciated

[2017-10-13 11:25] waveywhite commented on #235
Absolutely. Done.

[2017-10-13 20:32] vlio20 opened #238 "Split to Modules"
Split all components to module - this way not needed modules would be shaken off during tree shaking.

[2017-10-13 20:33] vlio20 opened #239 "Stop using getters in template"
By stopping using methods in template getters there is a positive effect on performance.

[2017-10-13 21:53] vlio20 commented on #228
resolved in dd283c5

[2017-10-13 21:53] #228 closed

[2017-10-13 22:26] vlio20 opened #243 "Add outputs of each component to docs"
Add outputs of each component to docs

[2017-10-14 06:39] vlio20 commented on #222
Resolved in c26d168

[2017-10-14 06:39] #222 closed

[2017-10-14 06:42] vlio20 commented on #223
Resolved in dd283c5

[2017-10-14 06:42] #223 closed

[2017-10-14 19:38] vlio20 commented on #243
resolved in 9ee8035

[2017-10-14 19:38] #243 closed

[2017-10-14 20:32] vlio20 commented on #230
@priyanka3110, @keshav1007  I really want to solve this before releasing 2.6.0. I would need your help in reproducing this issue.

I tried using @priyanka3110 demo, but didn't get any error.

Could you please try to reproduce the issue in the demo page of this component? let me know if you need any help or having any question.